Agentforce/force-app/main/default/flows/Account_Next_NPS_Visit_Due_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Account_NPS_4_Week_Inactive_Surveyor</name>
        <label>Account - NPS 4 Week - Inactive Surveyor</label>
        <locationX>842</locationX>
        <locationY>684</locationY>
        <actionName>Account.Account_NPS_4_Week_Inactive_Surveyor</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Account_NPS_4_Week_Inactive_Surveyor</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Account_NPS_4_Week_Notification</name>
        <label>Account - NPS 4 Week Notification</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>Account.Account_NPS_4_Week_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Account_NPS_4_Week_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Account_NPS_8_Week_Inactive_Surveyor</name>
        <label>Account - NPS 8 Week - Inactive Surveyor</label>
        <locationX>1106</locationX>
        <locationY>792</locationY>
        <actionName>Account.Account_NPS_8_Week_Inactive_Surveyor</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Account_NPS_8_Week_Inactive_Surveyor</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Account_NPS_8_Week_Notification</name>
        <label>Account - NPS 8 Week Notification</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <actionName>Account.Account_NPS_8_Week_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Account_NPS_8_Week_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Automation_Enabled_Decision</name>
        <label>Automation Enabled?</label>
        <locationX>1518</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Automation Disabled</defaultConnectorLabel>
        <rules>
            <name>Automation_Enabled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emails_Enabled_Decision</targetReference>
            </connector>
            <label>Automation Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Enabled_Decision</name>
        <label>Emails Enabled?</label>
        <locationX>1139</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Emails Disabled</defaultConnectorLabel>
        <rules>
            <name>Emails_Enabled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Emails_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_NPS_Surveyor_Active</targetReference>
            </connector>
            <label>Emails Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_NPS_Surveyor_Active</name>
        <label>Is the NPS Surveyor Active</label>
        <locationX>644</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Next_NPS_Due_In_4_Weeks_From_Today_Inactive_Surveyor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NPS Surveyor Is Not Active</defaultConnectorLabel>
        <rules>
            <name>NPS_Surveyor_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NPS_Surveyor__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_NPS_Due_In_4_Weeks_From_Today</targetReference>
            </connector>
            <label>NPS Surveyor Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_NPS_Due_In_4_Weeks_From_Today</name>
        <label>Next NPS Due In 4 Weeks From Today</label>
        <locationX>248</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Next_NPS_Due_In_8_Weeks_From_Today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>X4_Weeks_From_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X4_Weeks_Before_NPS_Next_Visit_Due</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_NPS_4_Week_Notification</targetReference>
            </connector>
            <label>4 Weeks From Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_NPS_Due_In_4_Weeks_From_Today_Inactive_Surveyor</name>
        <label>Next NPS Due In 4 Weeks From Today - Inactive Surveyor</label>
        <locationX>1040</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Next_NPS_Due_In_8_Weeks_From_Today_Inactive_Surveyor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>X4_Weeks_From_Today_Inactive_Surveyor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X4_Weeks_Before_NPS_Next_Visit_Due</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_NPS_4_Week_Inactive_Surveyor</targetReference>
            </connector>
            <label>4 Weeks From Today - Inactive Surveyor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_NPS_Due_In_8_Weeks_From_Today</name>
        <label>Next NPS Due In 8 Weeks From Today</label>
        <locationX>446</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>No action required</defaultConnectorLabel>
        <rules>
            <name>X8_Weeks_From_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X8_Weeks_Before_NPS_Next_Visit_Due</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_NPS_8_Week_Notification</targetReference>
            </connector>
            <label>8 Weeks From Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_NPS_Due_In_8_Weeks_From_Today_Inactive_Surveyor</name>
        <label>Next NPS Due In 8 Weeks From Today - Inactive Surveyor</label>
        <locationX>1238</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>No action required</defaultConnectorLabel>
        <rules>
            <name>X8_Weeks_From_Today_Inactive_Surveyor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X8_Weeks_Before_NPS_Next_Visit_Due</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_NPS_8_Week_Inactive_Surveyor</targetReference>
            </connector>
            <label>8 Weeks From Today - Inactive Surveyor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>X4_Weeks_Before_NPS_Next_Visit_Due</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Next_NPS_Visit_Due__c}-28</expression>
    </formulas>
    <formulas>
        <name>X8_Weeks_Before_NPS_Next_Visit_Due</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Next_NPS_Visit_Due__c}-56</expression>
    </formulas>
    <interviewLabel>Account: Next NPS Visit Due Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Next NPS Visit Due Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1392</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automation_Enabled_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NPS_Surveyor__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Next_NPS_Visit__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Next_NPS_Visit_Due__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-11</startDate>
            <startTime>16:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
