Agentforce/force-app/main/default/flows/Account_Create_New_Site_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_New_Site</name>
        <label>Open New Site</label>
        <locationX>336</locationX>
        <locationY>1898</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>vNewSite.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Toast_Notification</name>
        <label>Show Toast Notification</label>
        <locationX>336</locationX>
        <locationY>1790</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Open_New_Site</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Site &quot;{!vNewSite.Name}&quot; was created.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Key_Contact</name>
        <label>Assign Key Contact</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>vNewSite.Site_Key_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Key_Contact.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewSite.Billing_Contact_same_as_Key_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_the_Selected_Contact_as_Billing_Contact_too</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Site_Info</name>
        <label>Assign Site Info</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vNewSite.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewSite.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewSite.Site_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewSite.Site_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fcity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewSite.Site_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPostCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewSite.Site_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Convert_Country_to_CountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewSite.Billing_Address_same_as_Site_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_this_Address_to_Billing_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewSite.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Site_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Incomplete Var to True. This triggers a warning to be shown on the Screen.</description>
        <name>Set_Address_Incomplete_Var</name>
        <label>Set Address Incomplete Var</label>
        <locationX>1194</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>v_AddressIncomplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Address_Input_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_Populated</name>
        <label>Address Populated</label>
        <locationX>765</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Address_Incomplete_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address Incomplete</defaultConnectorLabel>
        <rules>
            <name>Address_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_New_Site_Address.street</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_New_Site_Address.city</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_New_Site_Address.postalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_New_Site_Address.country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Site_Info</targetReference>
            </connector>
            <label>Address Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Selected</name>
        <label>Contact Selected</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Create_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Key_Contact.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Key_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the Account have Contacts available to be selected as the Site Key Contact?</description>
        <name>Contacts_Found_Decision</name>
        <label>Contacts Found Decision</label>
        <locationX>336</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Create_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Contacts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sKey_Contact</targetReference>
            </connector>
            <label>Yes - Contacts Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Site Key Contact was filled then add the Key Contact as a Site Contact too.</description>
        <name>Key_Contact_Filled_In</name>
        <label>Key Contact Filled In?</label>
        <locationX>336</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Show_Toast_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Create_Site_Contact_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Key_Contact.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Site_Contact</targetReference>
            </connector>
            <label>Create Site Contact</label>
        </rules>
    </decisions>
    <description>with account data fix</description>
    <environments>Default</environments>
    <formulas>
        <description>Site Name formula.</description>
        <name>f_Site_Name</name>
        <dataType>String</dataType>
        <expression>LEFT(
/* Use Known As Account Name if available, otherwise use full Account Name*/
IF(ISBLANK({!recordId.Known_As__c}),{!recordId.Name},{!recordId.Known_As__c}) &amp;
/* Append Street Address to end of formula if populated*/
IF(ISBLANK({!vNewSite.Site_Address__Street__s}),NULL,&quot; - &quot; &amp; {!vNewSite.Site_Address__Street__s})
,80)
/* Limit Name to 80 Chars */</expression>
    </formulas>
    <formulas>
        <name>fcity</name>
        <dataType>String</dataType>
        <expression>INITCAP({!v_New_Site_Address.city})</expression>
    </formulas>
    <formulas>
        <description>Converts selected Address Country to Country Code to work with Salesforce Country/Territory Picklists and avoid Flow Errors.</description>
        <name>Formula_Convert_Country_to_CountryCode</name>
        <dataType>String</dataType>
        <expression>CASE({!v_New_Site_Address.country},
&apos;United Arab Emirates&apos;, &apos;AE&apos;,
&apos;Australia&apos;, &apos;AU&apos;,
&apos;Bangladesh&apos;, &apos;BD&apos;,
&apos;United Kingdom&apos;, &apos;GB&apos;,
&apos;Indonesia&apos;, &apos;ID&apos;,
&apos;Ireland&apos;, &apos;IE&apos;,
&apos;Isle of Man&apos;, &apos;IM&apos;,
&apos;India&apos;, &apos;IN&apos;,
&apos;Cambodia&apos;, &apos;KH&apos;,
&apos;Malaysia&apos;, &apos;MY&apos;,
&apos;New Zealand&apos;, &apos;NZ&apos;,
&apos;Philippines&apos;, &apos;PH&apos;,
&apos;Qatar&apos;, &apos;QA&apos;,
&apos;Saudi Arabia&apos;, &apos;SA&apos;,
&apos;Singapore&apos;, &apos;SG&apos;,
&apos;Thailand&apos;, &apos;TH&apos;,
&apos;Vietnam&apos;, &apos;VN&apos;,
&apos;Belgium&apos;, &apos;BE&apos;,
&apos;Czechia&apos;, &apos;CZ&apos;,
&apos;France&apos;, &apos;FR&apos;,
&apos;Hungary&apos;, &apos;HU&apos;,
&apos;Luxembourg&apos;, &apos;LU&apos;,
&apos;Netherlands&apos;, &apos;NL&apos;,
&apos;Poland&apos;, &apos;PL&apos;,
&apos;Portugal&apos;, &apos;PT&apos;,
&apos;Romania&apos;, &apos;RO&apos;,
&apos;Slovakia&apos;, &apos;SK&apos;,
&apos;Spain&apos;, &apos;ES&apos;,
NULL)</expression>
    </formulas>
    <formulas>
        <name>fPostCode</name>
        <dataType>String</dataType>
        <expression>UPPER({!v_New_Site_Address.postalCode})</expression>
    </formulas>
    <formulas>
        <name>fStreet</name>
        <dataType>String</dataType>
        <expression>INITCAP({!v_New_Site_Address.street})</expression>
    </formulas>
    <interviewLabel>Account: Create New Site Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Create New Site Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Site</name>
        <label>Create Site</label>
        <locationX>336</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Key_Contact_Filled_In</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Account_Create_Site_Error</targetReference>
        </faultConnector>
        <inputReference>vNewSite</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Add the selected Key Contact as a Site Contact</description>
        <name>Create_Site_Contact</name>
        <label>Create Site Contact</label>
        <locationX>204</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Show_Toast_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>vNewSite.Site_Key_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>vNewSite.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Site_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the Account&apos;s Active Contacts to be chosen by the user to set the Site Key Contact field.</description>
        <name>Get_Account_Contacts</name>
        <label>Get Account Contacts</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_Found_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Account_Create_Site_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Address_Input_Screen</name>
        <label>Address Input Screen</label>
        <locationX>765</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Address_Populated</targetReference>
        </connector>
        <fields>
            <name>SiteAddress_DT1</name>
            <fieldText>&lt;p&gt;Please provide the Site Address below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>v_AddressIncomplete</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SiteAddress_DT2_IncompleteWarning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please provide the full Site Address below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>v_AddressIncomplete</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Address_Input_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Input_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>v_New_Site_Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>$User.Country</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Site Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>fPostCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>fStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>fcity</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_Input_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_this_Address_to_Billing_Address</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Copy this Address to Billing Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sCreate_Site_Error</name>
        <label>Create Site Error</label>
        <locationX>666</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errormessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;An error has occurred during the Create Site from Account process. An error log has been created. Please read the error message below and if you&apos;re able to solve it yourself then please do so and then try again.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error Message: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Flow name: Account_Create_New_Site_Screenflow. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sKey_Contact</name>
        <label>Key Contact</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Contact_Selected</targetReference>
        </connector>
        <fields>
            <name>hSelectContact</name>
            <fieldText>&lt;p&gt;Please select the Key Contact for: {!fStreet}, {!fcity}, {!fPostCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sKey_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sKey_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Key_Contact</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select The Key Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Account_Contacts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8f86&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-d043&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Job_Function__c&quot;,&quot;guid&quot;:&quot;column-f9ad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Job Function&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Set_the_Selected_Contact_as_Billing_Contact_too</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Set the Selected Contact as Billing Contact too?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Site</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>639</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Account_Create_Site_Error</name>
        <label>Account Create Site Error</label>
        <locationX>666</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>sCreate_Site_Error</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Account Create Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Account_Data_Fix</name>
        <label>Account Data Fix</label>
        <locationX>765</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Address_Input_Screen</targetReference>
        </connector>
        <flowName>Account_Data_Fix_Subflow</flowName>
        <inputAssignments>
            <name>vInOut_Account</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>vInOut_Account</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Check_Record_Access</name>
        <label>Check Record Access</label>
        <locationX>765</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Account_Data_Fix</targetReference>
        </connector>
        <flowName>Utility_Check_Record_Access_Subflow</flowName>
        <inputAssignments>
            <name>vIn_Record_ID</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_Stop_If_No_Edit_Access</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_User_ID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>accoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Incomplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>v_AddressIncomplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vNewSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
</Flow>
