Agentforce/force-app/main/default/flows/Account_Role_After_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Service_Summary_Multiselect_Picklist</name>
        <label>Parse Service Summary Multiselect Picklist</label>
        <locationX>50</locationX>
        <locationY>2075</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Service_Families</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>$Record.Opportunity__r.Service_Summary__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>v_Service_Families_Collection</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Var_to_Collection</name>
        <label>Add Var to Collection</label>
        <locationX>138</locationX>
        <locationY>2615</locationY>
        <assignmentItems>
            <assignToReference>v_Competitor_Services_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_Competitor_Service_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Families</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Competitor_Service_Record_Var</name>
        <label>Set Competitor Service Record Var</label>
        <locationX>138</locationX>
        <locationY>2507</locationY>
        <assignmentItems>
            <assignToReference>v_Competitor_Service_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Competitor_Service_Record.Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Competitor_Service_Record.Source_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Competitor_Service_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Competitor_Service_Record.Estimated_Annual_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sum_Service_Family_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Competitor_Service_Record.Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Competitor_Service_Record.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Families</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Competitor_Service_Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Competitor_Service_Record.Decision_Maker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Var_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_is_New</name>
        <label>Set is New Variable</label>
        <locationX>1337</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>v_isNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_isNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Service_Lines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Service Lines</label>
        <locationX>138</locationX>
        <locationY>2291</locationY>
        <assignNextValueToReference>currentItem_Filter_Service_Lines</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opp_Services</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Service_Lines.Product_Family__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Service_Families</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Sum_Service_Family_Amount</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>If the Account Role relates to an Opportunity then update the fields on the Opp record accordingly.</description>
        <name>Account_Role_Relates_to_Opportunity_Decision</name>
        <label>Account Role Relates to Opportunity?</label>
        <locationX>1040</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_to_Opp_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Role_Competitor</targetReference>
            </connector>
            <label>Yes - Related to Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>1337</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Role_Relates_to_Opportunity_Decision</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Role_Competitor</name>
        <label>Is Role Competitor</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Is_Role_Incumbent_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Competitor</defaultConnectorLabel>
        <rules>
            <name>Competitor_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Competitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Competitor</targetReference>
            </connector>
            <label>Competitor Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Role_Incumbent_Decision</name>
        <label>Is Role Incumbent?</label>
        <locationX>710</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Winning_Competitor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Incumbent</defaultConnectorLabel>
        <rules>
            <name>Incumbent_Created_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incumbent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Incumbent</targetReference>
            </connector>
            <label>Incumbent Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>If OCS is the winning competitor then skip but otherwise</description>
        <name>OCS_Winning_Competitor_Decision</name>
        <label>OCS Winning Competitor?</label>
        <locationX>314</locationX>
        <locationY>1859</locationY>
        <defaultConnectorLabel>Yes - Skip</defaultConnectorLabel>
        <rules>
            <name>No_Setup_Competitor_Service_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Competitor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Services</targetReference>
            </connector>
            <label>No - Setup Competitor Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Config_Switch</name>
        <label>Validate Config Switch</label>
        <locationX>1617</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_is_New</targetReference>
            </connector>
            <label>Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Winning_Competitor</name>
        <label>Winning Competitor</label>
        <locationX>710</locationX>
        <locationY>1643</locationY>
        <defaultConnectorLabel>Not Winning Competitor</defaultConnectorLabel>
        <rules>
            <name>Winning_Competitor_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Winning Competitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Winning_Competitor</targetReference>
            </connector>
            <label>Winning Competitor Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account Role: After Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Role: After Create and Update</label>
    <loops>
        <name>Loop_Service_Families</name>
        <label>Loop Service Families</label>
        <locationX>50</locationX>
        <locationY>2183</locationY>
        <collectionReference>v_Service_Families_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Service_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Competitor_Services</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Competitor_Services</name>
        <label>Create Competitor Services</label>
        <locationX>50</locationX>
        <locationY>2807</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>v_Competitor_Services_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Opp Services to retrieve unique Service Families</description>
        <name>Get_Opp_Services</name>
        <label>Get Opp Services</label>
        <locationX>50</locationX>
        <locationY>1967</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parse_Service_Summary_Multiselect_Picklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Product_Family__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Competitor</name>
        <label>Update Opportunity - Competitor</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Role_Incumbent_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Competitor_Assigned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Incumbent</name>
        <label>Update Opportunity - Incumbent</label>
        <locationX>446</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Winning_Competitor</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Incumbent__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Winning_Competitor</name>
        <label>Update Opportunity - Winning Competitor</label>
        <locationX>314</locationX>
        <locationY>1751</locationY>
        <connector>
            <targetReference>OCS_Winning_Competitor_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Winning_Competitor_Assigned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Winning_Competitor__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1491</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Config_Switch</targetReference>
        </connector>
        <object>Account_Role__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Account Role</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Account Role: After Create and Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <transforms>
        <description>Sum the value of all individual Line Items for each Service Family.</description>
        <name>Sum_Service_Family_Amount</name>
        <label>Sum Service Family Amount</label>
        <locationX>138</locationX>
        <locationY>2399</locationY>
        <connector>
            <targetReference>Set_Competitor_Service_Record_Var</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Service_Lines</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>TotalPrice</stringValue>
                    </value>
                </inputParameters>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Filter_Service_Lines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Used in Loop to hold the total value from the Services of each Service Family for use in creating Competitor Services</description>
        <name>v_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_Competitor_Service_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitor_Services__c</objectType>
    </variables>
    <variables>
        <name>v_Competitor_Services_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitor_Services__c</objectType>
    </variables>
    <variables>
        <name>v_isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Service_Families_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
