Agentforce/force-app/main/default/flows/Action_Before_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Align the values for Focus, Approach, Sustainability Goal and Social Value fields with what&apos;s found on the Parent.</description>
        <name>Align_Child_Fields_with_Parent_Value</name>
        <label>Align Child Fields with Parent Value</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Focus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Action__r.Focus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approach__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Action__r.Approach__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sustainability_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Action__r.Sustainability_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Social_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Action__r.Social_Value__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Copy Due Date value into Close Date field</description>
        <name>Set_Close_Date_Due_Date</name>
        <label>Set Close Date = Due Date</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Standalone_Action_changed_to_Child_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Copy value from Due Date into Original Due Date field</description>
        <name>Set_Original_Due_Date</name>
        <label>Set Original Due Date</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Original_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_Fields_Update_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_Fields</name>
        <label>Set Owner Fields</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Corporate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Corporate_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Overdue_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Overdue</name>
        <label>Set Status Overdue</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Date_Update_Required</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Automation_Enabled_Decision</name>
        <label>Automation Enabled?</label>
        <locationX>336</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No - Stop</defaultConnectorLabel>
        <rules>
            <name>Enabled_Continue_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_or_Update_Decision</targetReference>
            </connector>
            <label>Enabled - Continue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Close Date should be kept aligned with Due Date until the record is Closed, at which point it should hold the date the Action was Closed.</description>
        <name>Close_Date_Update_Required</name>
        <label>Close Date Update Required?</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Standalone_Action_changed_to_Child_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Align_with_Due_Date_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Close_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Due_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Close_Date_Due_Date</targetReference>
            </connector>
            <label>Yes - Align w/ Due Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update_Decision</name>
        <label>Create or Update</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Owner_Fields_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Original_Due_Date</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>When a record is created or Due Date is updated if the Due Date is &lt; TODAY and Status = Pending/In Progress set Status to Overdue</description>
        <name>Overdue_Decision</name>
        <label>Overdue?</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Close_Date_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Overdue_Outcome</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Overdue</targetReference>
            </connector>
            <label>Yes - Set Overdue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is an updated needed to the key Owner fields - Corp Type, Business Unit, Region etc?</description>
        <name>Owner_Fields_Update_Required</name>
        <label>Owner Fields Update Required?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Overdue_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Owner_Fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Corporate_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Corporate_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Region__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Business_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Business_Unit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Country</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_Fields</targetReference>
            </connector>
            <label>Yes - Update Owner Fields</label>
        </rules>
    </decisions>
    <decisions>
        <description>When a standalone Action is parented and becomes a Child Action clear the values from Focus, Approach, Sustainability Goal and Social Value fields.</description>
        <name>Standalone_Action_changed_to_Child_Action</name>
        <label>Standalone Action changed to Child Action</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Converted_to_Child_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Parent_Action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_Action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Align_Child_Fields_with_Parent_Value</targetReference>
            </connector>
            <label>Yes - Converted to Child</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Action: Before Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action: Before Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automation_Enabled_Decision</targetReference>
        </connector>
        <object>Action__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
