Agentforce/force-app/main/default/flows/Action_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>X1_Day_Post_User</name>
        <label>1 Day Post - User</label>
        <locationX>1634</locationX>
        <locationY>1140</locationY>
        <actionName>Action__c.X1_day_after_Action_due_User</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>oneDayAfterNotificatioSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Action__c.X1_day_after_Action_due_User</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>X2_Days_Prior_To_Action_Due_User_Notification</name>
        <label>2 Days Prior To Action Due User Notification</label>
        <locationX>7178</locationX>
        <locationY>924</locationY>
        <actionName>Action__c.X2_days_before_Action_due_User</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>twoDayPriorNotificationSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Action__c.X2_days_before_Action_due_User</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>X7_Days_Post_User</name>
        <label>7 Days Post - User</label>
        <locationX>3746</locationX>
        <locationY>816</locationY>
        <actionName>Action__c.X7_days_after_Action_due_User</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>sevenDayAfterNotificationSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Action__c.X7_days_after_Action_due_User</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>X7_Days_Prior_User</name>
        <label>7 Days Prior - User</label>
        <locationX>5330</locationX>
        <locationY>924</locationY>
        <actionName>Action__c.X7_days_before_Action_due_User</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>sevenDayPriorNotificationSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Action__c.X7_days_before_Action_due_User</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Actions</name>
        <label>Count Actions</label>
        <locationX>314</locationX>
        <locationY>2448</locationY>
        <assignmentItems>
            <assignToReference>CountClosedActions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Closed_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountPendingActions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Pending_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountInProgressActions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>In_Progress_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOverdueActions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Overdue_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountTotalActions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Actions_for_Parent_Action</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Actions_Overdue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_New_Variable</name>
        <label>Set Is New Variable</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>v_isNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_isNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Closed_Actions</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Closed Actions</label>
        <locationX>314</locationX>
        <locationY>2340</locationY>
        <assignNextValueToReference>currentItem_Closed_Actions</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Actions_for_Parent_Action</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Closed_Actions.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Closed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Actions</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>In_Progress_Actions</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>In Progress Actions</label>
        <locationX>314</locationX>
        <locationY>2232</locationY>
        <assignNextValueToReference>currentItem_In_Progress_Actions</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Actions_for_Parent_Action</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_In_Progress_Actions.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>In Progress</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Closed_Actions</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Overdue_Actions</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Overdue Actions</label>
        <locationX>314</locationX>
        <locationY>2016</locationY>
        <assignNextValueToReference>currentItem_Overdue_Actions</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Actions_for_Parent_Action</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Overdue_Actions.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Overdue</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Pending_Actions</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Pending_Actions</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Pending Actions</label>
        <locationX>314</locationX>
        <locationY>2124</locationY>
        <assignNextValueToReference>currentItem_Pending_Actions</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Actions_for_Parent_Action</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Pending_Actions.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Pending</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>In_Progress_Actions</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>if the current Action is a Parent Record Type but does not have any Actions related to it then change to Standard Record Type.</description>
        <name>Action_Record_Type_Update_Needed</name>
        <label>Action Record Type Update Needed?</label>
        <locationX>578</locationX>
        <locationY>1392</locationY>
        <defaultConnector>
            <targetReference>Parent_Populated_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Action_Record_Type2</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.System_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_No_of_Actions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_No_of_Actions__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Record_Type</targetReference>
            </connector>
            <label>Yes - Set Action Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>If more than 0 Actions are Closed and the # Closed Actions = Total # Actions and Parent Status != Closed then update Parent Action to Closed Completed. Otherwise skip.</description>
        <name>All_Closed_Actions</name>
        <label>All Closed Actions?</label>
        <locationX>314</locationX>
        <locationY>2856</locationY>
        <defaultConnector>
            <targetReference>All_Pending_Actions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_All_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountClosedActions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountClosedActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountTotalActions</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_Action__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Action_Status_Completed</targetReference>
            </connector>
            <label>Yes - Set Parent Closed Complete</label>
        </rules>
    </decisions>
    <decisions>
        <description>If more than 0 Actions are Pending and the # Pending Actions = Total # Actions and Parent Status != Pending then update Parent Action to Pending. Otherwise skip.</description>
        <name>All_Pending_Actions</name>
        <label>All Pending Actions?</label>
        <locationX>314</locationX>
        <locationY>3156</locationY>
        <defaultConnector>
            <targetReference>Any_In_Progress_Actions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_All_Pending_Actions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountPendingActions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountPendingActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountTotalActions</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_Action__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Action_Status_Pending</targetReference>
            </connector>
            <label>Yes - Set Parent Pending</label>
        </rules>
    </decisions>
    <decisions>
        <description>If more than 1 Action from the Parent Action is overdue and Parent Status != Overdue then update the Parent Status = Overdue</description>
        <name>Any_Actions_Overdue</name>
        <label>Any Actions Overdue?</label>
        <locationX>314</locationX>
        <locationY>2556</locationY>
        <defaultConnector>
            <targetReference>All_Closed_Actions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Overdue_Actions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOverdueActions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_Action__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Overdue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Action_Status_Overdue</targetReference>
            </connector>
            <label>Yes - Set Parent Overdue</label>
        </rules>
    </decisions>
    <decisions>
        <description>If more than 0 Actions are In Progress and 0 Actions are Overdue and Parent Status != In Progress then update Parent Action to In Progress. Otherwise skip.</description>
        <name>Any_In_Progress_Actions</name>
        <label>Any In Progress Actions</label>
        <locationX>314</locationX>
        <locationY>3456</locationY>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountInProgressActions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountOverdueActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_Action__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Action_Status_In_Progress</targetReference>
            </connector>
            <label>Yes - Set Parent In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Automation_Enabled_1DayAfter_Decision</name>
        <label>Automation Enabled</label>
        <locationX>2824</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Automation Disabled</defaultConnectorLabel>
        <rules>
            <name>Automation_Enabled_1DaysAfter_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Action_Pending_or_In_Progress</targetReference>
            </connector>
            <label>Automation Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Automation_Enabled_2_Days_Prior_Decision</name>
        <label>Automation Enabled (2 Days Prior)</label>
        <locationX>8242</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Automation Disabled</defaultConnectorLabel>
        <rules>
            <name>Automation_Enabled_2Days_Prior_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emails_Enabled_2_Days_Prior_Decision</targetReference>
            </connector>
            <label>Automation Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Automation_Enabled_7Days_Prior_Decision</name>
        <label>Automation Enabled</label>
        <locationX>6394</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Automation Disabled</defaultConnectorLabel>
        <rules>
            <name>Automation_Enabled_7Days_Prior_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emails_Enabled_7DaysPrior_Decision</targetReference>
            </connector>
            <label>Automation Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Automation_Enabled_7DaysAfter_Decision</name>
        <label>Automation Enabled</label>
        <locationX>4554</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Automation Disabled</defaultConnectorLabel>
        <rules>
            <name>Automation_Enabled_7DaysAfter_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emails_Enabled_7_Days_After_Decision</targetReference>
            </connector>
            <label>Automation Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Temporary Decision element to suppress all emails for Actions.</description>
        <name>Copy_1_of_SUPPRESS_EMAILS</name>
        <label>TEMPORARY SUPPRESS EMAILS</label>
        <locationX>1906</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Emails_Enabled_1DayAfter_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Suppress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>123</stringValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of Suppress</label>
        </rules>
    </decisions>
    <decisions>
        <description>Temporary Decision element to suppress all emails for Actions.</description>
        <name>Copy_2_of_SUPPRESS_EMAILS</name>
        <label>TEMPORARY SUPPRESS EMAILS</label>
        <locationX>5730</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Automation_Enabled_7Days_Prior_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Suppress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>123</stringValue>
                </rightValue>
            </conditions>
            <label>Copy 2 of Suppress</label>
        </rules>
    </decisions>
    <decisions>
        <description>Temporary Decision element to suppress all emails for Actions.</description>
        <name>Copy_3_of_SUPPRESS_EMAILS</name>
        <label>TEMPORARY SUPPRESS EMAILS</label>
        <locationX>7578</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Automation_Enabled_2_Days_Prior_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Suppress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>123</stringValue>
                </rightValue>
            </conditions>
            <label>Copy 3 of Suppress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Parent_Due_Date_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Due_Date_Update_Required</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Enabled_1DayAfter_Decision</name>
        <label>Emails Enabled?</label>
        <locationX>2442</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Emails Disabled</defaultConnectorLabel>
        <rules>
            <name>Emails_Enabled_1DayAfter_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Emails_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Action_Overdue2</targetReference>
            </connector>
            <label>Emails Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Enabled_2_Days_Prior_Decision</name>
        <label>Emails Enabled? (2 Days Prior)</label>
        <locationX>7986</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Emails Disabled</defaultConnectorLabel>
        <rules>
            <name>Emails_Enabled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Emails_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Action_Overdue6</targetReference>
            </connector>
            <label>Emails Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Enabled_7_Days_After_Decision</name>
        <label>Emails Enabled? (7 Days After)</label>
        <locationX>4307</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Emails Disabled</defaultConnectorLabel>
        <rules>
            <name>Emails_Enabled_7DaysAfter_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Emails_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notificationSent2</targetReference>
            </connector>
            <label>Emails Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Enabled_7DaysPrior_Decision</name>
        <label>Emails Enabled?</label>
        <locationX>6138</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Emails Disabled</defaultConnectorLabel>
        <rules>
            <name>Emails_Enabled_7Days_Prior_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Emails_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Action_Overdue5</targetReference>
            </connector>
            <label>Emails Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Action_Overdue2</name>
        <label>Is Action Overdue</label>
        <locationX>2195</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overdue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notificationSent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Action_Overdue5</name>
        <label>Is Action Overdue</label>
        <locationX>5891</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Overdue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notificationSent3</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Action_Overdue6</name>
        <label>Is Action Overdue</label>
        <locationX>7739</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Overdue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notificationSent4</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Action_Pending_or_In_Progress</name>
        <label>Is Action Pending or In Progress</label>
        <locationX>2430</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Pending_In_Progress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Action_Status_to_Overdue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>notificationSent</name>
        <label>notificationSent?</label>
        <locationX>1964</locationX>
        <locationY>924</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X1_Day_after__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_to_Overdue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Active_1Day_Decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>notificationSent2</name>
        <label>notificationSent</label>
        <locationX>4076</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X7_Days_after_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_to_Overdue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Active_7DaysPost_Decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>notificationSent3</name>
        <label>notificationSent</label>
        <locationX>5660</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X7_Days_prior_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_to_Overdue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Active_7_Days_Prior</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>notificationSent4</name>
        <label>notificationSent</label>
        <locationX>7508</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X2_Days_prior_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_to_Overdue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Active_2_Days_Prior</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Active_1Day_Decision</name>
        <label>Owner Active?</label>
        <locationX>1766</locationX>
        <locationY>1032</locationY>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Owner_Active_1Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Day_Post_User</targetReference>
            </connector>
            <label>Yes - Owner Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Active_2_Days_Prior</name>
        <label>Owner Active?</label>
        <locationX>7310</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Non User</defaultConnectorLabel>
        <rules>
            <name>User_Active_2DaysPrior_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_Days_Prior_To_Action_Due_User_Notification</targetReference>
            </connector>
            <label>Yes - User Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Active_7_Days_Prior</name>
        <label>Owner Active?</label>
        <locationX>5462</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>No - Stop</defaultConnectorLabel>
        <rules>
            <name>Owner_Active_7Days_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7_Days_Prior_User</targetReference>
            </connector>
            <label>Owner Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Active_7DaysPost_Decision</name>
        <label>Owner Active</label>
        <locationX>3878</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>User_Active_7DaysPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7_Days_Post_User</targetReference>
            </connector>
            <label>Yes - User Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>If this Action is linked to a Parent Action but the Parent Action&apos;s Record Type is not Parent then update it to Parent Record Type.</description>
        <name>Parent_Action_Record_Type_Update_Needed</name>
        <label>Parent Action Record Type Update Needed?</label>
        <locationX>578</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Action_Record_Type_Update_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Parent_Record_Type_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_Action__r.System_Record_Type_Developer_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Record_Type</targetReference>
            </connector>
            <label>Yes - Update Parent Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Action has a Parent and the Parent&apos;s Due Date is BEFORE the Action&apos;s due date then update the Parent&apos;s Due Date accordingly.</description>
        <name>Parent_Due_Date_Update_Required</name>
        <label>Parent Due Date Update Required?</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Parent_Action_Record_Type_Update_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Parent_Dates_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_Action__r.Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Due_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Due_Date</targetReference>
            </connector>
            <label>Yes - Update Parent Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Parent Action lookup is populated then validate that Parent&apos;s Status is set correctly based on its Children Actions&apos; statuses.</description>
        <name>Parent_Populated_Decision</name>
        <label>Parent Populated?</label>
        <locationX>578</locationX>
        <locationY>1800</locationY>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Evaluate_Parent_Status_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Actions_for_Parent_Action</targetReference>
            </connector>
            <label>Yes - Evaluate Parent Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>Temporary Decision element to suppress all emails for Actions.</description>
        <name>SUPPRESS_EMAILS_7DaysPost</name>
        <label>TEMPORARY SUPPRESS EMAILS</label>
        <locationX>4018</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Automation_Enabled_7DaysAfter_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Suppress_7DaysPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>123</stringValue>
                </rightValue>
            </conditions>
            <label>Suppress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Config_Switch</name>
        <label>Validate Config Switch</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Disabled</defaultConnectorLabel>
        <rules>
            <name>Enabled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_New_Variable</targetReference>
            </connector>
            <label>Enabled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDueDateOverdue</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Due_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>DaysOverdueFromCurrentDueDate</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!$Record.Due_Date__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DaysOverdueFromOriginalDueDate</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!$Record.Original_Due_Date__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DaysUntilCurrentDueDate</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Due_Date__c} - TODAY())</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DaysUntilOriginalDueDate</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Original_Due_Date__c} - TODAY())</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_isNew</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c}, {!$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c}, ISNEW())</expression>
    </formulas>
    <formulas>
        <name>OverdueOriginalDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Original_Due_Date__c} + 1</expression>
    </formulas>
    <interviewLabel>Action: After Create &amp; Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action: After Create &amp; Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Action_Record_Type</name>
        <label>Get Action Record Type</label>
        <locationX>446</locationX>
        <locationY>1500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Action_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Action__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Action</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Actions_for_Parent_Action</name>
        <label>Get All Actions for Parent Action</label>
        <locationX>314</locationX>
        <locationY>1908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Overdue_Actions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Action__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Record_Type</name>
        <label>Get Parent Record Type</label>
        <locationX>446</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Parent_Action_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Action__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>oneDayAfterNotificatioSent</name>
        <label>oneDayAfterNotificationSent</label>
        <locationX>1634</locationX>
        <locationY>1248</locationY>
        <inputAssignments>
            <field>X1_Day_after__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Action_Record_Type</name>
        <label>Set Action Record Type</label>
        <locationX>446</locationX>
        <locationY>1608</locationY>
        <connector>
            <targetReference>Parent_Populated_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Action_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set Parent Record to Record Type = Parent</description>
        <name>Set_Parent_Action_Record_Type</name>
        <label>Set Parent Action Record Type</label>
        <locationX>446</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Action_Record_Type_Update_Needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Action__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Parent_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Action__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Parent_Due_Date</name>
        <label>Set Parent Due Date</label>
        <locationX>446</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Parent_Action_Record_Type_Update_Needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Action__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Record.Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Action__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>sevenDayAfterNotificationSent</name>
        <label>sevenDayAfterNotificationSent</label>
        <locationX>3746</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>X7_Days_after_Notification__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>sevenDayPriorNotificationSent</name>
        <label>sevenDayPriorNotificationSent</label>
        <locationX>5330</locationX>
        <locationY>1032</locationY>
        <inputAssignments>
            <field>X7_Days_prior_Notification__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>twoDayPriorNotificationSent</name>
        <label>twoDayPriorNotificationSent</label>
        <locationX>7178</locationX>
        <locationY>1032</locationY>
        <inputAssignments>
            <field>X2_Days_prior_Notification__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Action_Status_to_Overdue</name>
        <label>Update Action Status to Overdue</label>
        <locationX>1906</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_1_of_SUPPRESS_EMAILS</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Action_Status_Completed</name>
        <label>Update Parent Action Status - Completed</label>
        <locationX>182</locationX>
        <locationY>2964</locationY>
        <connector>
            <targetReference>All_Pending_Actions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Action__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Reason__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_Complete__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Action__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Action_Status_In_Progress</name>
        <label>Update Parent Action Status - In Progress</label>
        <locationX>50</locationX>
        <locationY>3564</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Action__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Action__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Action_Status_Overdue</name>
        <label>Update Parent Action Status - Overdue</label>
        <locationX>182</locationX>
        <locationY>2664</locationY>
        <connector>
            <targetReference>All_Closed_Actions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Action__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </inputAssignments>
        <object>Action__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Action_Status_Pending</name>
        <label>Update Parent Action Status - Pending</label>
        <locationX>182</locationX>
        <locationY>3264</locationY>
        <connector>
            <targetReference>Any_In_Progress_Actions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Action__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Action__c</object>
    </recordUpdates>
    <start>
        <locationX>4084</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Config_Switch</targetReference>
        </connector>
        <object>Action__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_Day_After_Due_Date</name>
            <connector>
                <targetReference>Automation_Enabled_1DayAfter_Decision</targetReference>
            </connector>
            <label>1 Day After Due Date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X7_Days_After_Due_Date</name>
            <connector>
                <targetReference>SUPPRESS_EMAILS_7DaysPost</targetReference>
            </connector>
            <label>7 Days After Due Date</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X7_Days_prior_Action_Due_Date</name>
            <connector>
                <targetReference>Copy_2_of_SUPPRESS_EMAILS</targetReference>
            </connector>
            <label>7 Days prior Action Due Date</label>
            <offsetNumber>-7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_Days_prior_Action_Due_Date</name>
            <connector>
                <targetReference>Copy_3_of_SUPPRESS_EMAILS</targetReference>
            </connector>
            <label>2 Days prior Action Due Date</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>314</locationX>
        <locationY>3672</locationY>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Action: After Create and Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CountClosedActions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountInProgressActions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountOverdueActions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountPendingActions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountTotalActions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Closed_Actions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action__c</objectType>
    </variables>
    <variables>
        <name>currentItem_In_Progress_Actions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Overdue_Actions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Pending_Actions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action__c</objectType>
    </variables>
    <variables>
        <name>v_isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
