Agentforce/force-app/main/default/flows/Bid_Phase_Assignment_Before_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bid_Phase_Assignment_Assignment_Removed_Notification</name>
        <label>Bid Phase Assignment - Assignment Removed Notification</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <actionName>Bid_Phase_Assignment__c.Bid_Phase_Assignment_Assignment_Removed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_Phase_Assignment__c.Bid_Phase_Assignment_Assignment_Removed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Automation_Enabled</name>
        <label>Automation Enabled?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No - Stop</defaultConnectorLabel>
        <rules>
            <name>Yes_Automation_Enabled_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_Phase_Assignment_Assignment_Removed_Notification</targetReference>
            </connector>
            <label>Yes - Continue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bid Phase Assignment: Before Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bid Phase Assignment: Before Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automation_Enabled</targetReference>
        </connector>
        <object>Bid_Phase_Assignment__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
