Agentforce/force-app/main/default/flows/Bid_Phase_Assignment_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>182</locationX>
        <locationY>1658</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Assignments for {!recordId.Type__c} were updated successfully</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Creation_Update_Collection</name>
        <label>Add to Creation/Update Collection</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>v_Create_Update_Assignments_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_Bid_Phase_Assignment_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Assigments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Deletion_Collection</name>
        <label>Add to Deletion Collection</label>
        <locationX>270</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>v_Delete_Bid_Phase_Assignment_IDs_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Deleted_Assignments.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Deleted_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vars</name>
        <label>Set Vars</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>v_Bid_Phase_Assignment_Record.Bid_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Bid_Phase_Assignment_Record.Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Assigments.Assignee_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Bid_Phase_Assignment_Record.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Assigments.Assignment_Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Bid_Phase_Assignment_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Assigments.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Bid_Phase_Assignment_Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Creation_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Creation/Update is needed if the Collection Variable is not empty.
In this case use the Creation Element with the Update Existing Records option to do the Creation and Update within a single element.</description>
        <name>Creation_Update_Needed_Decision</name>
        <label>Create/Update Needed?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_Deleted_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Update_Assignments_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Create_Update_Assignments_Collection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Update_Assignments</targetReference>
            </connector>
            <label>Yes - Create/Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deletion_Needed</name>
        <label>Deletion Needed?</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Success_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Delete_Bid_Phase_Assignment_IDs_Collection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Assignments</targetReference>
            </connector>
            <label>Yes - Delete</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>c_Role</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Bid_Phase_Assignment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Bid Phase: Assignment Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bid Phase: Assignment Screen Flow</label>
    <loops>
        <description>Loop All Assignments (includes Updated/Created).</description>
        <name>Loop_All_Assigments</name>
        <label>Loop All Assigments</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creation_Update_Needed_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Deleted_Assignments</name>
        <label>Loop Deleted Assignments</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <collectionReference>Repeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Deletion_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deletion_Needed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Update_Assignments</name>
        <label>Create + Update Assignments</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Loop_Deleted_Assignments</targetReference>
        </connector>
        <inputReference>v_Create_Update_Assignments_Collection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Assignments</name>
        <label>Delete Assignments</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>v_Delete_Bid_Phase_Assignment_IDs_Collection</elementReference>
            </value>
        </filters>
        <object>Bid_Phase_Assignment__c</object>
    </recordDeletes>
    <recordLookups>
        <description>Get Existing Bid Phase Assignments to show to users.</description>
        <name>Get_Existing_Assignments</name>
        <label>Get Existing Assignments</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bid_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bid_Phase_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assignment_Screen</name>
        <label>Assignment Screen</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_All_Assigments</targetReference>
        </connector>
        <fields>
            <name>Assignment_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assignment_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phase_Type_DT</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Phase&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!recordId.Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assignment_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date_DT</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Start Date&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!recordId.Start_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assignment_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date_DT</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;End Date&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!recordId.End_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Assignee_Lookup</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>CreatedById</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Assignee</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Bid_Phase__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>maxValues</name>
                    <value>
                        <numberValue>1.0</numberValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>required</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>recordId</name>
                    <value>
                        <elementReference>Get_Existing_Assignments[$EachItem].Assignee__c</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Assignment_Role</name>
                <choiceReferences>c_Role</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Existing_Assignments[$EachItem].Role__c</elementReference>
                </defaultValue>
                <fieldText>Role</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Existing_Assignments</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Refresh_Message</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Once you have saved your changes you will need to refresh the screen to see the updated provisional assignments.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Assignments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Check_Existing_Assignments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bid_Phase_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Bid_Phase__c</objectType>
    </variables>
    <variables>
        <name>v_Bid_Phase_Assignment_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bid_Phase_Assignment__c</objectType>
    </variables>
    <variables>
        <description>Record Collection of Bid Phase Assignments to be Created or Updated.</description>
        <name>v_Create_Update_Assignments_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bid_Phase_Assignment__c</objectType>
    </variables>
    <variables>
        <description>String Collection of Bid Phase Assignment Records to be deleted</description>
        <name>v_Delete_Bid_Phase_Assignment_IDs_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
