Agentforce/force-app/main/default/flows/Bid_Update_Bid_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Toast</name>
        <label>Error Toast</label>
        <locationX>2305</locationX>
        <locationY>1250</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>There are no available actions to update this Opportunity. This could be because a Bid Exists or because the Opportunity is already Closed.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>No_Actions_Available_Toast</name>
        <label>No Actions Available Toast</label>
        <locationX>2954</locationX>
        <locationY>2150</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>warning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>This Bid was not able to be submitted for any Approval Requests. Please check back later.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>No_Option_Selected_Toast</name>
        <label>No Option Selected Toast</label>
        <locationX>2041</locationX>
        <locationY>1466</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>warning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No option was selected. Please try again.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_RFI_Bid_No_Bid</name>
        <label>Submit for RFI Bid/No Bid</label>
        <locationX>50</locationX>
        <locationY>2366</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>{!Get_Opportunity.Owner.Full_Name__c} has requested an RFI Bid/No Bid Call</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_RFP_Bid_No_Bid</name>
        <label>Submit for RFP Bid/No Bid</label>
        <locationX>314</locationX>
        <locationY>2366</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>{!Get_Opportunity.Owner.Full_Name__c} has requested an RFP Bid/No Bid Call</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Close_Option_to_Quick_Choice</name>
        <label>Add Close Option to Quick Choice</label>
        <locationX>1887</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Labels_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Close Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Values_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Close this Bid and the Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Icons_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:scheduling_constraint</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Options_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Progress_Option_to_Quick_Choice_Bid</name>
        <label>Add Progress Option to Quick Choice (With Bid)</label>
        <locationX>1887</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Labels_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Progress Bid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Values_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Update the Bid and Opportunity to reflect the latest progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Icons_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:investment_account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allow_Resubmit_Option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Resubmit_Option_to_Quick_Choice</name>
        <label>Add Resubmit Option to Quick Choice</label>
        <locationX>1887</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Labels_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Resubmit for Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Values_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Resubmit the request to progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Icons_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:sales_cadence</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allow_Close_Option</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Allow_Close_Option</name>
        <label>Allow Close Option</label>
        <locationX>2019</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Any_Options_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Allow_Close_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Edit_Opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Compliance_Review_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Close_Option_to_Quick_Choice</targetReference>
            </connector>
            <label>Yes - Allow Close</label>
        </rules>
    </decisions>
    <decisions>
        <description>If  the Record is not Closed and one of the Bid Approvals is not active and Head of Bid is provided then provide the option to progress</description>
        <name>Allow_Progress_Option</name>
        <label>Allow Progress Option?</label>
        <locationX>2019</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Allow_Resubmit_Option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Allow_Progress_Bid_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Edit_Opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Head_of_Bid__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Compliance_Review_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.No_of_Bid_Supports_Pending_Approval__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Progress_Option_to_Quick_Choice_Bid</targetReference>
            </connector>
            <label>Yes - Allow Progress (Bid)</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Opp Approval has been recalled/rejected then allow an option to resubmit the Approval Request.</description>
        <name>Allow_Resubmit_Option</name>
        <label>Allow Resubmit Option?</label>
        <locationX>2019</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Allow_Close_Option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Allow_Re_Submit_for_Approval_Option_Outcome</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Head_of_Bid__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Compliance_Review_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Compliance_Review_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Resubmit_Option_to_Quick_Choice</targetReference>
            </connector>
            <label>Yes - Allow Re-Submit for Approval Option</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check that options were added for the Quick Choice component. Otherwise show error toast.</description>
        <name>Any_Options_Added</name>
        <label>Any Options Added?</label>
        <locationX>2019</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Error_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Show Warning</defaultConnectorLabel>
        <rules>
            <name>Yes_Options_Added_to_QuickChoice_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_QuickChoice_Labels_Collection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Choice</targetReference>
            </connector>
            <label>Yes - Continue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Bid eligible to be submitted for Bid/No Bid approval?</description>
        <name>Eligible_for_Bid_No_Bid_Approval_Decision</name>
        <label>Eligible for Bid/No Bid Approval?</label>
        <locationX>314</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Actions_Available_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other - Stop</defaultConnectorLabel>
        <rules>
            <name>RFI_Bid_No_Bid_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid/No Bid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full_Bid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_RFI_Bid_No_Bid_Approval</targetReference>
            </connector>
            <label>Yes - RFI Bid/No Bid</label>
        </rules>
        <rules>
            <name>Yes_RFP_Bid_No_Bid_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid/No Bid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lite_Bid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_RFP_Bid_No_Bid_Approval</targetReference>
            </connector>
            <label>Yes - RFP Bid/No Bid</label>
        </rules>
    </decisions>
    <decisions>
        <name>RFI_Action_Required_Decision</name>
        <label>RFI Action Required?</label>
        <locationX>1370</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Actions_Available_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other - Skip</defaultConnectorLabel>
        <rules>
            <name>Confirm_RFI_Submission_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Outcome__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Confirm_RFI_Submission_Screen_Flow</targetReference>
            </connector>
            <label>Confirm RFI Submission</label>
        </rules>
        <rules>
            <name>Confirm_RFI_Outcome_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Outcome__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Confirm_RFI_Outcome_Screen_Flow</targetReference>
            </connector>
            <label>Confirm RFI Outcome</label>
        </rules>
        <rules>
            <name>Submit_RFP_Compliance_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFI_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Compliance_Review_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Compliance_Review_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Compliance_Review_Subflow</targetReference>
            </connector>
            <label>Submit RFP Compliance Review</label>
        </rules>
        <rules>
            <name>Submit_RFP_Bid_No_Bid_Approval_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Compliance_Review_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Bid_No_Bid_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Submit_RFP_Bid_No_Bid_Approval</targetReference>
            </connector>
            <label>Submit RFP Bid/No Bid Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>RFP_Action_Required</name>
        <label>RFP Action Required?</label>
        <locationX>2426</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Actions_Available_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other - Skip</defaultConnectorLabel>
        <rules>
            <name>Confirm_RFP_Submission_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Outcome__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Confirm_RFP_Submission_Screen_Flow</targetReference>
            </connector>
            <label>Confirm RFP Submission</label>
        </rules>
        <rules>
            <name>Confirm_RFP_Outcome_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RFP_Outcome__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Confirm_RFP_Outcome_Screen_Flow</targetReference>
            </connector>
            <label>Confirm RFP Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Option</name>
        <label>Selected Option</label>
        <locationX>1733</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>No_Option_Selected_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other - Skip</defaultConnectorLabel>
        <rules>
            <name>Progress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Progress Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Progress</label>
        </rules>
        <rules>
            <name>Resubmit_Approval_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resubmit for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Resubmit Approval</label>
        </rules>
        <rules>
            <name>Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Close_Opportunity_Subflow_Flow_2</targetReference>
            </connector>
            <label>Close</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Decision</name>
        <label>Stage Decision</label>
        <locationX>1634</locationX>
        <locationY>2042</locationY>
        <defaultConnector>
            <targetReference>No_Actions_Available_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other - Stop</defaultConnectorLabel>
        <rules>
            <name>Bid_No_Bid_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid/No Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eligible_for_Bid_No_Bid_Approval_Decision</targetReference>
            </connector>
            <label>Bid/No Bid</label>
        </rules>
        <rules>
            <name>RFI_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFI_Action_Required_Decision</targetReference>
            </connector>
            <label>RFI</label>
        </rules>
        <rules>
            <name>RFP_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFP_Action_Required</targetReference>
            </connector>
            <label>RFP</label>
        </rules>
    </decisions>
    <decisions>
        <description>If this flow is triggered as a subflow then move immediately to progress.</description>
        <name>Triggered_as_Subflow</name>
        <label>Triggered as Subflow?</label>
        <locationX>1634</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Allow_Progress_Option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continnue</defaultConnectorLabel>
        <rules>
            <name>Yes_Triggered_as_Subflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vInput_Subflow_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Yes - Triggered as Subflow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bid: Update Bid Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bid: Update Bid Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1634</locationX>
        <locationY>1934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Action_Choice</name>
        <label>Action Choice</label>
        <locationX>1733</locationX>
        <locationY>1250</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Option</targetReference>
        </connector>
        <fields>
            <name>No_Available_Options_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;There are currently no options available to your user to update this Bid. Please check back later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>v_QuickChoice_Labels_Collection</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Opp_Approval_Pending_DT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You cannot currently update this Bid because the record is locked until an Approval Process completes.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please try again later.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RFI_Compliance_Review_Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Approval</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.RFI_Bid_No_Bid_Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Submitted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.RFP_Bid_No_Bid_Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Submitted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Governance_Sign_Off_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Approval</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.RFP_Compliance_Review_Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Submitted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.No_of_Bid_Supports_Pending_Approval__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Head_of_Bid_Missing_Progress_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;To progress this Bid the Head of Bid field must be populated on the Opportunity&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Head_of_Bid__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Progress&quot;,&quot;value&quot;:&quot;Progress the Opportunity&quot;},{&quot;label&quot;:&quot;Close&quot;,&quot;value&quot;:&quot;Close the Opportunity&quot;},{&quot;label&quot;:&quot;Postpone&quot;,&quot;value&quot;:&quot;Postpone the Opportunity until a later date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>v_QuickChoice_Icons_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>v_QuickChoice_Labels_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>v_QuickChoice_Values_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RFI_Compliance_Review_Approval_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Approval</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.RFI_Bid_No_Bid_Approval_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Submitted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.RFP_Bid_No_Bid_Approval_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Submitted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Governance_Sign_Off_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Approval</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.RFP_Compliance_Review_Approval_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Submitted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.No_of_Bid_Supports_Pending_Approval__c</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_RFI_Bid_No_Bid_Approval</name>
        <label>Submit RFI Bid/No Bid Approval</label>
        <locationX>50</locationX>
        <locationY>2258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Submit_for_RFI_Bid_No_Bid</targetReference>
        </connector>
        <fields>
            <name>RFI_Bid_No_Bid_Screen_DT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;RFI Bid/No Bid Approval Request&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You are about to submit {!recordId.Name} for RFI Bid/No Bid Approval to {!recordId.Head_of_Bid__r.Full_Name__c} (Head of Bid).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Are you sure you want to Continue?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_RFP_Bid_No_Bid_Approval</name>
        <label>Submit RFP Bid/No Bid Approval</label>
        <locationX>314</locationX>
        <locationY>2258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Submit_for_RFP_Bid_No_Bid</targetReference>
        </connector>
        <fields>
            <name>RFP_Bid_No_Bid_Screen_DT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;RFP Bid/No Bid Approval Request&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You are about to submit {!recordId.Name} for RFP Bid/No Bid Approval to {!recordId.Head_of_Bid__r.Full_Name__c} (Head of Bid).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Are you sure you want to Continue?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Triggered_as_Subflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Opportunity_Close_Opportunity_Subflow_Flow_2</name>
        <label>Opportunity: Close Opportunity Subflow Flow 2</label>
        <locationX>1777</locationX>
        <locationY>1466</locationY>
        <flowName>Opportunity_Close_Opportunity_Screenflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Opportunity_Confirm_RFI_Outcome_Screen_Flow</name>
        <label>Opportunity: Confirm RFI Outcome Screen Flow</label>
        <locationX>1106</locationX>
        <locationY>2258</locationY>
        <flowName>Opportunity_Confirm_RFI_Outcome_Screen_Flow</flowName>
        <inputAssignments>
            <name>vIn_Opportunity</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Opportunity_Confirm_RFI_Submission_Screen_Flow</name>
        <label>Opportunity: Confirm RFI Submission Screen Flow</label>
        <locationX>842</locationX>
        <locationY>2258</locationY>
        <flowName>Opportunity_RFI_Submission_Screen_Flow</flowName>
        <inputAssignments>
            <name>vIn_Opportunity</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Opportunity_Confirm_RFP_Outcome_Screen_Flow</name>
        <label>Opportunity: Confirm RFP Outcome Screen Flow</label>
        <locationX>2426</locationX>
        <locationY>2258</locationY>
        <flowName>Opportunity_Confirm_RFP_Outcome_Screen_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Opportunity_Confirm_RFP_Submission_Screen_Flow</name>
        <label>Opportunity: Confirm RFP Submission Screen Flow</label>
        <locationX>2162</locationX>
        <locationY>2258</locationY>
        <flowName>Opportunity_Confirm_RFP_Submission_Screen_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Submit_for_Compliance_Review_Subflow</name>
        <label>Submit for Compliance Review Subflow</label>
        <locationX>1370</locationX>
        <locationY>2258</locationY>
        <flowName>Opportunity_Submit_for_Compliance_Review_Screenflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Bid__c</objectType>
    </variables>
    <variables>
        <name>v_QuickChoice_Icons_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_QuickChoice_Labels_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_QuickChoice_Values_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Tick where this flow is triggered as a subflow. Move straight to Progress in this case.</description>
        <name>vInput_Subflow_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
