Agentforce/force-app/main/default/flows/Bid_Support_Create_Bid_Support_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>732</locationX>
        <locationY>4640</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Bid Support Requested Successfully</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>556</locationX>
        <locationY>4208</locationY>
        <assignmentItems>
            <assignToReference>v_ContentDocLinks_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_ContentDocLink_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Uploaded_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Bid_Phases</name>
        <label>Count Bid Phases</label>
        <locationX>930</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>v_Count_BidPhases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Future_Bid_Phases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bid_Phases_Found_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_Bid_Support_Record</name>
        <label>Link to Bid Support Record</label>
        <locationX>556</locationX>
        <locationY>4100</locationY>
        <assignmentItems>
            <assignToReference>v_ContentDocLink_Record.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Uploaded_Files</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_ContentDocLink_Record.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_BidSupport.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bid_Team_Var</name>
        <label>Set Bid Team Var</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vInput_Opportunity.Bid_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bid_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Bid_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Head_of_Bid_Var</name>
        <label>Set Head of Bid Var</label>
        <locationX>72</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>vInput_Opportunity.Head_of_Bid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_HeadOfBid_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Variable</name>
        <label>Set Opp Variable</label>
        <locationX>336</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>vInput_Opportunity.Head_of_Bid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Head_of_Bid.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Bid_Support</name>
        <label>Set Parent Bid Support</label>
        <locationX>940</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>v_BidSupport.Parent_Bid_Support__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Bid_Management_BSR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Type</name>
        <label>Set Record Type</label>
        <locationX>820</locationX>
        <locationY>2810</locationY>
        <assignmentItems>
            <assignToReference>v_BidSupport.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_BSR_Check_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Vars</name>
        <label>Set Selected Vars</label>
        <locationX>798</locationX>
        <locationY>2210</locationY>
        <assignmentItems>
            <assignToReference>v_BidSupport.Bid_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanPhases_Table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanPhases_Table.firstSelectedRow.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vInput_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.Bid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vInput_Opportunity.Bid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.Phase_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanPhases_Table.firstSelectedRow.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bid_Support_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Using the vInput_BidPhase variable set the selected Bid Phase and the Due Date.</description>
        <name>Set_Selected_Vars_Input</name>
        <label>Set Selected Vars</label>
        <locationX>534</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>v_BidSupport.Bid_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vInput_BidPhase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vInput_BidPhase.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vInput_BidPhase.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.Bid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vInput_BidPhase.Bid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bid_Mgmt_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.Phase_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vInput_BidPhase.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bid_Support_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vars</name>
        <label>Set Vars</label>
        <locationX>732</locationX>
        <locationY>3668</locationY>
        <assignmentItems>
            <assignToReference>v_BidSupport.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resource Allocation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bid_Support_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.Head_of_Bid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vInput_Opportunity.Head_of_Bid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BidSupport.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bid_Support</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Bid_MGMT_Parent_Warning_on_Screen</name>
        <label>Show Bid MGMT Parent Warning on Screen</label>
        <locationX>1204</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>v_Show_User_Parent_BSR_Warning</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Creation_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If an existing Bid Management BSR was found for the phase then continue. Otherwise automatically create a Bid Management BSR and parent the newly created BSR to it.</description>
        <name>Bid_Management_BSR_Found</name>
        <label>Bid Management BSR Found?</label>
        <locationX>1072</locationX>
        <locationY>3218</locationY>
        <defaultConnector>
            <targetReference>Show_Bid_MGMT_Parent_Warning_on_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Show Warning</defaultConnectorLabel>
        <rules>
            <name>Yes_Bid_Mgmt_BSR_Found_Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Bid_Management_BSR.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Bid_Support</targetReference>
            </connector>
            <label>Yes - Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bid_Phases_Found_Decision</name>
        <label>Bid Phases Found?</label>
        <locationX>930</locationX>
        <locationY>1994</locationY>
        <defaultConnector>
            <targetReference>No_Phases_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Error</defaultConnectorLabel>
        <rules>
            <name>Yes_Select_Phase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Count_BidPhases</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plan_Phase_Selection</targetReference>
            </connector>
            <label>Yes - Select Phase</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Bid Team set on the Opp? If not then ask user to select Bid Team.
Once Bid Team&apos;s set attempt to set the Head of Bid automatically. If this not possible then get user to select HoB.</description>
        <name>Bid_Team_Set</name>
        <label>Bid Team Set?</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Other - Stop</defaultConnectorLabel>
        <rules>
            <name>No_Set_Bid_Team_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vInput_Opportunity.Bid_Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_Team_Screen</targetReference>
            </connector>
            <label>No - Set Bid Team</label>
        </rules>
        <rules>
            <name>Yes_Bid_Team_Set_But_No_HoB_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vInput_Opportunity.Bid_Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vInput_Opportunity.Head_of_Bid__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Bid_Team</targetReference>
            </connector>
            <label>Yes - No HoB</label>
        </rules>
        <rules>
            <name>Yes_Bid_Team_and_HoB_Set_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vInput_Opportunity.Bid_Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vInput_Opportunity.Head_of_Bid__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Input_Phase_Provided</targetReference>
            </connector>
            <label>Yes - Bid Team + HoB Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Files were added by the user then loop through these and link them to the newly created Bid Support Request.</description>
        <name>Files_Attached_Decision</name>
        <label>Files Attached?</label>
        <locationX>732</locationX>
        <locationY>3884</locationY>
        <defaultConnector>
            <targetReference>Success_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Attach_Files_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Files_Upload.contentDocIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Uploaded_Files</targetReference>
            </connector>
            <label>Yes - Attach Files</label>
        </rules>
    </decisions>
    <decisions>
        <description>Based on the Bid Team selection was a Head of Bid found?</description>
        <name>Head_of_Bid_Found_from_Team_Decision</name>
        <label>Head of Bid Found?</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Head_of_Bid_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - User Set Head of Bid</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Head_of_Bid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_HeadOfBid_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Head_of_Bid_Var</targetReference>
            </connector>
            <label>Yes - Set Head of Bid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Head of Bid set on Opp?

If not then ensure user selects the Head of Bid before proceeding.</description>
        <name>Head_of_Bid_Set</name>
        <label>Head of Bid Set?</label>
        <locationX>732</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Input_Phase_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - Continue</defaultConnectorLabel>
        <rules>
            <name>No_Set_Head_of_Bid_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vInput_Opportunity.Head_of_Bid__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Head_Head_of_Bid_Profile</targetReference>
            </connector>
            <label>No - Set Head of Bid</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the vInput_BidPhase variable was populated then skip straight to record type selection.</description>
        <name>Input_Phase_Provided</name>
        <label>Input Phase Provided?</label>
        <locationX>732</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Get_Future_Bid_Phases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Choose Phase</defaultConnectorLabel>
        <rules>
            <name>Yes_Bid_Phase_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vInput_BidPhase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bid_Mgmt_Record_Type_ID</targetReference>
            </connector>
            <label>Yes - Bid Phase Provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the Parent BSR Check need to run?
Where nothing selected (because user didn&apos;t visit the screen) then skip the check.
Also if the Bid Management Parent warning was already shown or the current record is a Bid Management record type then skip.</description>
        <name>Parent_BSR_Check_Required</name>
        <label>Parent BSR Check Required?</label>
        <locationX>732</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>Check_Bid_Management_BSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other - Check Bid Management BSR Exists</defaultConnectorLabel>
        <rules>
            <name>None_Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Creation_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Vars</targetReference>
            </connector>
            <label>No - Skip</label>
        </rules>
        <rules>
            <name>Bid_Management_Record_Type_Selected_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Selected_Record_Type_Developer_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid_Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Vars</targetReference>
            </connector>
            <label>No - Bid Management - Skip</label>
        </rules>
        <rules>
            <name>Warning_Shown_Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Show_User_Parent_BSR_Warning</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Vars</targetReference>
            </connector>
            <label>No - Warning Shown - Skip</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Record Type was already set then skip assigning the record type from the user selected value.</description>
        <name>Record_Type_Already_Set_Decision</name>
        <label>Record Type Already Set?</label>
        <locationX>732</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Set_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Set Record Type</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Type_Set_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bid_Mgmt_Record_Type_ID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_BSR_Check_Required</targetReference>
            </connector>
            <label>Yes - Record Type Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Bid_Team</name>
        <label>Selected Bid Team</label>
        <locationX>402</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Get_Pub_Sec_HoB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Public Team</defaultConnectorLabel>
        <rules>
            <name>Private_Team_Selected_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vInput_Opportunity.Bid_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Priv_Sec_HoB</targetReference>
            </connector>
            <label>Private Team</label>
        </rules>
    </decisions>
    <description>Sub Flow called by Opportunity: Create Bid Support Screen Flow and Bid: Create Bid Support Screen Flow to create Bid Support records.</description>
    <dynamicChoiceSets>
        <name>c_BidSupportRecordtype</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bid_Support__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>v_Selected_Record_Type_Developer_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_BidTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bid_Team__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_Head_of_Bid_Users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Head_Head_of_Bid_Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Bid Support: Create Bid Support Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bid Support: Create Bid Support Sub Flow</label>
    <loops>
        <name>Loop_Uploaded_Files</name>
        <label>Loop Uploaded Files</label>
        <locationX>468</locationX>
        <locationY>3992</locationY>
        <collectionReference>Files_Upload.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_to_Bid_Support_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Doc_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bid_Support</name>
        <label>Create Bid Support</label>
        <locationX>732</locationX>
        <locationY>3776</locationY>
        <connector>
            <targetReference>Files_Attached_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>v_BidSupport</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Doc_Links</name>
        <label>Create Content Doc Links</label>
        <locationX>468</locationX>
        <locationY>4400</locationY>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>v_ContentDocLinks_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Check if the selected Phase already has a Bid Management BSR Record that isn&apos;t closed.</description>
        <name>Check_Bid_Management_BSR</name>
        <label>Check Bid Management BSR</label>
        <locationX>1072</locationX>
        <locationY>3110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bid_Management_BSR_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bid_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_BidSupport.Bid_Phase__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bid Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bid_Support__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bid_Mgmt_Record_Type_ID</name>
        <label>Get Bid Mgmt Record Type ID</label>
        <locationX>534</locationX>
        <locationY>1778</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Selected_Vars_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bid_Support__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bid_Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bid_Support_Queue</name>
        <label>Get Bid Support Queue</label>
        <locationX>732</locationX>
        <locationY>2486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unassigned_Bid_Support_Requests</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Future_Bid_Phases</name>
        <label>Get Future Bid Phases</label>
        <locationX>930</locationX>
        <locationY>1778</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Bid_Phases</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInput_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bid_Phase__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Priv_Sec_HoB</name>
        <label>Get Priv. Sec. HoB</label>
        <locationX>138</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Head_of_Bid_Found_from_Team_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Head_of_Bid_Set</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sally.beard@ocs.com</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>v_HeadOfBid_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Pub_Sec_HoB</name>
        <label>Get Pub. Sec. HoB</label>
        <locationX>666</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Head_of_Bid_Found_from_Team_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Head_of_Bid_Set</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>fiona.paton@ocs.com</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>v_HeadOfBid_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Head_Head_of_Bid_Profile</name>
        <label>Head Head of Bid Profile</label>
        <locationX>336</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Head_of_Bid_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Principal Bid Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>336</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Input_Phase_Provided</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>vInput_Opportunity</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Bid_Team_Screen</name>
        <label>Bid Team Screen</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Set_Bid_Team_Var</targetReference>
        </connector>
        <fields>
            <name>BidTeam_DT</name>
            <fieldText>&lt;p&gt;Before requesting Bid Support the applicable Bid Team must be selected. This ensures the request is routed to the right place.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Bid_Team</name>
            <choiceReferences>c_BidTeam</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vInput_Opportunity.Bid_Team__c</elementReference>
            </defaultValue>
            <fieldText>Bid Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Creation_Screen</name>
        <label>Creation Screen</label>
        <locationX>732</locationX>
        <locationY>2594</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Record_Type_Already_Set_Decision</targetReference>
        </connector>
        <fields>
            <name>Record_Type</name>
            <choiceReferences>c_BidSupportRecordtype</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Record_Type</elementReference>
            </defaultValue>
            <fieldText>Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Bid_Mgmt_Record_Type_ID.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Parent_BSR_Warning_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;WARNING: {!Record_Type} Bid Supports need to be parented to an Open Bid Management record. An eligible parent record does not currently exist for the {!PlanPhases_Table.firstSelectedRow.Type__c} Bid Phase and so one will be automatically created for you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Click Continue to create both of these records.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>v_Show_User_Parent_BSR_Warning</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>v_Selected_Record_Type_Developer_Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Bid_Management</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>v_BidSupport.Due_Date__c</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Files_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Key Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1590</locationX>
        <locationY>3992</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreeen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;An error occurred while attempting to create the Bid Support Request.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;Please review the Error Message below. If it relates to something you are able to resolve yourself (such as a misaligned date) then please do so and try again.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: rgb(255, 0, 0); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;Error Message: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If you are unable to resolve the error yourself then please raise a request via ServiceNow (Report a Problem, Business Applications, Salesforce, Bid Management). Make sure to include as much information as possible.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Head_of_Bid_Screen</name>
        <label>Head of Bid Screen</label>
        <locationX>336</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Set_Opp_Variable</targetReference>
        </connector>
        <fields>
            <name>Head_of_Bid_Required_Text</name>
            <fieldText>&lt;p&gt;Before you can create a Bid Support request the Head of Bid must be set on the Opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please choose the Head of Bid.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Head_of_Bid</name>
            <choiceReferences>c_Head_of_Bid_Users</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Head of Bid</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select Head of Bid</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Phases_Screen</name>
        <label>No Phases Screen</label>
        <locationX>1062</locationX>
        <locationY>2102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>Copy_1_of_Phase_Selection_Message</name>
            <fieldText>&lt;p&gt;Bid Support Requests must be linked to an eligible Phase from the Opportunity Timeline.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For a Phase to be eligible it must not yet have reached its End Date.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_No_Phases_Available_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;No Eligible Phases were found. Please update the End Date of the existing Phases or create new Phases from the Timeline tab and then try again.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Plan_Phase_Selection</name>
        <label>Plan Phase Selection</label>
        <locationX>798</locationX>
        <locationY>2102</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Selected_Vars</targetReference>
        </connector>
        <fields>
            <name>Phase_Selection_Message</name>
            <fieldText>&lt;p&gt;In order to create a Bid Support Request you must select the Procurement Phase that it relates to (eg; RFI).&lt;/p&gt;&lt;p&gt;For a Phase to be eligible it must not yet have reached its End Date. If you do not see the Phase that you need Support for then please ensure its End Date has not yet passed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PlanPhases_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Bid_Phase__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Eligible Phases</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Future_Bid_Phases</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-ef55&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Start_Date__c&quot;,&quot;guid&quot;:&quot;column-aa7b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;End_Date__c&quot;,&quot;guid&quot;:&quot;column-7e27&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bid_Team_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>1590</locationX>
        <locationY>3884</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Bid Support: Create Bid Support Sub Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>v_Triggering_RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>v_BidSupport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Bid_Support__c</objectType>
    </variables>
    <variables>
        <name>v_ContentDocLink_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>v_ContentDocLinks_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Count the existing eligible Bid Phases to be used on the Bid Phase Selection screen to show a message that the user needs to setup/update the eligible Bid Phases before they can raise a request for Bid Support.</description>
        <name>v_Count_BidPhases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_HeadOfBid_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Selected_Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Show_User_Parent_BSR_Warning</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_Triggering_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInput_BidPhase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Bid_Phase__c</objectType>
    </variables>
    <variables>
        <name>vInput_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
