Agentforce/force-app/main/default/flows/Bid_Phase_Single_Record_Check_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Output_Vars</name>
        <label>Set Output Vars</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>vOut_SingleCheck_Error_Boolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOut_SingleCheck_Type_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vInOut_BidPhase.Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Existing_Record_Found_Decision</name>
        <label>Existing Record Found?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Output_Error_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Existing_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Output_Vars</targetReference>
            </connector>
            <label>Yes - Output Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Bid Phase Type one that is only allowed to exist once, or multiple?
Only one allowed for types: EOI, RFI, RFP, Mobilisation, Negotiation</description>
        <name>Single_Record_Check_Required</name>
        <label>Single Record Check Required?</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Check_Single_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vInOut_BidPhase.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EOI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vInOut_BidPhase.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQ/RFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vInOut_BidPhase.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ITT/RFP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vInOut_BidPhase.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobilisation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vInOut_BidPhase.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation/BAFO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_Type</targetReference>
            </connector>
            <label>Yes - Check Single</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bid Phase: Single Record Check Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bid Phase: Single Record Check Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Existing_Type</name>
        <label>Check Existing Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Record_Found_Decision</targetReference>
        </connector>
        <filterLogic>((1 AND 5) OR (2 AND 4)) AND 3</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInOut_BidPhase.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInOut_BidPhase.Bid__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInOut_BidPhase.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bid__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bid_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Single_Record_Check_Required</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vInOut_BidPhase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bid_Phase__c</objectType>
    </variables>
    <variables>
        <name>vOut_SingleCheck_Error_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vOut_SingleCheck_Type_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
