Agentforce/force-app/main/default/flows/Bid_Before_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Bid_With_Self_Approver</name>
        <label>Assign Bid With Self Approver</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Delegated_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Owner_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delegated_Approver</name>
        <label>Assign Delegated Approver</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Delegated_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Owner_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Delegated_Approver</name>
        <label>Assign new Delegated Approver</label>
        <locationX>930</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Delegated_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Owner_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bid_Fields</name>
        <label>Set Bid Fields</label>
        <locationX>380</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manager_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_is_New</name>
        <label>Set is New</label>
        <locationX>699</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>v_isNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_isNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_Fields</name>
        <label>Set Owner Fields</label>
        <locationX>567</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Corporate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Corporate_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Creator_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedBy.Country</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>699</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Owner_Manager_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bid_Fields</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Self_Approver</name>
        <label>Is Owner Self Approver</label>
        <locationX>842</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Assign_new_Delegated_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Self Approver</defaultConnectorLabel>
        <rules>
            <name>Is_Self_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Auto_Approver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Fields</targetReference>
            </connector>
            <label>Is Self Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Assigned</name>
        <label>Manager Assigned</label>
        <locationX>380</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Update_Owner_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Manager</defaultConnectorLabel>
        <rules>
            <name>Has_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_Approver</targetReference>
            </connector>
            <label>Has Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Manager_changed</name>
        <label>Owner&apos;s Manager changed?</label>
        <locationX>1018</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Update_Owner_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.ManagerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_Self_Approver</targetReference>
            </connector>
            <label>Yes Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Self_Approver</name>
        <label>Self Approver</label>
        <locationX>182</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Assign_Delegated_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>User_Self_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Auto_Approver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bid_With_Self_Approver</targetReference>
            </connector>
            <label>User Self Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Owner_Fields</name>
        <label>Update Owner Fields?</label>
        <locationX>699</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Owner_Fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Corporate_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Corporate_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Region__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Country</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Creator_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedBy.Country</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_Fields</targetReference>
            </connector>
            <label>Yes - Update Owner Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Config_Switch</name>
        <label>Validate Config Switch</label>
        <locationX>1034</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enabled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_is_New</targetReference>
            </connector>
            <label>Enabled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_isNew</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c}, {!$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c}, ISNEW())</expression>
    </formulas>
    <interviewLabel>Bid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bid: Before Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>908</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Config_Switch</targetReference>
        </connector>
        <object>Bid__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
