Agentforce/force-app/main/default/flows/Capacity_Plan_After_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Is_New</name>
        <label>Assign Is New?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>v_Is_New</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Is_New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Name</name>
        <label>Set Name</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_CapacityPlan_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Automation_Enabled</name>
        <label>Automation Enabled</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Disabled</defaultConnectorLabel>
        <rules>
            <name>Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Is_New</targetReference>
            </connector>
            <label>Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Capacity_Plan_Status_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capacity_Plan_Status_Subflow</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>Handles name setting on record creation and on update if needed.
Name set in After Save flow because Auto Number field is calculated after save, not before save. Therefore required to be in After Save for setting name during record Creation.</description>
        <name>Name_Update_Required</name>
        <label>Name Update Required?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>f_CapacityPlan_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Name</targetReference>
            </connector>
            <label>Yes - Set Name</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_CapacityPlan_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Capacity_Plan_No__c} &amp;
IF(ISBLANK(TEXT({!$Record.Planning_Status__c})),NULL,&quot; - &quot; &amp; TEXT({!$Record.Planning_Status__c})) &amp;
IF(ISBLANK(TEXT({!$Record.Bid_Team__c})),NULL,&quot; - &quot; &amp; TEXT({!$Record.Bid_Team__c})) &amp;
IF(ISBLANK(TEXT({!$Record.Document_Type__c})),NULL, &quot; - &quot; &amp; TEXT({!$Record.Document_Type__c}))</expression>
    </formulas>
    <formulas>
        <name>f_Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Capacity Plan - After Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capacity Plan - After Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automation_Enabled</targetReference>
        </connector>
        <object>Capacity_Plan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Capacity_Plan_Status_Subflow</name>
        <label>Capacity Plan Status Subflow</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Name_Update_Required</targetReference>
        </connector>
        <flowName>Capacity_Plan_Status_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>v_Is_New</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
