Agentforce/force-app/main/default/flows/Case_Close_Case_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Case {!recordId.CaseNumber} was Closed Successfully</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Closed_Case_Details</name>
        <label>Assign Closed Case Details</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close</name>
        <label>Close</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_Open_Suspensions.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Open_Suspensions.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Open_Suspensions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables</name>
        <label>Set Variables</label>
        <locationX>798</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId.Training_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Notice_Served__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notice_Served</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Cost_of_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost_of_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Required_Fields_Completed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision to ensure Outcome field (Object field) has been completed as no way of validating that otherwise.</description>
        <name>Required_Fields_Completed</name>
        <label>Required Fields Completed?</label>
        <locationX>798</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>sClose_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Back to Close Screen</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue_RequiredFieldsCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Outcome__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Suspension_Records</targetReference>
            </connector>
            <label>Yes - Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Suspension_Exists</name>
        <label>Suspension Exists</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Closed_Case_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Suspension</defaultConnectorLabel>
        <rules>
            <name>With_Suspension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Suspension_Records</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_Open_Suspensions</targetReference>
            </connector>
            <label>With Suspension</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>c_NoticeServed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Notice_Served__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_TrainingRequired</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Training_Required__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case: Close Case Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Close Case Screenflow</label>
    <loops>
        <name>Loop_Open_Suspensions</name>
        <label>Loop Open Suspensions</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Related_Suspension_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Suspensions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_Suspension_Records</name>
        <label>Get Related Suspension Records</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Suspension_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Suspension__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suspensions</name>
        <label>Update Suspensions</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Assign_Closed_Case_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>Get_Related_Suspension_Records</inputReference>
    </recordUpdates>
    <screens>
        <name>sClose_Case</name>
        <label>Close Case</label>
        <locationX>798</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Variables</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Issue_Type__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hClose_Case</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Close Case {!recordId.CaseNumber} - {!recordId.Employee_Lookup__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;All fields are required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Outcome__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Training_Required</name>
            <choiceReferences>c_TrainingRequired</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Training Required</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notice_Served</name>
            <choiceReferences>c_NoticeServed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Notice Served</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cost_of_Change</name>
            <dataType>Currency</dataType>
            <fieldText>Cost of Change</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If no Cost of Change please enter 0.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sError_Message</name>
        <label>Error Message</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;We encountered an error while Closing this Case.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please review the below error message. If it relates to something you can resolve yourself such as a misaligned date then please do so and try again.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error Message: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If you are unable to move past this error then please raise a ServiceNow ticket (Report a Problem, Business Applications, Salesforce, HR Cases)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sClose_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>sError_Message</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Case: Close Case Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Case_Closed_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!recordId.CaseNumber} Has Been Closed</text>
    </textTemplates>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Suspension__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Suspension__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
