Agentforce/force-app/main/default/flows/Case_After_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Created_Confirmation_Case_Manager</name>
        <label>Case Created Confirmation - Case Manager</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <actionName>Case.Case_Created_Email_Confirmation_Case_Manager</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Created_Email_Confirmation_Case_Manager</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Pending_Assignment_24Hrs_Red_Email_Alert</name>
        <label>Pending Assignment 24Hrs - Red - Email Alert</label>
        <locationX>2554</locationX>
        <locationY>492</locationY>
        <actionName>Case.Case_Pending_Assignment_Red_Status_24_Hours</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Pending_Assignment_Red_Status_24_Hours</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Pending_Assignment_48Hrs_Amber_Green_Email_Alert</name>
        <label>Pending Assignment 48Hrs - Amber/Green - Email Alert</label>
        <locationX>4138</locationX>
        <locationY>492</locationY>
        <actionName>Case.Case_Pending_Assignment_Amber_Green_Status_48_Hours</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Pending_Assignment_Amber_Green_Status_48_Hours</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Pending_Assignment_48Hrs_Red_Email_Alert</name>
        <label>Pending Assignment 48Hrs - Red - Email Alert</label>
        <locationX>3610</locationX>
        <locationY>492</locationY>
        <actionName>Case.Case_Pending_Assignment_Red_Status_48_Hours</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Pending_Assignment_Red_Status_48_Hours</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Pending_Assignment_Amber_Green_96Hrs_Email_Alert</name>
        <label>Pending Assignment Amber/Green - 96Hrs - Email Alert</label>
        <locationX>5194</locationX>
        <locationY>492</locationY>
        <actionName>Case.Case_Pending_Assignment_Amber_Green_Status_96_Hours</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Pending_Assignment_Amber_Green_Status_96_Hours</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Close_Date</name>
        <label>Assign Close Date</label>
        <locationX>1082</locationX>
        <locationY>1272</locationY>
        <assignmentItems>
            <assignToReference>$Record.ClosedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_Suspensions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Created_Date</name>
        <label>Assign Created Date</label>
        <locationX>336</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close</name>
        <label>Close</label>
        <locationX>930</locationX>
        <locationY>1704</locationY>
        <assignmentItems>
            <assignToReference>Assign_Closed.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Closed.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Active_Suspensions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IsNew</name>
        <label>Set IsNew</label>
        <locationX>945</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>v_IsNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_IsNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Suspensions_Found</name>
        <label>Active Suspensions Found</label>
        <locationX>1082</locationX>
        <locationY>1488</locationY>
        <defaultConnector>
            <targetReference>Close_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Suspensions</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Closed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Manager_Changed</name>
        <label>Case Manager Changed?</label>
        <locationX>1554</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Status_is_Closed_or_Merged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Manager_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Manager_Lookup__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Manager_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welfare_Meeting_Case_Manager_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>945</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Case_Manager_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Created_Date</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Enabled_Decision_Confirmation_Notification</name>
        <label>Emails Enabled? (Confirmation Notification)</label>
        <locationX>182</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Confirmation_Notification_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Emails_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Created_Confirmation_Case_Manager</targetReference>
            </connector>
            <label>Yes - Send</label>
        </rules>
    </decisions>
    <decisions>
        <name>RAG_Status_24Hrs</name>
        <label>RAG Status (24Hrs)</label>
        <locationX>2818</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Red_RAG_Status_Outcome_24Hr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Assignment_24Hrs_Red_Email_Alert</targetReference>
            </connector>
            <label>Red RAG Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>RAG_Status_48Hr</name>
        <label>RAG Status (48Hr)</label>
        <locationX>4138</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Red_RAG_Status_48Hr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Assignment_48Hrs_Red_Email_Alert</targetReference>
            </connector>
            <label>Red RAG Status</label>
        </rules>
        <rules>
            <name>AmberGreen_RAG_Status_48Hr</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Assignment_48Hrs_Amber_Green_Email_Alert</targetReference>
            </connector>
            <label>Amber/Green RAG Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>RAG_Status_96Hrs</name>
        <label>RAG Status (96Hrs)</label>
        <locationX>5458</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Amber_Green_RAG_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Assignment_Amber_Green_96Hrs_Email_Alert</targetReference>
            </connector>
            <label>Amber/Green RAG Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Case Manager Email is populated and Origin = Web or Email then send Case Created Email notification to Case Manager.</description>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification?</label>
        <locationX>336</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Case_Confirmation_Notification</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Manager_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emails_Enabled_Decision_Confirmation_Notification</targetReference>
            </connector>
            <label>Yes - Send Case Confirmation Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Closed_or_Merged</name>
        <label>Status is Updated to Closed or Merged</label>
        <locationX>1554</locationX>
        <locationY>1164</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Closed_or_Merged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Close_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed or Merged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unassigned_48Hr</name>
        <label>Unassigned (48Hr)</label>
        <locationX>4534</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Unassigned_48Hr_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RAG_Status_48Hr</targetReference>
            </connector>
            <label>Unassigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unassigned_96Hr</name>
        <label>Unassigned (96Hr)</label>
        <locationX>5722</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Unassigned_96Hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RAG_Status_96Hrs</targetReference>
            </connector>
            <label>Unassigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unassigned_Decision_24Hr</name>
        <label>Unassigned (24Hr)</label>
        <locationX>3082</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Unassigned_Outcome_24Hr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RAG_Status_24Hrs</targetReference>
            </connector>
            <label>Unassigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Config_Switch</name>
        <label>Validate Config Switch</label>
        <locationX>1617</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Automation Disabled</defaultConnectorLabel>
        <rules>
            <name>Automation_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IsNew</targetReference>
            </connector>
            <label>Automation Enabled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case: After Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: After Create and Update</label>
    <loops>
        <name>Assign_Closed</name>
        <label>Assign Closed</label>
        <locationX>842</locationX>
        <locationY>1596</locationY>
        <collectionReference>Get_Open_Suspensions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Suspensions</name>
        <label>Get Open Suspensions</label>
        <locationX>1082</locationX>
        <locationY>1380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Suspensions_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Suspension__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Active_Suspensions</name>
        <label>Close Active Suspensions</label>
        <locationX>930</locationX>
        <locationY>1812</locationY>
        <connector>
            <targetReference>Assign_Closed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>Assign_Closed</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>1082</locationX>
        <locationY>2136</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Occ_Health_Referral_Case_Manager_Email</name>
        <label>Occ Health Referral - Case Manager Email</label>
        <locationX>1026</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Task_Case_Manager_Email</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Manager_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Case_Manager_Lookup__r.Email_Address__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Manager_Email__c</field>
            <value>
                <elementReference>$Record.Case_Manager_Lookup__r.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Occupational_Health_Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Task_Case_Manager_Email</name>
        <label>Task - Case Manager Email</label>
        <locationX>1026</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Status_is_Closed_or_Merged</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HR_Case_Manager_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Case_Manager_Lookup__r.Email_Address__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HR_Notifications__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HR_Case_Manager_Email__c</field>
            <value>
                <elementReference>$Record.Case_Manager_Lookup__r.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Welfare_Meeting_Case_Manager_Email</name>
        <label>Welfare Meeting - Case Manager Email</label>
        <locationX>1026</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Occ_Health_Referral_Case_Manager_Email</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Manager_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Case_Manager_Lookup__r.Email_Address__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Manager_Email__c</field>
            <value>
                <elementReference>$Record.Case_Manager_Lookup__r.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Welfare_Meeting__c</object>
    </recordUpdates>
    <start>
        <locationX>3543</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Config_Switch</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X24_Hours_After_Creation</name>
            <connector>
                <targetReference>Unassigned_Decision_24Hr</targetReference>
            </connector>
            <label>24 Hours After Creation</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Created_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X48_Hours_After_Creation</name>
            <connector>
                <targetReference>Unassigned_48Hr</targetReference>
            </connector>
            <label>48 Hours After Creation</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Created_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X96_Hours_After_Creation</name>
            <connector>
                <targetReference>Unassigned_96Hr</targetReference>
            </connector>
            <label>96 Hours After Creation</label>
            <offsetNumber>96</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Created_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>1498</locationX>
        <locationY>2244</locationY>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Case: After Create and Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>v_IsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
