Agentforce/force-app/main/default/flows/Case_Case_Manager_Lookup_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>1029</locationX>
        <locationY>2774</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Case {!recordId.CaseNumber} linked to Case Manager</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Case_Case_Manager_Var</name>
        <label>Set Case Case Manager Var</label>
        <locationX>1458</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>recordId.Case_Manager_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_NewEmployee.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Case_Manager_Vars</name>
        <label>Set Case Case Manager Vars</label>
        <locationX>622</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>recordId.Case_Manager_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Employee_to_Single.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Case_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Employee_to_Single.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Case_Manager_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Employee_to_Single.Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Employee_to_Single</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Address</name>
        <label>Set Email Address</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Lookup_Case_Mgr_Email_and_Payroll_No.Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_LowerCase_Input_EmailAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Number_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Employee_Vars</name>
        <label>Set Employee Vars</label>
        <locationX>1458</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>v_NewEmployee.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_NewEmployee.Payroll_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payroll_No</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_NewEmployee.Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_LowerCase_Input_EmailAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_NewEmployee.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Found_Employee_Details</name>
        <label>Set Found Employee Details</label>
        <locationX>1194</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Get_Employees</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Get_Employees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lookup_Case_Mgr_Email_and_Payroll_No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>sSelect_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payroll_Number</name>
        <label>Set Payroll Number</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Lookup_Case_Mgr_Email_and_Payroll_No.Payroll_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payroll_No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Date_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_Date</name>
        <label>Set Start Date</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>Lookup_Case_Mgr_Email_and_Payroll_No.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Employee_Updates_Needed_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Manager_Info</name>
        <label>Update Case Manager Info</label>
        <locationX>1194</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>recordId.Case_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Case_Manager_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_LowerCase_Input_EmailAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Found_Employee_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Were any of the Employee fields updated? If so write this change to the database.</description>
        <name>Any_Employee_Updates_Needed_Decision</name>
        <label>Any Employee Updates Needed?</label>
        <locationX>314</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Employee</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Update_Email_Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes_Update_Payroll_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes_Update_Start_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Employee</targetReference>
            </connector>
            <label>Yes - Update Employee</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Case Manager email is provided then lookup existing Employee (Case Manager) records. Otherwise Skip this.</description>
        <name>Case_Manager_Email_Provided</name>
        <label>Case Manager Email Provided?</label>
        <locationX>1029</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Employee_Found_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Lookup_Employee_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Case_Manager_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Employees</targetReference>
            </connector>
            <label>Yes - Lookup Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Correct_Employee_for_Case_Decision</name>
        <label>Correct Employee for Case?</label>
        <locationX>732</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>sEmployee_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Manual Creation</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Employee_Selection_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Employee_to_Single</targetReference>
            </connector>
            <label>Yes - Continue</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the existing Employee record has a blank email address but one was provided on the Employee Creation screen then update the Employee record accordingly.</description>
        <name>Email_Address_Update_Decision</name>
        <label>Email Address Update?</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Payroll_Number_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Email_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Case_Mgr_Email_and_Payroll_No.Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_LowerCase_Input_EmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Address</targetReference>
            </connector>
            <label>Yes - Update Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employee_Found</name>
        <label>Employee Found?</label>
        <locationX>1326</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Employee_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create Employee</defaultConnectorLabel>
        <rules>
            <name>Yes_Select_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Case_Mgr_Email_and_Payroll_No.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Manager_Info</targetReference>
            </connector>
            <label>Yes - Select Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employee_Found_Check</name>
        <label>Employee Found?</label>
        <locationX>1029</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>sEmployee_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Employees_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Employees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sSelect_Employee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the user input values into the Case Mgr Creation screen which resulted in an Employee record being found where previously one was not found then update the Employee with the updated information.</description>
        <name>Employee_Record_Update_Check</name>
        <label>Employee Record Update Check?</label>
        <locationX>534</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Check_Employee_for_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Case_Mgr_Email_and_Payroll_No.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Address_Update_Decision</targetReference>
            </connector>
            <label>Yes - Check for Updates</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the existing Employee record has a blank Payroll Number but one was provided on the Employee Creation screen then update the Employee record accordingly.</description>
        <name>Payroll_Number_Update</name>
        <label>Payroll Number Update?</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Start_Date_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Payroll_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Case_Mgr_Email_and_Payroll_No.Payroll_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payroll_No</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payroll_Number</targetReference>
            </connector>
            <label>Yes - Update Payroll No</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the existing Employee record has a blank Start Date but one was provided on the Employee Creation screen then update the Employee record accordingly.</description>
        <name>Start_Date_Update</name>
        <label>Start Date Update?</label>
        <locationX>314</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Any_Employee_Updates_Needed_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Case_Mgr_Email_and_Payroll_No.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Start_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start_Date</targetReference>
            </connector>
            <label>Yes - Update Start Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Lower case form of the Case Manager Email Address provided on Case.</description>
        <name>f_LowerCase_Case_EmailAddress</name>
        <dataType>String</dataType>
        <expression>LOWER({!recordId.Case_Manager_Email__c})</expression>
    </formulas>
    <formulas>
        <name>f_LowerCase_Input_EmailAddress</name>
        <dataType>String</dataType>
        <expression>LOWER({!Employee_Email.value})</expression>
    </formulas>
    <interviewLabel>Case: Case Manager Lookup Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Case Manager Lookup Screen Flow</label>
    <loops>
        <description>Loop Employee Collection to Single Record</description>
        <name>Loop_Employee_to_Single</name>
        <label>Loop Employee to Single</label>
        <locationX>534</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Case_Case_Manager_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Employee_Record_Update_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Employee</name>
        <label>Create Employee</label>
        <locationX>1458</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Set_Case_Case_Manager_Var</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>v_NewEmployee</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Employees</name>
        <label>Get Employees</label>
        <locationX>897</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_Found_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_LowerCase_Case_EmailAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check for Employees with the Same Email Address and with the same Payroll Number, if it&apos;s not Blank.</description>
        <name>Lookup_Case_Mgr_Email_and_Payroll_No</name>
        <label>Lookup Case Mgr (Email + Payroll No)</label>
        <locationX>1326</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Email_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_LowerCase_Input_EmailAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payroll_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Payroll_No</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payroll_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1029</locationX>
        <locationY>2666</locationY>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Employee</name>
        <label>Update Employee</label>
        <locationX>50</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>Lookup_Case_Mgr_Email_and_Payroll_No</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2250</locationX>
        <locationY>2882</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>sErrorScreen_DT1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;We encountered an error while linking this Case to a Case Manager.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;If you are able to resolve the issue yourself then please do so and try again. If not then raise a ticket on ServiceNow.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sEmployee_Creation</name>
        <label>Employee Creation Screen</label>
        <locationX>1326</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lookup_Case_Mgr_Email_and_Payroll_No</targetReference>
        </connector>
        <fields>
            <name>EmployeeInput_DT1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create Case Manager&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please provide the required information to create the Employee record for the Case Manager&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Employee_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Case_Manager__c</elementReference>
            </defaultValue>
            <fieldText>Case Manager Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Employee Name must be 80 Characters or fewer&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Employee_Name}) &lt;= 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Payroll_No</name>
            <dataType>String</dataType>
            <fieldText>Payroll No</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Payroll Number must be 20 Characters or fewer&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Payroll_No}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Employee_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>employee@ocs.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>recordId.Case_Manager_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sSelect_Employee</name>
        <label>Select Employee Screen</label>
        <locationX>732</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Correct_Employee_for_Case_Decision</targetReference>
        </connector>
        <fields>
            <name>Found_Records_DT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Choose Case Manager&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;We searched for People using the available data points and found this record:&lt;/p&gt;&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt; {!f_LowerCase_Case_EmailAddress}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Payroll Number: &lt;/strong&gt;{!Payroll_No}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Employee_Selection_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Employee__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Found Case Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Employees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c03f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Employee Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email_Address__c&quot;,&quot;guid&quot;:&quot;column-6c79&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email Address&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Payroll_Number__c&quot;,&quot;guid&quot;:&quot;column-8a6b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Payroll Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Start_Date__c&quot;,&quot;guid&quot;:&quot;column-01f9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;You must select an Employee&lt;/p&gt;</errorMessage>
                <formulaExpression>ISNULL({!Employee_Selection_Table.firstSelectedRow.Id}) = FALSE</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Employee_Selection_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is this the correct Case Manager for this Case?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>903</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Manager_Email_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>2250</locationX>
        <locationY>2774</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Case: Case Manager Lookup Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>v_NewEmployee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
</Flow>
