Agentforce/force-app/main/default/flows/Contract_Create_Contract_Terms_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Toast</name>
        <label>Error Toast</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>An Error Occurred: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Contract_Terms</name>
        <label>Open Contract Terms</label>
        <locationX>314</locationX>
        <locationY>1022</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>vNewContractTerms.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>314</locationX>
        <locationY>914</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Open_Contract_Terms</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Contract Terms successfully created</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_New_Contract_Term_Fields</name>
        <label>Assign New Contract Term Fields</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vNewContractTerms.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract_Terms</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the Contract has the same Opportunity record for both the Original Opportunity and the Latest Won Opportunity AND the Opportunity does not already have Terms added to it (Opportunity__r.Contract_Terms_Exist__c = FALSE) then write the 9 fields populated during initial Contract Term creation back to the Opportunity. Otherwise skip.</description>
        <name>Update_Terms_on_Opportunity_Decision</name>
        <label>Update Terms on Opportunity?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Success_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Opportunity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId.Original_Opportunity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Opportunity__r.Contract_Terms_Exist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Term_Fields_on_Opportunity</targetReference>
            </connector>
            <label>Yes - Update</label>
        </rules>
    </decisions>
    <description>NOTE: Runs as System to allow Platform Users to add Terms which cause Opportunity updates.</description>
    <environments>Default</environments>
    <interviewLabel>Contract: Create Contract Terms Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: Create Contract Terms Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract_Terms</name>
        <label>Create Contract Terms</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Terms_on_Opportunity_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>vNewContractTerms</inputReference>
    </recordCreates>
    <recordRollbacks>
        <name>Roll_Back_Records</name>
        <label>Roll Back Records</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Error_Toast</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <description>Update Opportunity record with newly populated Terms.</description>
        <name>Update_Term_Fields_on_Opportunity</name>
        <label>Update Term Fields on Opportunity</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Annual_Price_Adjustment__c</field>
            <value>
                <elementReference>vNewContractTerms.Annual_Price_Adjustment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bond_or_Third_Party_Guarantee__c</field>
            <value>
                <elementReference>vNewContractTerms.Bond_or_Third_Party_Guarantee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Specification__c</field>
            <value>
                <elementReference>vNewContractTerms.Contract_Specification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contractual_Non_Wage_Increase_Due_To_Law__c</field>
            <value>
                <elementReference>vNewContractTerms.Contractual_Non_Wage_Increase_Due_To_Law__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contractual_Wage_Increase__c</field>
            <value>
                <elementReference>vNewContractTerms.Contractual_Wage_Increase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_Cap_Value__c</field>
            <value>
                <elementReference>vNewContractTerms.Liability_Cap__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_Cap__c</field>
            <value>
                <elementReference>vNewContractTerms.Is_Liability_Cap__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Guarantee__c</field>
            <value>
                <elementReference>vNewContractTerms.Parent_Guarantee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentTermsDays__c</field>
            <value>
                <elementReference>vNewContractTerms.Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contract_Data_Fix</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Contract_Data_Fix</name>
        <label>Contract: Data Fix</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Contract_Terms_Capture_Subflow</targetReference>
        </connector>
        <flowName>Contract_Data_Fix_Subflow</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Contract_Terms_Capture_Subflow</name>
        <label>Contract Terms Capture Subflow</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Assign_New_Contract_Term_Fields</targetReference>
        </connector>
        <flowName>Contract_Terms_Capture_Contract_Terms_Subflow</flowName>
        <inputAssignments>
            <name>v_ContractId</name>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_OppRecord</name>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vNewContractTerms</assignToReference>
            <name>v_ContractTermsRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Roll_Back_Records</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Contract: Create Contract Terms Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Account__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>vNewContractTerms</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_Terms__c</objectType>
    </variables>
</Flow>
