Agentforce/force-app/main/default/flows/Contract_Status_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Output_Var</name>
        <label>Set Output Var</label>
        <locationX>748</locationX>
        <locationY>1760</locationY>
        <assignmentItems>
            <assignToReference>v_Status_Updated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Status__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Status_At_Risk</name>
        <label>Status = At Risk</label>
        <locationX>2338</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>At Risk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Output_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Expired</name>
        <label>Status = Expired</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Output_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Live</name>
        <label>Status = Live</label>
        <locationX>3438</locationX>
        <locationY>1316</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Output_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Mobilisation</name>
        <label>Status = Mobilisation</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mobilisation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Output_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Pending_Termination</name>
        <label>Status = Pending Termination</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Termination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Output_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Terminated</name>
        <label>Status = Terminated</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Output_Var</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Expired_Decision</name>
        <label>Expired Decision?</label>
        <locationX>2602</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Contract_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Termination_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expired_Update_Needed</targetReference>
            </connector>
            <label>Yes - Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expired_Update_Needed</name>
        <label>Expired Update Needed?</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No - Stop</defaultConnectorLabel>
        <rules>
            <name>Yes_Expired_Update_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Expired</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobilisation_Decision</name>
        <label>Mobilisation Decision</label>
        <locationX>1920</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Expired_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Mobilisation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Contract_Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobilisation_Update_Needed</targetReference>
            </connector>
            <label>Yes - Mobilisation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobilisation_Update_Needed</name>
        <label>Mobilisation Update Needed?</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No - End</defaultConnectorLabel>
        <rules>
            <name>Mobilisation_Update_Needed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mobilisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Mobilisation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending_Termination_Decision</name>
        <label>Pending Termination Decision</label>
        <locationX>1315</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Mobilisation_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Pending_Termination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Termination_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Termination_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Termination_Update_Needed</targetReference>
            </connector>
            <label>Yes - Pending Termination</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending_Termination_Update_Needed</name>
        <label>Pending Termination Update Needed?</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No - Stop</defaultConnectorLabel>
        <rules>
            <name>Yes_Pending_Termination_Update_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Pending_Termination</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Region</name>
        <label>Region</label>
        <locationX>3438</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Rolling_Contract_Not_APAC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not APAC</defaultConnectorLabel>
        <rules>
            <name>APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Owner_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rolling_Contract_APAC</targetReference>
            </connector>
            <label>APAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rolling_Contract_APAC</name>
        <label>Rolling Contract (APAC)</label>
        <locationX>2734</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Status_APAC_Not_Rolling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Rolling Contract</defaultConnectorLabel>
        <rules>
            <name>Rolling_Contract_APAC_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Rolling_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_APAC_Rolling_Decision</targetReference>
            </connector>
            <label>Rolling Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rolling_Contract_Not_APAC</name>
        <label>Rolling Contract (Not APAC)</label>
        <locationX>4142</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Status_Not_APAC_Not_Rolling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Rolling Contract</defaultConnectorLabel>
        <rules>
            <name>Rolling_Contract_Not_APAC_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Rolling_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Not_APAC_Rolling</targetReference>
            </connector>
            <label>Rolling Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_APAC_Not_Rolling</name>
        <label>Status - (APAC Not Rolling)</label>
        <locationX>3086</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Live_APAC_Not_Rolling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Months_until_End_of_Contract__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Live</targetReference>
            </connector>
            <label>Live</label>
        </rules>
        <rules>
            <name>At_Risk_APAC_Not_Rolling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>At Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Months_until_End_of_Contract__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Status_At_Risk</targetReference>
            </connector>
            <label>At Risk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_APAC_Rolling_Decision</name>
        <label>Status - (APAC Rolling)</label>
        <locationX>2382</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Live_APAC_Rolling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Months_until_End_of_Contract__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Live</targetReference>
            </connector>
            <label>Live</label>
        </rules>
        <rules>
            <name>At_Risk_APAC_Rolling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>At Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Months_until_End_of_Contract__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_At_Risk</targetReference>
            </connector>
            <label>At Risk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Not_APAC_Not_Rolling</name>
        <label>Status - (Not APAC Not Rolling)</label>
        <locationX>4494</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Live_Not_APAC_Not_Rolling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Months_until_End_of_Contract__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Live</targetReference>
            </connector>
            <label>Live</label>
        </rules>
        <rules>
            <name>At_Risk_Not_APAC_Not_Rolling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>At Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Months_until_End_of_Contract__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Status_At_Risk</targetReference>
            </connector>
            <label>At Risk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Not_APAC_Rolling</name>
        <label>Status - (Not APAC Rolling)</label>
        <locationX>3790</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Live_Not_APAC_Rolling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Months_until_End_of_Contract__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Live</targetReference>
            </connector>
            <label>Live</label>
        </rules>
        <rules>
            <name>At_Risk_Not_APAC_Rolling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>At Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Months_until_End_of_Contract__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Status_At_Risk</targetReference>
            </connector>
            <label>At Risk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Termination_Decision</name>
        <label>Termination Decision</label>
        <locationX>748</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Pending_Termination_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Terminated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Termination_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Termination_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Termination_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Termination_Update_Needed</targetReference>
            </connector>
            <label>Yes - Terminated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Termination_Update_Needed</name>
        <label>Termination Update Needed?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No - End</defaultConnectorLabel>
        <rules>
            <name>Yes_Termination_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Terminated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Autolaunched Flow called by Contract_After_Create_and_Update flow and also Contract_Scheduled_Flow_Set_Status as Subflows</description>
    <environments>Default</environments>
    <interviewLabel>Contract: Status Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: Status Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>622</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Termination_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>v_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Output var to indicate if Status was updated or not by this Subflow</description>
        <name>v_Status_Updated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
