Agentforce/force-app/main/default/flows/Contract_Line_Item_Before_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Account</name>
        <label>Set Account</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Name_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_at_Contract_Termination_FALSE</name>
        <label>Set Active at Contract Termination = FALSE</label>
        <locationX>446</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_at_Contract_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Not_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_at_Contract_Termination_TRUE</name>
        <label>Set Active at Contract Termination = TRUE</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_at_Contract_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Not_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set CLI Owner as Current User</description>
        <name>Set_CLI_Owner</name>
        <label>Set CLI Owner</label>
        <locationX>160</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Update_Required_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IsNew</name>
        <label>Set IsNew</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>v_isNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_isNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Name</name>
        <label>Set Product Name</label>
        <locationX>314</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Status_Active</name>
        <label>Status = Active</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Active_at_Termination_Checkbox_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Pending</name>
        <label>Status = Pending</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Active_at_Termination_Checkbox_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Terminated</name>
        <label>Status = Terminated</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Active_at_Termination_Checkbox_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Not_Populated</name>
        <label>Account Not Populated?</label>
        <locationX>446</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Product_Name_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Populate_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account</targetReference>
            </connector>
            <label>Yes - Populate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update_Decision</name>
        <label>Create or Update Decision</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Status_Update_Required_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Update_Needed</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>Product Name (string) field is used because Platform users cannot view Product object and so Name needs stamping in a field they can access.</description>
        <name>Product_Name_Populated</name>
        <label>Product Name Populated?</label>
        <locationX>446</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Yes - Skip</defaultConnectorLabel>
        <rules>
            <name>No_Populate_ProductName_String</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Name</targetReference>
            </connector>
            <label>No - Populate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the CLI was Active before the Contract was Terminated. If so then set TRUE. Otherwise set FALSE.
If Status != Terminated but Active at Termination checkbox = TRUE then set FALSE.</description>
        <name>Set_Active_at_Termination_Checkbox_Decision</name>
        <label>Set Active at Termination Checkbox?</label>
        <locationX>446</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Account_Not_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_TRUE_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_at_Contract_Termination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_at_Contract_Termination_TRUE</targetReference>
            </connector>
            <label>Yes - Set TRUE</label>
        </rules>
        <rules>
            <name>Yes_Set_FALSE_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_at_Contract_Termination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_at_Contract_Termination_FALSE</targetReference>
            </connector>
            <label>Yes - Set FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Start Date is in the past and</description>
        <name>Status_Update_Required_Decision</name>
        <label>Status Update Required?</label>
        <locationX>446</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Set_Active_at_Termination_Checkbox_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_to_Pending_Status_Outcome</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Termination_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Termination_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Pending</targetReference>
            </connector>
            <label>Yes - Pending Status</label>
        </rules>
        <rules>
            <name>Yes_Set_to_Active_Status_Outcome</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Termination_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Termination_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Active</targetReference>
            </connector>
            <label>Yes - Active Status</label>
        </rules>
        <rules>
            <name>Yes_Set_to_Terminated_Status_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_Termination_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Termination_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Terminated</targetReference>
            </connector>
            <label>Yes - Terminated Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the Contract Line Item have an Owner specified on creation? If not then set to the Running User.</description>
        <name>User_Update_Needed</name>
        <label>Owner Update Needed?</label>
        <locationX>292</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Status_Update_Required_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CLI_Owner</targetReference>
            </connector>
            <label>Yes - Set Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Config_Switch</name>
        <label>Validate Config Switch</label>
        <locationX>732</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automation_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IsNew</targetReference>
            </connector>
            <label>Automation Enabled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Contract Line Item: Before Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Line Item: Before Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Config_Switch</targetReference>
        </connector>
        <object>Contract_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>f_isNew</elementReference>
        </value>
    </variables>
</Flow>
