Agentforce/force-app/main/default/flows/Contract_Terms_Capture_Contract_Terms_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Screen_Values_to_Contract_Terms</name>
        <label>Assign Screen Values to Contract Terms</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>v_ContractTermsRecord.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Terms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_ContractTermsRecord.Is_Liability_Cap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Liability_Cap</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_ContractTermsRecord.Contractual_Wage_Increase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contractual_Wage_Increase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_ContractTermsRecord.Contractual_Non_Wage_Increase_Due_To_Law__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contractual_Non_Wage_Increase_Due_To_Law</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_ContractTermsRecord.Annual_Price_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Annual_Price_Adjustment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_ContractTermsRecord.Parent_Guarantee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Guarantee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_ContractTermsRecord.Bond_or_Third_Party_Guarantee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bond_or_Third_Party_Guarantee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_ContractTermsRecord.Liability_Cap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Liability_Cap_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_ContractTermsRecord.Contract_Specification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Specification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Screen_Values_to_Opportunity</name>
        <label>Assign Screen Values to Opportunity</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>v_OppRecord.PaymentTermsDays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Terms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_OppRecord.Liability_Cap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Liability_Cap</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_OppRecord.Contractual_Wage_Increase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contractual_Wage_Increase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_OppRecord.Contractual_Non_Wage_Increase_Due_To_Law__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contractual_Non_Wage_Increase_Due_To_Law</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_OppRecord.Annual_Price_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Annual_Price_Adjustment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_OppRecord.Parent_Guarantee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Guarantee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_OppRecord.Bond_or_Third_Party_Guarantee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bond_or_Third_Party_Guarantee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_OppRecord.Liability_Cap_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Liability_Cap_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_OppRecord.Contract_Specification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Specification</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Screen_Values_to_Contract_Terms</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FullChoice</name>
        <choiceText>Full</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full</stringValue>
        </value>
    </choices>
    <choices>
        <name>Input_Contract_Spec</name>
        <choiceText>Input</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Input</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoneChoice</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Output_Contract_Spec</name>
        <choiceText>Output</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Output</stringValue>
        </value>
    </choices>
    <choices>
        <name>PartialChoice</name>
        <choiceText>Partial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partial</stringValue>
        </value>
    </choices>
    <choices>
        <name>PayTerm_30_44_Choice</name>
        <choiceText>30 - 44 Days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30 Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>PayTerm_45_59_Choice</name>
        <choiceText>45 - 59 Days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>45 Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>PayTerm_60_Choice</name>
        <choiceText>60 Days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>60 Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>PayTerm_LessThan30_Choice</name>
        <choiceText>Less Than 30 Days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;30 Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>PayTerm_MoreThan60_Choice</name>
        <choiceText>More Than 60 Days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>61+ Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>If Opp Input Var is not NULL then output the Terms fields onto the Opportunity var as well as into the Contract Terms record Var.</description>
        <name>Opportunity_Input_Var_Populated_Decision</name>
        <label>Opportunity Input Var Populated?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Screen_Values_to_Contract_Terms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Assign_Opp_Vars_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_OppRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Screen_Values_to_Opportunity</targetReference>
            </connector>
            <label>Yes - Assign Opp Vars</label>
        </rules>
    </decisions>
    <description>Screen flow to Capture Contract Terms from either Opportunity or Contract.</description>
    <dynamicChoiceSets>
        <name>LiabilityCap_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Liability_Cap__c</picklistField>
        <picklistObject>Contract_Terms__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentTermsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentTermsDays__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Contract Terms: Capture Contract Terms Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Terms: Capture Contract Terms Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Contract_Terms_Screen</name>
        <label>Contract Terms Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opportunity_Input_Var_Populated_Decision</targetReference>
        </connector>
        <fields>
            <name>ScreenHeader_Opp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Contract Terms from Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>v_OppRecord.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ScreenHeader_Contract</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Contract Terms&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>v_ContractId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Payment_Terms</name>
            <choiceReferences>PayTerm_LessThan30_Choice</choiceReferences>
            <choiceReferences>PayTerm_30_44_Choice</choiceReferences>
            <choiceReferences>PayTerm_45_59_Choice</choiceReferences>
            <choiceReferences>PayTerm_60_Choice</choiceReferences>
            <choiceReferences>PayTerm_MoreThan60_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Terms</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Liability_Cap</name>
            <choiceReferences>FullChoice</choiceReferences>
            <choiceReferences>PartialChoice</choiceReferences>
            <choiceReferences>NoneChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Liability Cap</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: WordVisi_MSFontService, Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Whether there is a cap on liability&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Liability_Cap_Value</name>
            <choiceReferences>LiabilityCap_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Liability Cap Value</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Liability_Cap</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>FullChoice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Liability_Cap</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PartialChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contractual_Wage_Increase</name>
            <choiceReferences>FullChoice</choiceReferences>
            <choiceReferences>PartialChoice</choiceReferences>
            <choiceReferences>NoneChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contractual Wage Increase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: WordVisi_MSFontService, Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Whether we have a contractual right to pass through increased wage costs&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contractual_Non_Wage_Increase_Due_To_Law</name>
            <choiceReferences>FullChoice</choiceReferences>
            <choiceReferences>PartialChoice</choiceReferences>
            <choiceReferences>NoneChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contractual Non-Wage Increase Due To Law</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Whether we have a contractual right to pass through increased non-wage costs due to changes in law (different to the point &lt;/span&gt;&lt;span style=&quot;background-color: rgb(234, 238, 255); font-size: 16px; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0);&quot;&gt;above)&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Annual_Price_Adjustment</name>
            <choiceReferences>FullChoice</choiceReferences>
            <choiceReferences>PartialChoice</choiceReferences>
            <choiceReferences>NoneChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Annual Price Adjustment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: WordVisi_MSFontService, Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Whether we have an annual price adjustment right instead of or in addition to the pass throughs above&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Parent_Guarantee</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parent Guarantee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: WordVisi_MSFontService, Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Whether the contract requires a PCG&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Bond_or_Third_Party_Guarantee</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bond or Third Party Guarantee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Whether the contract requires a bond or third party guarantee&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contract_Specification</name>
            <choiceReferences>Input_Contract_Spec</choiceReferences>
            <choiceReferences>Output_Contract_Spec</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Specification</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;strong&gt;Input&lt;/strong&gt; [Contract provides all requirements]&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Output&lt;/strong&gt; [Contract provides end-state objectives]&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contract_Terms_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>v_ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ContractTermsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_Terms__c</objectType>
    </variables>
    <variables>
        <name>v_OppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
