Agentforce/force-app/main/default/flows/Contract_Terminated_Contract_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Show_Toast_Future</name>
        <label>Show Toast (Future)</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Contract {!recordId.Name} will be Terminated on {!Termination_Date}.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Toast_Past</name>
        <label>Show Toast (Past)</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Contract {!recordId.Name} has been Terminated.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_CLI_to_Update_Var</name>
        <label>Add CLI to Update Var</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>V_CLIs_for_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CLI_Values</name>
        <label>Assign CLI Values</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Loop_CLIs.Line_Termination_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_CLIs.Termination_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Termination_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_CLIs.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_CLI_Status_fromDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_CLIs.Active_at_Contract_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CLI_to_Update_Var</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CLIs_Found_Decision</name>
        <label>CLIs Found?</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_CLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CLIs Found</defaultConnectorLabel>
        <rules>
            <name>No_CLIs_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Eligible_Contract_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Termination_Date_in_Future_Decision</targetReference>
            </connector>
            <label>No CLIs</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the record being terminated before it has started? If so then launch subflow to handle deleting the Contract and updating the Opportunity to Closed Lost.</description>
        <name>Terminate_Before_Start_Decision</name>
        <label>Terminate Before Start?</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_Contract_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Termination_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>recordId.Contract_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Contract_Prior_to_Start_Subflow</targetReference>
            </connector>
            <label>Yes - Delete Contract</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Termination Date in Future? If so show Toast Notification with wording relevant for future termination.
Otherwise show Toast Notification with wording relevant for current/past termination.</description>
        <name>Termination_Date_in_Future_Decision</name>
        <label>Termination Date in Future?</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Show_Toast_Past</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Termination Present or Past</defaultConnectorLabel>
        <rules>
            <name>Termination_in_Future_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Termination_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Toast_Future</targetReference>
            </connector>
            <label>Termination in Future</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>terminatedContract</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Termination_Reason__c</picklistField>
        <picklistObject>Contract__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Formula to return either Active or Terminated to be used as Status for Contract Line Item.</description>
        <name>f_CLI_Status_fromDate</name>
        <dataType>String</dataType>
        <expression>If({!Termination_Date} &lt;= {!$Flow.CurrentDate},&quot;Terminated&quot;,&quot;Active&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula to return either Pending Termination or Terminated based on Termination Date set on the 1st Screen.</description>
        <name>f_ContractStatus_fromDate</name>
        <dataType>String</dataType>
        <expression>If({!Termination_Date} &lt;= {!$Flow.CurrentDate},&quot;Terminated&quot;,&quot;Pending Termination&quot;)</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Contract: Terminated Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: Terminated Contract Screenflow</label>
    <loops>
        <name>Loop_CLIs</name>
        <label>Loop CLIs</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Eligible_Contract_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CLI_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Pending/Active Contract Line Items from the Contract</description>
        <name>Get_Eligible_Contract_Line_Items</name>
        <label>Get Eligible Contract Line Items</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CLIs_Found_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Records</name>
        <label>Roll Back Records</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Log_Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_CLIs</name>
        <label>Update CLIs</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Termination_Date_in_Future_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>V_CLIs_for_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Eligible_Contract_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>f_ContractStatus_fromDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Date__c</field>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Reason__c</field>
            <value>
                <elementReference>Contract_Termination_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Contract__c</object>
    </recordUpdates>
    <screens>
        <name>error_screen</name>
        <label>Error Screen</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errormessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;An error occurred while Terminating Contract Services. Please raise an incident via ServiceNow and make sure to include the below details:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>terminateContract_screen</name>
        <label>Terminate Contract</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Terminate_Before_Start_Decision</targetReference>
        </connector>
        <fields>
            <name>Terminate_Contract_DT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Terminate Contract&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>terminateContract_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>terminateContract_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Termination_Reason</name>
                    <choiceReferences>terminatedContract</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Termination Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>terminateContract_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Termination_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Termination Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Scheduled_for_Termination_Message</name>
            <fieldText>&lt;p&gt;Termination Date is in the future, therefore the Contract will be scheduled for Termination on this date.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Termination_Date</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Termination_Date_Prior_to_Start_DT</name>
            <fieldText>&lt;p&gt;Termination Date is before the Contract Start Date. Therefore the Contract will be deleted instead of Terminated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Termination_Date</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>recordId.Contract_Start_Date__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contract_Data_Fix</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Contract_Data_Fix</name>
        <label>Contract: Data Fix</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>terminateContract_screen</targetReference>
        </connector>
        <flowName>Contract_Data_Fix_Subflow</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Prompt the user to delete the Contract and change the Opportunity to 6. Closed Lost with a new Closed Reason and Further Details.</description>
        <name>Delete_Contract_Prior_to_Start_Subflow</name>
        <label>Delete Contract Prior to Start Subflow</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <flowName>Contract_Delete_Contract_Prior_to_Start_Subflow</flowName>
        <inputAssignments>
            <name>vInput_Contract</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>error_screen</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Contract: Terminate Contract Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Account__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>V_CLIs_for_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
</Flow>
