Agentforce/force-app/main/default/flows/Contract_Create_Operational_Opportunity_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Redirect to the newly created record AND open the Add Services Subflow. This is achieved using URL parameters.</description>
        <name>Open_Record_Add_Services_Subflow</name>
        <label>Open Record + Add Services Subflow</label>
        <locationX>204</locationX>
        <locationY>1340</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>/lightning/action/quick/OperationalOpportunity__c.Add_Services_Flow?objectApiName&amp;context=RECORD_DETAIL&amp;recordId={!vNewOpOpp.Id}&amp;backgroundContext=%2Flightning%2Fr%2FOperationalOpportunity__c%2F{!vNewOpOpp.Id}%2Fview</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>204</locationX>
        <locationY>1232</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Open_Record_Add_Services_Subflow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Operational Opportunity was created successfully</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Op_Opp_Detail</name>
        <label>Assign Op Opp Detail</label>
        <locationX>204</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Award_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Award_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Service_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Work_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Descripton</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Operational_Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_Logic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Dates</name>
        <label>Assign Updated Dates</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Expected_Service_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewOpOpp.Award_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Expected_Award_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Logic</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Date_Logic</name>
        <label>Date Logic</label>
        <locationX>204</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Operational_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Award Date before Start Date</defaultConnectorLabel>
        <rules>
            <name>Award_Date_After_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNewOpOpp.Award_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>vNewOpOpp.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Logic_Error</targetReference>
            </connector>
            <label>Award Date After Start Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updated_Logic</name>
        <label>Updated Logic</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Create_Operational_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Correct</defaultConnectorLabel>
        <rules>
            <name>Incorrect_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNewOpOpp.Award_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>vNewOpOpp.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Date_Logic_Error</targetReference>
            </connector>
            <label>Incorrect Dates</label>
        </rules>
    </decisions>
    <description>inc account and contract data fix</description>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>OperationalOpportunity__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_Operational_Opportunity_Name</name>
        <dataType>String</dataType>
        <expression>LEFT(
IF(ISBLANK({!vNewOpOpp.Account__r.Known_As__c}),{!vNewOpOpp.Account__r.Name},{!vNewOpOpp.Account__r.Known_As__c})
&amp;
IF(ISBLANK({!vNewOpOpp.Reference__c}),NULL,&quot; - &quot; &amp; {!vNewOpOpp.Reference__c})
,80)</expression>
    </formulas>
    <interviewLabel>Contract: Create Operational Opportunity Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: Create Operational Opportunity Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Operational_Opportunity</name>
        <label>Create Operational Opportunity</label>
        <locationX>204</locationX>
        <locationY>1124</locationY>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Op_Opportunity_Creation_Error</targetReference>
        </faultConnector>
        <inputReference>vNewOpOpp</inputReference>
    </recordCreates>
    <screens>
        <name>Date_Logic_Error</name>
        <label>Date Logic Error</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Updated_Dates</targetReference>
        </connector>
        <fields>
            <name>hDateErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error: Please correct the dates below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The expected Award Date must be before the expected Service Start Date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Logic_Error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Date_Logic_Error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Updated_Expected_Award_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>vNewOpOpp.Award_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Expected Award Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Date_Logic_Error_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Updated_Expected_Service_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>vNewOpOpp.Start_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Expected Service Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sCreate_Operational_Opportunity</name>
        <label>Create Operational Opportunity</label>
        <locationX>204</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Op_Opp_Detail</targetReference>
        </connector>
        <fields>
            <name>hCreateNewOperationalOpportunity</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Create A New Operational Opportunity assigned to &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.Name} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sCreate_Operational_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sCreate_Operational_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reference</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sCreate_Operational_Opportunity_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type1</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sCreate_Operational_Opportunity_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sCreate_Operational_Opportunity_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expected_Award_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expected Award Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sCreate_Operational_Opportunity_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expected_Service_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expected Service Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Work_Descripton</name>
            <fieldText>Work Descripton</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sError_Screen</name>
        <label>Error Screen</label>
        <locationX>534</locationX>
        <locationY>1340</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>hError_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error has occurred during the Operational Opportunity creation process. An error log has been created. Please give your System Admin these details:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>78</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contract_Data_Fix</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Contract_Data_Fix</name>
        <label>Contract: Data Fix</label>
        <locationX>204</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>sCreate_Operational_Opportunity</targetReference>
        </connector>
        <flowName>Contract_Data_Fix_Subflow</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Op_Opportunity_Creation_Error</name>
        <label>Op Opportunity Creation Error</label>
        <locationX>534</locationX>
        <locationY>1232</locationY>
        <connector>
            <targetReference>sError_Screen</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Contract: Create Operational Opportunity Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Account__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>vNewOpOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OperationalOpportunity__c</objectType>
    </variables>
</Flow>
