Agentforce/force-app/main/default/flows/Contract_Line_Terminate_Line_Item_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Success_Toast_Current_Past_Termination</name>
        <label>Success Toast (Current/Past Termination)</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Contract Line Item terminated successfully</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Toast_Future_Termination</name>
        <label>Success Toast (Future Termination)</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Contract Line Item successfully scheduled for termination on {!Termination_Date}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Termination_Date</name>
        <label>Assign Termination Date</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId.Line_Termination_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Within_Contract_Start_or_End_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Post_End_Date</name>
        <label>Update Post End Date</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId.Line_Termination_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPost_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Within_Contract_Start_or_End_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Prior_Start_Date</name>
        <label>Update Prior Start Date</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId.Line_Termination_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vBefore_Start_New_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Within_Contract_Start_or_End_Dates</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Contract_Terminated</name>
        <choiceText>Contract Terminated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract Terminated</stringValue>
        </value>
    </choices>
    <choices>
        <name>Financial_Risk</name>
        <choiceText>Financial Risk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial Risk</stringValue>
        </value>
    </choices>
    <choices>
        <name>Geography</name>
        <choiceText>Geography</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Geography</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lost_To_Competitor</name>
        <choiceText>Lost To Competitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost To Competitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_In_Scope</name>
        <choiceText>Not In Scope</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not In Scope</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Price</name>
        <choiceText>Price</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Price</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quality</name>
        <choiceText>Quality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quality</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self_Delivery</name>
        <choiceText>Self Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_Issue</name>
        <choiceText>Service Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Terms_Conditions</name>
        <choiceText>Terms &amp; Conditions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Terms &amp; Conditions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trade_Unions</name>
        <choiceText>Trade Unions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trade Unions</stringValue>
        </value>
    </choices>
    <decisions>
        <name>qTermination_Date</name>
        <label>Termination Date</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Contract_Line_Item_Future</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Future</defaultConnectorLabel>
        <rules>
            <name>Today_or_less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Termination_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Line_Item_Today_or_Less</targetReference>
            </connector>
            <label>Today or less</label>
        </rules>
    </decisions>
    <decisions>
        <name>Within_Contract_Start_or_End_Dates</name>
        <label>Within Contract Start or End Dates</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>qTermination_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ok</defaultConnectorLabel>
        <rules>
            <name>Before_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Termination_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>recordId.Contract__r.Contract_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sCorrect_Prior_Start_Date</targetReference>
            </connector>
            <label>Before Start Date</label>
        </rules>
        <rules>
            <name>After_End_Date_Not_Rolling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Termination_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>recordId.Contract__r.Contract_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contract__r.Rolling_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sCorrect_Post_End_Date</targetReference>
            </connector>
            <label>After End Date - Not Rolling</label>
        </rules>
    </decisions>
    <description>Updated to Picklist Choice Set</description>
    <dynamicChoiceSets>
        <name>CLI_Terminated_Reason_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Termination_Reason__c</picklistField>
        <picklistObject>Contract_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Contract Line: Terminate Line Item Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Line: Terminate Line Item Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Contract_Line_Item_Future</name>
        <label>Update Contract Line Item - Future</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Success_Toast_Future_Termination</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Contract_Line_Termination_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Line_Termination_Date__c</field>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Termination_Reason__c</field>
            <value>
                <elementReference>Provide_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Reason__c</field>
            <value>
                <elementReference>Termination_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Line_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Line_Item_Today_or_Less</name>
        <label>Update Contract Line Item - Today or Less</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Success_Toast_Current_Past_Termination</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Contract_Line_Termination_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Line_Termination_Date__c</field>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Termination_Reason__c</field>
            <value>
                <elementReference>Provide_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Reason__c</field>
            <value>
                <elementReference>Termination_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Line_Item__c</object>
    </recordUpdates>
    <screens>
        <name>sCorrect_Post_End_Date</name>
        <label>Correct Post End Date</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Post_End_Date</targetReference>
        </connector>
        <fields>
            <name>hPost_Start_Logic</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Service Termination Date must be before the Contract End Date {!recordId.Contract__r.Contract_End_Date__c} where the Contract is not rolling.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sCorrect_Post_End_Date_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sCorrect_Post_End_Date_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>vPost_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Termination Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sCorrect_Post_End_Date_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sCorrect_Prior_Start_Date</name>
        <label>Correct Prior Start Date</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Prior_Start_Date</targetReference>
        </connector>
        <fields>
            <name>hBefore_Start_Logic</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Service Termination Date must be after the Contract Start Date {!recordId.Contract__r.Contract_Start_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sCorrect_Prior_Start_Date_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sCorrect_Prior_Start_Date_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>vBefore_Start_New_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Termination Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sCorrect_Prior_Start_Date_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sError</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>hErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error has occurred during the FOI process. An error log has been created. Please give your System Admin these details:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sTerminate_Line_Item</name>
        <label>Terminate Line Item</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Termination_Date</targetReference>
        </connector>
        <fields>
            <name>hTerminate_Line_Item</name>
            <fieldText>&lt;p&gt;Please confirm the date and reason for terminating &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Name}: {!recordId.Product_Name__c} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sTerminate_Line_Item_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sTerminate_Line_Item_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Termination_Reason</name>
                    <choiceReferences>CLI_Terminated_Reason_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Termination Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Provide_Reason</name>
                    <dataType>String</dataType>
                    <fieldText>Provide Reason</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Termination_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sTerminate_Line_Item_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sTerminate_Line_Item_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sTerminate_Line_Item_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Termination_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Termination Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>(1 AND 2) OR 3</conditionLogic>
                        <conditions>
                            <leftValueReference>Termination_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Provide_Reason</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>Termination_Reason</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sTerminate_Line_Item_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sTerminate_Line_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Contract_Line_Termination_Error</name>
        <label>Contract Line Termination Error</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>sError</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Contract Line Termination Line Item Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
</Flow>
