Agentforce/force-app/main/default/flows/FOI_FOI_Submitted_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_New_Date</name>
        <label>Assign New Date</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recordId.Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOI_Submitted_Date_New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Submitted_Date_Correct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>204</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FOI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSubmittedDate</name>
        <label>AssignSubmittedDate</label>
        <locationX>204</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOI_Submitted_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submitted_Date_Correct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This should be equal to FOI Submitted Date + 30 Days</description>
        <name>Set_Task_Due_Date</name>
        <label>Set Task Due Date</label>
        <locationX>204</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>v_TaskDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOI_Submitted_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_TaskDueDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Submitted_Date_Correct</name>
        <label>Copy 1 of Submitted Date Correct</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_Task_Due_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Correct Date</defaultConnectorLabel>
        <rules>
            <name>Incorrect_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Submitted_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Correct_FOI_Submission_Date</targetReference>
            </connector>
            <label>Incorrect Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>AD-66 - Check FOI Submitted Date before we continue</description>
        <name>FOI_Submitted_Date_Set</name>
        <label>FOI Submitted Date Set?</label>
        <locationX>633</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>FOI_Already_Submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Submitted_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FOISubmission</targetReference>
            </connector>
            <label>Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitted_Date_Correct</name>
        <label>Submitted Date Correct</label>
        <locationX>204</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Task_Due_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Correct Date</defaultConnectorLabel>
        <rules>
            <name>In_The_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Submitted_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correct_FOI_Submission_Date</targetReference>
            </connector>
            <label>In The Future</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_todaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>FOI: FOI Submitted Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FOI: FOI Submitted Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>204</locationX>
        <locationY>1448</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>v_TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Awaiting FOI Response</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>AD-66 - Move the FOI to Awaiting Response and set the submission date</description>
        <name>Update_FOI</name>
        <label>Update FOI</label>
        <locationX>204</locationX>
        <locationY>1340</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>confirmError</name>
        <label>Confirm Error</label>
        <locationX>798</locationX>
        <locationY>1556</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error has occurred during the FOI process. An error log has been created. Please give your System Admin these details:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Correct_FOI_Submission_Date</name>
        <label>Correct FOI Submission Date</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_New_Date</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_submissionConfirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error: &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please note the submission date must not be in the future.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FOI_Submitted_Date_New</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>f_todaysDate</elementReference>
            </defaultValue>
            <fieldText>FOI Submitted Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit FOI</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FOI_Already_Submitted</name>
        <label>FOI Already Submitted</label>
        <locationX>1062</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FOIAlreadySubmitted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You have already submitted this FOI!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FOISubmission</name>
        <label>FOISubmission</label>
        <locationX>204</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignSubmittedDate</targetReference>
        </connector>
        <fields>
            <name>submissionConfirmation</name>
            <fieldText>&lt;p&gt;Please confirm the date in which the FOI was submitted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FOI_Submitted_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>f_todaysDate</elementReference>
            </defaultValue>
            <fieldText>FOI Submitted Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit FOI</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>507</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FOI_Submitted_Date_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>798</locationX>
        <locationY>1448</locationY>
        <connector>
            <targetReference>confirmError</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>FOI: Submit FOI - Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FOI__c</objectType>
    </variables>
    <variables>
        <name>v_TaskDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
