Agentforce/force-app/main/default/flows/FOI_Owner_Key_Fields_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Update key owner fields where misalignments are found for FOI Object. Eg: Corporate Type, Business Unit etc.</description>
    <environments>Default</environments>
    <interviewLabel>FOI: Owner Key Fields Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FOI: Owner Key Fields Scheduled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Owner_Fields</name>
        <label>Set Owner Fields</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Corporate_Type__c</field>
            <value>
                <elementReference>$Record.Owner:User.Corporate_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creator_Country__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Business_Unit__c</field>
            <value>
                <elementReference>$Record.Owner:User.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Country__c</field>
            <value>
                <elementReference>$Record.Owner:User.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Region__c</field>
            <value>
                <elementReference>$Record.Owner:User.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Owner_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Misaligned_Owner_Fields__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FOI__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-31</startDate>
            <startTime>03:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>440</locationX>
        <locationY>360</locationY>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>FOI: Owner Key Fields Scheduled Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
