Agentforce/force-app/main/default/flows/FOI_Close_FOI_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Closure_Reason</name>
        <label>Assign Closure Reason</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId.Closed_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Deletion</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClosedReceived</name>
        <label>ClosedReceived</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId.Closed_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Received</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NotReceived</name>
        <label>NotReceived</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.Closed_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closed_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Duplicate</name>
        <choiceText>Duplicate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Response</name>
        <choiceText>No Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>Received</name>
        <choiceText>Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Received</stringValue>
        </value>
    </choices>
    <decisions>
        <name>FOI_Received</name>
        <label>FOI Received</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Capture_Closed_Reason_and_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FOI Not Received</defaultConnectorLabel>
        <rules>
            <name>FOI_Received_Date_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Received_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClosedReceived</targetReference>
            </connector>
            <label>FOI Received Date Populated</label>
        </rules>
        <rules>
            <name>FOI_Not_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Closure_Reason</targetReference>
            </connector>
            <label>FOI Not Submitted</label>
        </rules>
    </decisions>
    <description>Include Task Closure and delete new a FOI where not submitted</description>
    <environments>Default</environments>
    <interviewLabel>FOI: Close FOI Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FOI: Close FOI Screenflow</label>
    <loops>
        <name>Close_Related_Tasks</name>
        <label>Close Related Tasks</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <collectionReference>OpenTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Related_Tasks</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>OpenTasks</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Close_Task</name>
        <label>Close Task</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Close_Related_Tasks</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FOI_Record</name>
        <label>Update FOI Record</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Reason__c</field>
            <value>
                <elementReference>recordId.Closed_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>FOI__c</object>
    </recordUpdates>
    <screens>
        <name>Capture_Closed_Reason_and_Date</name>
        <label>Capture Closed Reason and Date</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NotReceived</targetReference>
        </connector>
        <fields>
            <name>FOIClosureMessage</name>
            <fieldText>&lt;p&gt;Please select the reason for closing this FOI request:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Closed_Reason</name>
            <choiceReferences>Duplicate</choiceReferences>
            <choiceReferences>No_Response</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Closed Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Received_Date__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Close_Screen</name>
        <label>Close Screen</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_FOI_Record</targetReference>
        </connector>
        <fields>
            <name>Close_Screen_Text</name>
            <fieldText>&lt;p&gt;Thanks {!$User.FirstName}&lt;/p&gt;&lt;p&gt;{!recordId.FOI_No__c} has now been closed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Error_Screen</name>
        <label>Show Error Screen</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error has occurred processing this FOI. An error log has been created. Please give the following to your System Administrator:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FOI_Received</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Show_Error_Screen</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Close FOI Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>OpenTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FOI__c</objectType>
    </variables>
</Flow>
