Agentforce/force-app/main/default/flows/Frameworks_Agreement_Terminate_Agreement_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Updated_End_Date</name>
        <label>Assign Updated End Date</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Post_Start_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Date_Logic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updates</name>
        <label>Assign Updates</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTermination_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_Logic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Terminate</name>
        <label>Terminate</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Today_or_Prior_End_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Date_Logic</name>
        <label>Date Logic</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Termination_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>After Start Date</defaultConnectorLabel>
        <rules>
            <name>Before_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>recordId.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sDate_Error</targetReference>
            </connector>
            <label>Before Start Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Termination_Date</name>
        <label>Termination Date</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Future_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In The Future</defaultConnectorLabel>
        <rules>
            <name>Today_or_Before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Terminate</targetReference>
            </connector>
            <label>Today or Before</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Frameworks Agreement: Terminate Agreement Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Frameworks Agreement: Terminate Agreement Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Future_End_Date</name>
        <label>Update Future End Date</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>sSuccesfully_Updated</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Frameworks_Agreement_Terminate_Agreement_Screenflow_Error_Log</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Today_or_Prior_End_Date</name>
        <label>Update Today or Prior End Date</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>sSuccesful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Frameworks_Agreement_Terminate_Agreement_Screenflow_Error_Log</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>sDate_Error</name>
        <label>Date Error</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Updated_End_Date</targetReference>
        </connector>
        <fields>
            <name>hBefore_Start_Date_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 2, 2);&quot;&gt;Error:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 2, 2);&quot;&gt;The {!recordId.Name} End Date must be after the Start Date {!recordId.Start_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sDate_Error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sDate_Error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Updated_Post_Start_End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.End_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sDate_Error_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sEnd_Date</name>
        <label>End Date</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Updates</targetReference>
        </connector>
        <fields>
            <name>hTermination_Date</name>
            <fieldText>&lt;p&gt;Provide the updated &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;End &lt;/span&gt;Date; {!recordId.End_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sEnd_Date_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sEnd_Date_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sTermination_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Termination Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sEnd_Date_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sError</name>
        <label>Error</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>hError_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error has occurred during the Framework Agreement Termination Update. An error log has been created. Please give your System Admin these details:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sSuccesful</name>
        <label>Succesful</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>h_Terminated_Succesful_Message</name>
            <fieldText>&lt;p&gt;The Framework Agreement {!recordId.Name} has been Terminated with an updated End Date of {!recordId.End_Date__c}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sSuccesfully_Updated</name>
        <label>Succesfully_Updated</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End_Date_Succesful_Message</name>
            <fieldText>&lt;p&gt;The Framework Agreement {!recordId.Name} has been updated with an End Date of {!recordId.End_Date__c}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sEnd_Date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Frameworks_Agreement_Terminate_Agreement_Screenflow_Error_Log</name>
        <label>Frameworks Agreement: Terminate Agreement Screenflow Error Log</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>sError</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Frameworks Agreement: Terminate Agreement Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Framework_Agreement__c</objectType>
    </variables>
</Flow>
