Agentforce/force-app/main/default/flows/Lead_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Company</name>
        <label>Assign Company</label>
        <locationX>3900</locationX>
        <locationY>4595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeCompany</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Company_Name_Existing_Account</name>
        <label>Assign Company Name (Existing Account)</label>
        <locationX>3900</locationX>
        <locationY>4295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_ExistingAccount_CompanyName_ProperCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Company</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DnB_Hoovers_Secondary_Source_Creation</name>
        <label>Assign DnB Hoovers Secondary Source</label>
        <locationX>3174</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Primary_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Secondary_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DnB Hoovers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_by_External_Telemarketing_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Name</name>
        <label>Assign First Name</label>
        <locationX>3900</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>$Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeFirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Name</name>
        <label>Assign Last Name</label>
        <locationX>3900</locationX>
        <locationY>3695</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Title</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Status</name>
        <label>Assign Lead Status</label>
        <locationX>4626</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revisit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LinkedIn_Secondary_Source_Creation</name>
        <label>Assign LinkedIn Secondary Source</label>
        <locationX>3174</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Primary_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Secondary_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LinkedIn</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Source_DnB_Hoovers_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Title</name>
        <label>Assign Title</label>
        <locationX>3900</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeTitle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Company_Update_Decision_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Assigned Marketing Unit	to the correct value based on Lead Country</description>
        <name>Assigned_Marketing_Unit</name>
        <label>Assigned Marketing Unit</label>
        <locationX>3900</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_Marketing_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_marketingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_First_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_AED</name>
        <label>Currency = AED</label>
        <locationX>3218</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_AUD</name>
        <label>Currency = AUD</label>
        <locationX>578</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_BDT</name>
        <label>Currency = BDT</label>
        <locationX>1106</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BDT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_EUR</name>
        <label>Currency = EUR</label>
        <locationX>314</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_IDR</name>
        <label>Currency = IDR</label>
        <locationX>1634</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IDR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_INR</name>
        <label>Currency = INR</label>
        <locationX>1370</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_KHR</name>
        <label>Currency = KHR</label>
        <locationX>4010</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KHR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_MYR</name>
        <label>Currency = MYR</label>
        <locationX>2690</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MYR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_NZD</name>
        <label>Currency = NZD</label>
        <locationX>842</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NZD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_PHP</name>
        <label>Currency = PHP</label>
        <locationX>1898</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PHP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_QAR</name>
        <label>Currency = QAR</label>
        <locationX>2162</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QAR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_SAR</name>
        <label>Currency = SAR</label>
        <locationX>2426</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_SGD</name>
        <label>Currency = SGD</label>
        <locationX>2954</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SGD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_THB</name>
        <label>Currency = THB</label>
        <locationX>3746</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>THB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Currency_VND</name>
        <label>Currency = VND</label>
        <locationX>3482</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VND</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Currency_GBP</name>
        <label>Currency = GBP</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Based on the DUNS Number map the Lead to an existing Account.</description>
        <name>Set_Existing_Account</name>
        <label>Set Existing Account</label>
        <locationX>3746</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Existing_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounts_from_DUNS.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Key_Owner_Field_Update_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_New</name>
        <label>Set Is New</label>
        <locationX>4032</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>v_isNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_isNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Key Owner Fields</description>
        <name>Set_Key_Owner_Fields</name>
        <label>Set Key Owner Fields</label>
        <locationX>3900</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Corporate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Corporate_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.System_Lead_Owner_Managers_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Marketing_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Secondary_Source_Telemarketing_External</name>
        <label>Set Secondary Source Telemarketing External</label>
        <locationX>3174</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.Primary_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Secondary_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Telemarketing External</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_By_Pardot</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Did the DUNS Number Account lookup find anything? If it did then link the Lead to the Existing Account. Otherwise skip.</description>
        <name>Account_Found_DUNS_Decision</name>
        <label>Account Found?</label>
        <locationX>3878</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Key_Owner_Field_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Account_Found_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts_from_DUNS.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Account</targetReference>
            </connector>
            <label>Yes - Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Company</name>
        <label>Change Company?</label>
        <locationX>4032</locationX>
        <locationY>4487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Company</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Company</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_First_Name</name>
        <label>Change First Name?</label>
        <locationX>4032</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Change_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_First_Name</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Last_Name</name>
        <label>Change Last Name?</label>
        <locationX>4032</locationX>
        <locationY>3587</locationY>
        <defaultConnector>
            <targetReference>Change_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Last_Name</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Title</name>
        <label>Change Title?</label>
        <locationX>4032</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>Company_Update_Decision_Existing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Title</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Title</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Existing Account field is populated then set the Company Name to align with the Existing Account Name if it doesn&apos;t already align.</description>
        <name>Company_Update_Decision_Existing_Account</name>
        <label>Company Name Update Required? (Existing Account)</label>
        <locationX>4032</locationX>
        <locationY>4187</locationY>
        <defaultConnector>
            <targetReference>Change_Company</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Existing_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>f_ExistingAccount_CompanyName_ProperCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Company_Name_Existing_Account</targetReference>
            </connector>
            <label>Yes - Set Existing Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_Decision</name>
        <label>Country Decision</label>
        <locationX>2162</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>United_Kingdom_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Currency_GBP</targetReference>
            </connector>
            <label>United Kingdom</label>
        </rules>
        <rules>
            <name>Ireland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_EUR</targetReference>
            </connector>
            <label>Ireland</label>
        </rules>
        <rules>
            <name>Australia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_AUD</targetReference>
            </connector>
            <label>Australia</label>
        </rules>
        <rules>
            <name>New_Zealand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_NZD</targetReference>
            </connector>
            <label>New Zealand</label>
        </rules>
        <rules>
            <name>Bangladesh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bangladesh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_BDT</targetReference>
            </connector>
            <label>Bangladesh</label>
        </rules>
        <rules>
            <name>India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_INR</targetReference>
            </connector>
            <label>India</label>
        </rules>
        <rules>
            <name>Indonesia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indonesia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_IDR</targetReference>
            </connector>
            <label>Indonesia</label>
        </rules>
        <rules>
            <name>Philippines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Philippines</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_PHP</targetReference>
            </connector>
            <label>Philippines</label>
        </rules>
        <rules>
            <name>Qatar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qatar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_QAR</targetReference>
            </connector>
            <label>Qatar</label>
        </rules>
        <rules>
            <name>Saudi_Arabia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_SAR</targetReference>
            </connector>
            <label>Saudi Arabia</label>
        </rules>
        <rules>
            <name>Malaysia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malaysia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_MYR</targetReference>
            </connector>
            <label>Malaysia</label>
        </rules>
        <rules>
            <name>Singapore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_SGD</targetReference>
            </connector>
            <label>Singapore</label>
        </rules>
        <rules>
            <name>UAE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Arab Emirates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_AED</targetReference>
            </connector>
            <label>UAE</label>
        </rules>
        <rules>
            <name>Vietnam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vietnam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_VND</targetReference>
            </connector>
            <label>Vietnam</label>
        </rules>
        <rules>
            <name>Thailand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thailand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_THB</targetReference>
            </connector>
            <label>Thailand</label>
        </rules>
        <rules>
            <name>Cambodia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambodia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_KHR</targetReference>
            </connector>
            <label>Cambodia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update?</label>
        <locationX>4032</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Revisit_Date_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Source_LinkedIn_Sales_Navigator</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Lead is created by External Telemarketing User then automatically set Secondary Source = Telemarketing External</description>
        <name>Created_by_External_Telemarketing_Decision</name>
        <label>Created By External Telemarketing?</label>
        <locationX>3306</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Created_By_Pardot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Secondary_Source_Telemarketing_External_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.External_Telemarketing_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Secondary_Source_Telemarketing_External</targetReference>
            </connector>
            <label>Yes - Set Secondary Source</label>
        </rules>
    </decisions>
    <decisions>
        <description>If created by Pardot then set Currency based on Country. Otherwise skip.</description>
        <name>Created_By_Pardot</name>
        <label>Created By Pardot?</label>
        <locationX>3306</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Created_by_Pardot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2BMA Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_Decision</targetReference>
            </connector>
            <label>Yes - Created by Pardot</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the DUNS Number is populated but the Existing Account lookup is blank or the DUNS Number does not match the Account&apos;s DUNS Number check Account Database to see if account exists for matching to Existing Account. Otherwise skip.</description>
        <name>DUNS_Link_to_Existing_Account</name>
        <label>DUNS Link to Existing Account?</label>
        <locationX>4032</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Key_Owner_Field_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Link_to_Existing_Account_Outcome</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DUNS_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Account__r.DUNS_No__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.DUNS_No__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts_from_DUNS</targetReference>
            </connector>
            <label>Yes - Link to Existing Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Do the Corporate Type/Business Unit/Region etc values map the Owner&apos;s fields? Is an Update required?
Only update where the record is owned by a User (not Queue - Owner ID starts with 005) and not owned by B2BMA Integration (Pardot) user.</description>
        <name>Key_Owner_Field_Update_Required</name>
        <label>Key Owner Field Update Required?</label>
        <locationX>4032</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Update_Marketing_Unit_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Key_Fields</name>
            <conditionLogic>6 AND 7 AND (1 OR 2 OR 3 OR 4 OR 5 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_Business_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Business_Unit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Corporate_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Corporate_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Region__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Country</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Team__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Team__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>B2BMA Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.System_Lead_Owner_Managers_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Manager.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Key_Owner_Fields</targetReference>
            </connector>
            <label>Yes - Update Key Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source_DnB_Hoovers_Creation</name>
        <label>Lead Source = DnB Hoovers</label>
        <locationX>3306</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Created_by_External_Telemarketing_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>DnB_Hoovers_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DnB Hoovers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DnB_Hoovers_Secondary_Source_Creation</targetReference>
            </connector>
            <label>DnB Hoovers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source_LinkedIn_Sales_Navigator</name>
        <label>Lead Source = LinkedIn Sales Navigator</label>
        <locationX>3306</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Lead_Source_DnB_Hoovers_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>LinkedIn_Sales_Navigator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LinkedIn Sales Navigator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LinkedIn_Secondary_Source_Creation</targetReference>
            </connector>
            <label>LinkedIn Sales Navigator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Revisit_Date_Populated</name>
        <label>Revisit Date Populated?</label>
        <locationX>4758</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>DUNS_Link_to_Existing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Populated</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Revisit_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Revisit_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Revisit_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This sets the Assigned Marketing Unit on the Lead so it can map to Account Enagagement if needed</description>
        <name>Update_Marketing_Unit_Decision</name>
        <label>Update Marketing Unit?</label>
        <locationX>4032</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>Change_First_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Facilities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Corporate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facilities</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Marketing_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>f_marketingUnit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Marketing_Unit</targetReference>
            </connector>
            <label>Yes - Update Marketing Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Config_Switch</name>
        <label>Validate Config Switch</label>
        <locationX>4549</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enabled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_New</targetReference>
            </connector>
            <label>Enabled</label>
        </rules>
    </decisions>
    <description>Remove Historical Next Steps update</description>
    <environments>Default</environments>
    <formulas>
        <name>ChangeCompany</name>
        <dataType>String</dataType>
        <expression>IF(
    UPPER({!$Record.Company}) = {!$Record.Company},
    {!$Record.Company},
    INITCAP({!$Record.Company})
)</expression>
    </formulas>
    <formulas>
        <name>ChangeFirstName</name>
        <dataType>String</dataType>
        <expression>INITCAP({!$Record.FirstName})</expression>
    </formulas>
    <formulas>
        <name>ChangeLastName</name>
        <dataType>String</dataType>
        <expression>INITCAP({!$Record.LastName})</expression>
    </formulas>
    <formulas>
        <name>ChangeTitle</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(INITCAP({!$Record.Title}), &apos;Of &apos;, &apos;of &apos;)</expression>
    </formulas>
    <formulas>
        <description>Formula to convert Existing Account Name into Proper Case (unless it&apos;s all Upper Case already)</description>
        <name>f_ExistingAccount_CompanyName_ProperCase</name>
        <dataType>String</dataType>
        <expression>IF(
    UPPER({!$Record.Existing_Account__r.Name}) = {!$Record.Existing_Account__r.Name},
   {!$Record.Existing_Account__r.Name},
    INITCAP({!$Record.Existing_Account__r.Name})
)

/* If Existing Account Name is all upper case then leave name as is.
Otherwise perform INITCAP function to make name Proper Case */</expression>
    </formulas>
    <formulas>
        <name>f_isNew</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c}, {!$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c}, ISNEW())</expression>
    </formulas>
    <formulas>
        <name>f_marketingUnit</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Country}, 
&apos;United Kingdom&apos;,&apos;OCS - UK &amp; IRE&apos;, 
&apos;Ireland&apos;, &apos;OCS - UK &amp; IRE&apos;,
&apos;Bangladesh&apos;, &apos;OCS - APAC&apos;, 
&apos;India&apos;, &apos;OCS - APAC&apos;, 
&apos;Indonesia&apos;,  &apos;OCS - APAC&apos;,
&apos;Malaysia&apos;, &apos;OCS - APAC&apos;,
&apos;Philippines&apos;, &apos;OCS - APAC&apos;,
&apos;Qatar&apos;, &apos;OCS - APAC&apos;, 
&apos;Saudi Arabia&apos;, &apos;OCS - APAC&apos;,
&apos;Singapore&apos;, &apos;OCS - APAC&apos;, 
&apos;United Arab Emirates&apos;, &apos;OCS - APAC&apos;,
&apos;Vietnam&apos;, &apos;OCS - APAC&apos;, 
&apos;Australia&apos;, &apos;OCS - ANZ&apos;,
&apos;New Zealand&apos;, &apos;OCS - ANZ&apos;,
&apos;Thailand&apos;, &apos;PCS&apos;,
&apos;Cambodia&apos;, &apos;PCS&apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>f_newLine</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>fDayString</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>fMonthString</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!$Flow.CurrentDate}), 
    1, &quot;Jan&quot;, 
    2, &quot;Feb&quot;, 
    3, &quot;Mar&quot;, 
    4, &quot;Apr&quot;, 
    5, &quot;May&quot;, 
    6, &quot;Jun&quot;, 
    7, &quot;Jul&quot;, 
    8, &quot;Aug&quot;, 
    9, &quot;Sep&quot;, 
    10, &quot;Oct&quot;, 
    11, &quot;Nov&quot;, 
    12, &quot;Dec&quot;, 
    &quot;Unknown&quot;)</expression>
    </formulas>
    <formulas>
        <name>fYearSTring</name>
        <dataType>String</dataType>
        <expression>Text(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Lead: Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Before Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Using the Lead DUNS Number lookup the Account with the matching DUNS Number.</description>
        <name>Get_Accounts_from_DUNS</name>
        <label>Get Accounts from DUNS</label>
        <locationX>3878</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found_DUNS_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DUNS_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DUNS_No__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>4423</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Config_Switch</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>fTodayString</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!fDayString} {!fMonthString} {!fYearSTring}</text>
    </textTemplates>
    <variables>
        <description>Stores the Corporate_Type__c picklist value</description>
        <name>Corporate_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the country value from the Lead record</description>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This stores the Lead record ID</description>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
