Agentforce/force-app/main/default/flows/Lead_Scheduled_Enable_Auto_Enrichment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Turn_Off_Enrichment</name>
        <label>Turn Off Enrichment</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>$Record.dnb_exclude_company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Enrichment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Turn_On_Enrichment</name>
        <label>Turn On Enrichment</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>$Record.dnb_exclude_company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Enrichment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Turn_on_Lead_Enrichment</name>
        <label>Turn on Lead Enrichment</label>
        <locationX>754</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>$Record.dnb_exclude_company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Enrichment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Enriched</name>
        <label>Account Enriched?</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Enrichment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Not Enriched</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Enriched_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Account__r.DNBConnect__D_B_Connect_Company_Profile__r.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Enrichment_Active</targetReference>
            </connector>
            <label>Yes - Enriched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Enrichment_Active</name>
        <label>Account Enrichment Active</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Turn_Off_Enrichment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enrichment Not Active</defaultConnectorLabel>
        <rules>
            <name>Enrichment_Update_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Account__r.dnb_exclude_company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Turn_On_Enrichment</targetReference>
            </connector>
            <label>Enrichment Update Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Account_Exists</name>
        <label>Existing Account Exists?</label>
        <locationX>567</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Turn_on_Lead_Enrichment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Account</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Account_Mapped_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Enriched</targetReference>
            </connector>
            <label>Yes - Existing Account Mapped</label>
        </rules>
    </decisions>
    <description>Enable Lead Enrichment on Active Leads or where the Mapped Account has enrichment Active.</description>
    <environments>Default</environments>
    <interviewLabel>Lead: Scheduled - Enable Auto Enrichment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Scheduled - Enable Auto Enrichment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Enrichment</name>
        <label>Update Lead Enrichment</label>
        <locationX>567</locationX>
        <locationY>936</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>441</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Existing_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>dnb_exclude_company__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DNBConnect__D_B_Connect_Company_Profile__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-09</startDate>
            <startTime>02:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>1018</locationX>
        <locationY>1044</locationY>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Lead: Scheduled - Enable Auto Enrichment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
