Agentforce/force-app/main/default/flows/NPS_Scheduled_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_3_Days_After_Surveyor_Inactive</name>
        <label>Notify 3 Days After - Surveyor Inactive</label>
        <locationX>1634</locationX>
        <locationY>900</locationY>
        <actionName>NPS__c.NPS_Overdue_3_Days_Notify_Owner_Manager</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NPS__c.NPS_Overdue_3_Days_Notify_Owner_Manager</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_5_Days_After_Surveyor_Inactive</name>
        <label>Notify 5 Days After - Surveyor Inactive</label>
        <locationX>1898</locationX>
        <locationY>900</locationY>
        <actionName>NPS__c.NPS_Overdue_5_Days_Notify_Owner_Manager</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NPS__c.NPS_Overdue_5_Days_Notify_Owner_Manager</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_7_Days_Before_Surveyor_Inactive</name>
        <label>Notify 7 Days Before - Surveyor Inactive</label>
        <locationX>1370</locationX>
        <locationY>792</locationY>
        <actionName>NPS__c.NPS_7_Days_Before_Due_Notify_Owner_Manager</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NPS__c.NPS_7_Days_Before_Due_Notify_Owner_Manager</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_NPS_Surveyor_3_Days_Overdue</name>
        <label>Notify NPS Surveyor - 3 Days Overdue</label>
        <locationX>578</locationX>
        <locationY>900</locationY>
        <actionName>NPS__c.NPS_Overdue_3_Days_Notify_Owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NPS__c.NPS_Overdue_3_Days_Notify_Owner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_NPS_Surveyor_5_Days_Overdue</name>
        <label>Notify NPS Surveyor - 5 Days Overdue</label>
        <locationX>842</locationX>
        <locationY>900</locationY>
        <actionName>NPS__c.NPS_Overdue_5_Days_Notify_Owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NPS__c.NPS_Overdue_5_Days_Notify_Owner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_NPS_Surveyor_7_Days_Before</name>
        <label>Notify NPS Surveyor - 7 Days Before</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <actionName>NPS__c.NPS_7_Days_Before_Due_Notify_Surveyor</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NPS__c.NPS_7_Days_Before_Due_Notify_Surveyor</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>If the record is scheduled but the due date is more than 2 days in the past then make the NPS Overdue.
Otherwise continue and evaluate any notifications that may need to be sent.</description>
        <name>Action_Required_Decision</name>
        <label>Action Required?</label>
        <locationX>908</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Emails_Enabled_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Check Notifications</defaultConnectorLabel>
        <rules>
            <name>Yes_Make_Overdue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f_DueDate_Plus_2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Overdue</targetReference>
            </connector>
            <label>Yes - Make Overdue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Automation_Decision</name>
        <label>Automation Enabled?</label>
        <locationX>1799</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No - Stop</defaultConnectorLabel>
        <rules>
            <name>Yes_Automation_Enabled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Required_Decision</targetReference>
            </connector>
            <label>Yes - Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Enabled_Decision</name>
        <label>Emails Enabled?</label>
        <locationX>1766</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Emails Disabled</defaultConnectorLabel>
        <rules>
            <name>Emails_Enabled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Emails_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NPS_Surveyor_Active</targetReference>
            </connector>
            <label>Emails Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NPS_Overdue</name>
        <label>Is NPS Overdue?</label>
        <locationX>842</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>X3_Days_Overdue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>f_DueDate_Plus_3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overdue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_NPS_Surveyor_3_Days_Overdue</targetReference>
            </connector>
            <label>3 Days Overdue</label>
        </rules>
        <rules>
            <name>X5_Days_Overdue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>f_DueDate_Plus_5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overdue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_NPS_Surveyor_5_Days_Overdue</targetReference>
            </connector>
            <label>5 Days Overdue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Prior_To_Due_Date</name>
        <label>Is Prior To Due Date</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Is_NPS_Overdue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>X7_Days_Before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_DueDate_Minus_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_NPS_Surveyor_7_Days_Before</targetReference>
            </connector>
            <label>7 Days Before</label>
        </rules>
    </decisions>
    <decisions>
        <name>NPS_Overdue_Surveyor_Inactive</name>
        <label>NPS Overdue - Surveyor Inactive</label>
        <locationX>1898</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>X3_Days_Overdue_Surveyor_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>f_DueDate_Plus_3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overdue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_3_Days_After_Surveyor_Inactive</targetReference>
            </connector>
            <label>3 Days Overdue - Surveyor Inactive</label>
        </rules>
        <rules>
            <name>X5_Days_Overdue_Surveyor_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>f_DueDate_Plus_5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overdue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_5_Days_After_Surveyor_Inactive</targetReference>
            </connector>
            <label>5 Days Overdue - Surveyor Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>NPS_Surveyor_Active</name>
        <label>NPS Surveyor Active</label>
        <locationX>1106</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Prior_To_Due_Date_Surveyor_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Surveyor_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NPS_Surveyor__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Prior_To_Due_Date</targetReference>
            </connector>
            <label>Surveyor Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_To_Due_Date_Surveyor_Inactive</name>
        <label>Prior To Due Date - Surveyor Inactive</label>
        <locationX>1634</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>NPS_Overdue_Surveyor_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>X7_Days_Before_Surveyor_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_DueDate_Minus_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_7_Days_Before_Surveyor_Inactive</targetReference>
            </connector>
            <label>7 Days Before - Surveyor Inactive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_DueDate_Minus_7</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Due_Date__c} - 7</expression>
    </formulas>
    <formulas>
        <description>2 days after due date. Any record that is scheduled</description>
        <name>f_DueDate_Plus_2</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Due_Date__c} + 2</expression>
    </formulas>
    <formulas>
        <name>f_DueDate_Plus_3</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Due_Date__c}+3</expression>
    </formulas>
    <formulas>
        <name>f_DueDate_Plus_5</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Due_Date__c} + 5</expression>
    </formulas>
    <interviewLabel>NPS: Scheduled Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NPS: Scheduled Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_To_Overdue</name>
        <label>Update To Overdue</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1673</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automation_Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </filters>
        <object>NPS__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-11</startDate>
            <startTime>09:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
