Agentforce/force-app/main/default/flows/NPS_View_NPS_Responses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Suggestion_for_Improvement</name>
        <label>Add Suggestion for Improvement</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>v_Combined_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>T_SingleLineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Combined_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>T_Current_ImprovementSuggestions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Double_Line_Break</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Question_Answer_Vars</name>
        <label>Assign Question/Answer Vars</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>v_Combined_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>T_Current_Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Combined_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>T_SingleLineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Combined_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>T_Current_Answer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suggestion_for_Improvement_Provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Double_Line_Break</name>
        <label>Double Line Break</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>v_Combined_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>T_DoubleLineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Responses</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>c_EmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <description>Only allow responses to be shown to users if the Status is Closed. Otherwise prompt the user to complete the NPS Survey.</description>
        <name>Closed_Status</name>
        <label>Closed Status?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Responses_Found_but_Not_Closed_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Show Warning</defaultConnectorLabel>
        <rules>
            <name>Yes_Closed_Status_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Responses</targetReference>
            </connector>
            <label>Yes - Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Responses_Found</name>
        <label>Responses Found?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Responses_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Show Message</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NPS_Responses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Status</targetReference>
            </connector>
            <label>Yes - Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Suggestion_for_Improvement_Provided</name>
        <label>Suggestion for Improvement Provided?</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Double_Line_Break</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_SuggestionforImprovement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Responses.Suggestion_for_improvement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Suggestion_for_Improvement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Conditionally render &apos;Score: XX&apos; or NULL depending if score if provided for question or not.</description>
        <name>f_Score_ConditionalRendering</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Loop_Responses.Score__c}),NULL,&quot;Score: &quot; &amp; TEXT({!Loop_Responses.Score__c}))</expression>
    </formulas>
    <interviewLabel>NPS: View NPS Responses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NPS: View NPS Responses</label>
    <loops>
        <name>Loop_Responses</name>
        <label>Loop Responses</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_NPS_Responses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Question_Answer_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Responses_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_NPS_Responses</name>
        <label>Get NPS Responses</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Responses_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NPS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NPS_Response__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Responses_Screen</name>
        <label>Display Responses Screen</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>h_ViewResponses_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;NPS Responses&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!T_Combined_Responses}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Responses_Screen</name>
        <label>No Responses Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoResponses_Message_DT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;NPS Responses&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This NPS does not have any responses recorded. Please check back later.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Responses_Found_but_Not_Closed_Screen</name>
        <label>Responses Found but Not Closed Screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Responses_Found_Wrong_Status_Screen_DT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;NPS Responses&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Responses were found for this NPS Survey but they have not yet been submitted.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please contact the NPS Surveyor ({!recordId.NPS_Surveyor__r.Full_Name__c}) to arrange for the survey to be submitted.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NPS_Responses</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>T_Combined_Responses</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!v_Combined_Responses}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>T_Current_Answer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Loop_Responses.Answer__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>T_Current_ImprovementSuggestions</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Suggestion for Improvement: {!Loop_Responses.Suggestion_for_improvement__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>T_Current_Question</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/{!Loop_Responses.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_self&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;strong&gt;{!Loop_Responses.Name}&lt;/strong&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!f_Score_ConditionalRendering}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>T_DoubleLineBreak</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!c_EmptyString}
{!c_EmptyString}
{!c_EmptyString}</text>
    </textTemplates>
    <textTemplates>
        <name>T_SingleLineBreak</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!c_EmptyString}
{!c_EmptyString}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NPS__c</objectType>
    </variables>
    <variables>
        <name>v_Combined_Responses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
