Agentforce/force-app/main/default/flows/Operational_Opportunity_Line_Item_Before_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Is_New</name>
        <label>Set Is New</label>
        <locationX>336</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>v_IsNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_isNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Owner to Owner from Operational Opportunity Owner</description>
        <name>Set_Owner</name>
        <label>Set Owner</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Operational_Opportunity__r.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Owner_Key_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Corporate Type and Business Unit fields. All other Owner fields are formula fields at time of building.</description>
        <name>Update_Owner_Fields</name>
        <label>Update Owner Fields</label>
        <locationX>204</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner__r.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Corporate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner__r.Corporate_Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>336</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_Owner_Key_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Blank</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Owner is blank on creation then set Owner to the Owner of the Operational Opportunity</description>
        <name>Owner_Blank</name>
        <label>Owner Blank?</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Update_Owner_Key_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Populate_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner</targetReference>
            </connector>
            <label>Yes - Populate Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Owner_Key_Fields</name>
        <label>Update Owner Key Fields?</label>
        <locationX>336</locationX>
        <locationY>995</locationY>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Info_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Corporate_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner__r.Corporate_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner__r.Business_Unit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Fields</targetReference>
            </connector>
            <label>Yes - Update Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Config_Switch</name>
        <label>Validate Config Switch</label>
        <locationX>534</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Deactivated</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_New</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Operational Opportunity Line Item: Before Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Operational Opportunity Line Item: Before Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Config_Switch</targetReference>
        </connector>
        <object>OperationalOpportunityLineItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_IsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
