Agentforce/force-app/main/default/flows/Opportunity_Postpone_Opportunity_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_Toast</name>
        <label>Error Toast</label>
        <locationX>1018</locationX>
        <locationY>1790</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>An error occurred: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>534</locationX>
        <locationY>1574</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity Postponed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_2_1_Future_Opportunity</name>
        <label>Set 2.1 Future Opportunity</label>
        <locationX>754</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2. Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2.1 Future Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_5_Closed_Withdrawn</name>
        <label>Set 5. Closed Withdrawn</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5. Closed Withdrawn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sub_Stage_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Closed_Reason</name>
        <label>Set Closed Reason</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>recordId.Closed_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCSWithdrawnClosedReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Closed_Reason2</name>
        <label>Set Closed Reason</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>recordId.Closed_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Withdrawn_Closed_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Vars</name>
        <label>Set Opp Vars</label>
        <locationX>534</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>recordId.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProposedAwardDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Postpone_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProposedAwardDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Postpone_Close_Date_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postpone_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Postpone_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postpone_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Proposed_Award_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_End_Dates</name>
        <label>Set Start/End Dates</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId.Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opp_Vars</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_5_1_OCS_Withdrawn</name>
        <choiceText>5.1 OCS Withdrawn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5.1 OCS Withdrawn</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5_2_Customer_Withdrawn</name>
        <choiceText>5.2 Customer Withdrawn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5.2 Customer Withdrawn</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Benchmarking</name>
        <choiceText>Benchmarking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benchmarking</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Capability</name>
        <choiceText>Capability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Capability</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Closure</name>
        <choiceText>Closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Commitments</name>
        <choiceText>Commitments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commitments</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CustomerWithdrawn</name>
        <choiceText>Customer Withdrawn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Withdrawn</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Duplicated</name>
        <choiceText>Duplicated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicated</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_NotInStrategy</name>
        <choiceText>Not in Strategy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not in Strategy</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_People</name>
        <choiceText>People</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>People</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Postponed</name>
        <choiceText>Postponed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Postponed</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Relationship</name>
        <choiceText>Relationship</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Relationship</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Resource</name>
        <choiceText>Resource</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resource</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_RiskFinancial</name>
        <choiceText>Risk - Financial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Risk - Financial</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Size</name>
        <choiceText>Size</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Size</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Terms_Conditions</name>
        <choiceText>Terms &amp;amp; Conditions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Terms &amp; Conditions</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_TimelineLong</name>
        <choiceText>Timeline - Long</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Timeline - Long</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_TimelineShort</name>
        <choiceText>Timeline - Short</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Timeline - Short</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_TradeUnions</name>
        <choiceText>Trade Unions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trade Unions</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Evaluate_Proposed_Award_Date</name>
        <label>Evaluate Proposed Award Date</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Set_2_1_Future_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt; 1 Year</defaultConnectorLabel>
        <rules>
            <name>X1_Year_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProposedAwardDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f_todayPlus1Year</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_5_Closed_Withdrawn</targetReference>
            </connector>
            <label>&gt;= 1 Year</label>
        </rules>
    </decisions>
    <decisions>
        <description>Since the Award Date is being updated did the Contract Start and End Dates also get updated?</description>
        <name>Start_End_Dates_Changed</name>
        <label>Start/End Dates Changed?</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Opp_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_Dates_Changed_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Start_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>End_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start_End_Dates</targetReference>
            </connector>
            <label>Yes - Contract Dates Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate whether the Opp is OCS Withdrawn or Customer Withdrawn.

Set the Closed Reason accordingly.</description>
        <name>Sub_Stage_Decision</name>
        <label>Sub Stage?</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCS_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_5_1_OCS_Withdrawn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_Reason</targetReference>
            </connector>
            <label>OCS Withdrawn</label>
        </rules>
        <rules>
            <name>Customer_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_5_2_Customer_Withdrawn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_Reason2</targetReference>
            </connector>
            <label>Customer Withdrawn</label>
        </rules>
    </decisions>
    <description>E2E: Allows users to move an Opportunity from 2.2 Needs Analysis to 2.1 Future Opportunity.
With data fix</description>
    <dynamicChoiceSets>
        <name>p_postponeReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Postpone_Close_Date_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_todayPlus1Year</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},12)</expression>
    </formulas>
    <interviewLabel>Opportunity: Postpone Opportunity: Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Postpone Opportunity: Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordRollbacks>
        <name>Roll_Back_Changes</name>
        <label>Roll Back Changes</label>
        <locationX>1018</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Log_Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>534</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_Changes</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Postpone_Confirmation</name>
        <label>Postpone Confirmation</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Start_End_Dates_Changed</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You are about to postpone this Opportunity. Please provide details below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Postpone_Choice</name>
            <choiceReferences>p_postponeReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Postpone Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Postpone_Comments</name>
            <fieldText>Postpone Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>futureOpportunityConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You have chosen an Award date within the next 12 months. This will be moved to a Future Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProposedAwardDate</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>f_todayPlus1Year</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WithdrawnConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You have chosen an Award date that is a year or further in the future. This Opportunity will be moved to Closed Withdrawn.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProposedAwardDate</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>f_todayPlus1Year</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProposedAwardDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>recordId.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Proposed Award Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;The award date must be in the future.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ProposedAwardDate} &gt; {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Postpone_Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Postpone_Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.Contract_Start_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Start Date must be after Award Date&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Start_Date} &gt; {!ProposedAwardDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postpone_Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.Contract_End_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;End Date must be after Start Date&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!End_Date} &gt; {!Start_Date}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProposedAwardDate</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>recordId.Contract_Start_Date__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Postpone_Confirmation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Postpone_Confirmation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_Stage</name>
                    <choiceReferences>c_5_1_OCS_Withdrawn</choiceReferences>
                    <choiceReferences>c_5_2_Customer_Withdrawn</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sub Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postpone_Confirmation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OCSWithdrawnClosedReason</name>
                    <choiceReferences>c_Benchmarking</choiceReferences>
                    <choiceReferences>c_Capability</choiceReferences>
                    <choiceReferences>c_CustomerWithdrawn</choiceReferences>
                    <choiceReferences>c_Duplicated</choiceReferences>
                    <choiceReferences>c_NotInStrategy</choiceReferences>
                    <choiceReferences>c_Resource</choiceReferences>
                    <choiceReferences>c_Size</choiceReferences>
                    <choiceReferences>c_Terms_Conditions</choiceReferences>
                    <choiceReferences>c_TradeUnions</choiceReferences>
                    <choiceReferences>c_TimelineLong</choiceReferences>
                    <choiceReferences>c_TimelineShort</choiceReferences>
                    <choiceReferences>c_Relationship</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Closed Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sub_Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>c_5_1_OCS_Withdrawn</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Customer_Withdrawn_Closed_Reason</name>
                    <choiceReferences>c_CustomerWithdrawn</choiceReferences>
                    <choiceReferences>c_Postponed</choiceReferences>
                    <choiceReferences>c_Closure</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Closed Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sub_Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>c_5_2_Customer_Withdrawn</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProposedAwardDate</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>f_todayPlus1Year</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Postpone_Confirmation_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Postpone_Confirmation_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Further_Details</name>
                    <fieldText>Further Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>OCSWithdrawnClosedReason</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>Customer_Withdrawn_Closed_Reason</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Postpone Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Record_Access</name>
        <label>Check Record Access</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Opportunity_Account_Data_Fix</targetReference>
        </connector>
        <flowName>Utility_Check_Record_Access_Subflow</flowName>
        <inputAssignments>
            <name>vIn_Record_ID</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_Stop_If_No_Edit_Access</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_User_ID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>1018</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Error_Toast</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Opportunity: Postpone Opportunity: Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Opportunity_Account_Data_Fix</name>
        <label>Opportunity &amp; Account Data Fix</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Postpone_Confirmation</targetReference>
        </connector>
        <flowName>Opportunity_Data_Fix_Subflow</flowName>
        <inputAssignments>
            <name>vInOut_Opportunity</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>vInOut_Opportunity</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
