Agentforce/force-app/main/default/flows/Opportunity_RFI_Submission_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>512</locationX>
        <locationY>2294</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>RFI Submission Confirmed successfully</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opp_Fields</name>
        <label>Assign Opp Fields</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vIn_Opportunity.Bid_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bid_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIn_Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Award_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_RFI_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bid_Phase_Completed_Status</name>
        <label>Set Bid Phase Completed Status</label>
        <locationX>248</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Get_RFI_Bid_Phase.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_RFI_Bid_Phase.Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFI_Submitted_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_RFI_Bid_Phase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bid_Phase_Dates</name>
        <label>Set Bid Phase Dates</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Get_RFI_Bid_Phase.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFI_Issue_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_RFI_Bid_Phase.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFI_Submission_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bid_Phase_Found_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RFI_Issue_Date</name>
        <label>Set RFI Issue/Submission Dates</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>vIn_Opportunity.RFI_Issue_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFI_Issue_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIn_Opportunity.RFI_Submission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFI_Submission_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RFI_Bid_Phase_Found_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RFI_Submitted_Vars</name>
        <label>Set RFI Submitted Vars</label>
        <locationX>512</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>vIn_Opportunity.RFI_Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFI_Submitted_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIn_Opportunity.Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3.2 RFI Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIn_Opportunity.RFI_Submitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RFI_Bid_Phase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If a Bid Phase for RFI was found then close this now RFI has been submitted.</description>
        <name>Bid_Phase_Found_Decision</name>
        <label>Bid Phase Found?</label>
        <locationX>512</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Update_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Close_Phase_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RFI_Bid_Phase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bid_Phase_Completed_Status</targetReference>
            </connector>
            <label>Yes - Close Phase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Bid_Start_Date</name>
        <label>Evaluate Bid Start Date</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Confirm_RFI_Submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Today or Before</defaultConnectorLabel>
        <rules>
            <name>Bid_Start_Date_Errors</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vIn_Opportunity.Bid_Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vIn_Opportunity.Bid_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vIn_Opportunity.CloseDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Bid_Start_Award_Date</targetReference>
            </connector>
            <label>Bid Start Date Errors</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was an RFI Bid Phase found for this Opportunity?
If yes then update the RFI dates on the Bid Phase. If no then create the Bid Phase.</description>
        <name>RFI_Bid_Phase_Found_Decision</name>
        <label>RFI Bid Phase Found?</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Create_Bid_Phase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create Phase</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Phase_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RFI_Bid_Phase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bid_Phase_Dates</targetReference>
            </connector>
            <label>Yes - Update Phase</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was the RFI Issue/Submission Date set in this flow? If so ensure the Bid Phases are updated accordingly so that this is reflected back onto the Opp.</description>
        <name>RFI_Issue_Date_Set</name>
        <label>RFI Issue Date Set?</label>
        <locationX>512</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Bid_Phase_Found_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_RFI_Issue_Submission_Dates_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RFI_Issue_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RFI_Issue_Date</targetReference>
            </connector>
            <label>Yes - Set RFI Issue/Submission Dates</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: RFI Submission Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: RFI Submission Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bid_Phase</name>
        <label>Create Bid Phase</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Bid_Phase_Found_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bid__c</field>
            <value>
                <elementReference>vIn_Opportunity.Bid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>vIn_Opportunity.RFI_Submission_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>vIn_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vIn_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>vIn_Opportunity.RFI_Issue_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>SQ/RFI</stringValue>
            </value>
        </inputAssignments>
        <object>Bid_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_RFI_Bid_Phase</name>
        <label>Get RFI Bid Phase</label>
        <locationX>512</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RFI_Issue_Date_Set</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vIn_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SQ/RFI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bid_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_RFI_Bid_Phase</name>
        <label>Close RFI Bid Phase</label>
        <locationX>248</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>Get_RFI_Bid_Phase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>512</locationX>
        <locationY>2186</locationY>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>vIn_Opportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Bid_Start_Award_Date</name>
        <label>Confirm Bid Start &amp; Award Date</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Opp_Fields</targetReference>
        </connector>
        <fields>
            <name>BidStartDateConfirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Confirm RFI Submission&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please confirm the following dates to proceed;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirm_Bid_Start_Award_Date_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Bid_Start_Award_Date_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bid_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>vIn_Opportunity.Bid_Start_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Bid Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Bid Start Date cannot be in the future and must be before the award date.&lt;/p&gt;</errorMessage>
                        <formulaExpression>Bid_Start_Date &lt;= {!$Flow.CurrentDate} &amp;&amp; Bid_Start_Date &lt; Award_Date</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_Bid_Start_Award_Date_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Award_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>vIn_Opportunity.CloseDate</elementReference>
                    </defaultValue>
                    <fieldText>Award Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Award Date must be after the Bid Start Date and be greater than {!$Flow.CurrentDate}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Award_Date} &gt; {!Bid_Start_Date} &amp;&amp;  {!Award_Date} &gt; {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_RFI_Submission</name>
        <label>Confirm RFI Submission</label>
        <locationX>512</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Set_RFI_Submitted_Vars</targetReference>
        </connector>
        <fields>
            <name>Confirm_RFI_Submission_DT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Confirm RFI Submission&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirm_RFI_Submission_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_RFI_Submission_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>message</name>
                    <fieldText>&lt;p&gt;Enter the date when the RFI was Submitted:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_RFI_Submission_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RFI_Submitted_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>RFI Submitted Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please ensure that the RFI Submitted Date is on or after the Bid Start Date {!vIn_Opportunity.Bid_Start_Date__c}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!RFI_Submitted_Date} &gt;= {!vIn_Opportunity.Bid_Start_Date__c}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirm_RFI_Submission_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_RFI_Submission_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RFI_Issue_Date_Error</name>
                    <fieldText>&lt;p&gt;Please confirm the date the RFI was Issued and the date it was due for Submission&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_RFI_Submission_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RFI_Issue_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>vIn_Opportunity.RFI_Issue_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>RFI Issue Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The RFI Issue Date must be on or before the RFI Submitted Date&lt;/p&gt;&lt;p&gt;({!RFI_Submitted_Date}) and on or before the date the RFI was due for Submission.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!RFI_Submitted_Date} &gt;= {!RFI_Issue_Date}
&amp;&amp;
{!RFI_Submission_Date} &gt;= {!RFI_Issue_Date}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>RFI_Submission_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>vIn_Opportunity.RFI_Submission_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>RFI Submission Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;RFI Submission Date must be after the RFI Issue Date as well as being before the Award Date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!RFI_Issue_Date} &lt;= {!RFI_Submission_Date}
&amp;&amp; {!vIn_Opportunity.CloseDate} &gt;= {!RFI_Submission_Date}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>vIn_Opportunity.RFI_Issue_Date__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RFI_Submitted_Date</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>vIn_Opportunity.RFI_Issue_Date__c</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>vIn_Opportunity.RFI_Submission_Date__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Account_Opportunity_Data_Fix_Subflow</name>
        <label>Account &amp; Opportunity Data Fix Subflow</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Evaluate_Bid_Start_Date</targetReference>
        </connector>
        <flowName>Opportunity_Data_Fix_Subflow</flowName>
        <inputAssignments>
            <name>vInOut_Opportunity</name>
            <value>
                <elementReference>vIn_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vIn_Opportunity</assignToReference>
            <name>vInOut_Opportunity</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Check_Record_Access</name>
        <label>Check Record Access</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Account_Opportunity_Data_Fix_Subflow</targetReference>
        </connector>
        <flowName>Utility_Check_Record_Access_Subflow</flowName>
        <inputAssignments>
            <name>vIn_Record_ID</name>
            <value>
                <elementReference>vIn_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_Stop_If_No_Edit_Access</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_User_ID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>1018</locationX>
        <locationY>2294</locationY>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Opportunity: RFI Submission Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>vIn_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>v_Count_Open_Bid_Supports</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vIn_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
