Agentforce/force-app/main/default/flows/Opportunity_Progress_Lite_Opportunity_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_Toast</name>
        <label>Error Toast</label>
        <locationX>1788</locationX>
        <locationY>3446</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>f_Error_Message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>864</locationX>
        <locationY>3338</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity updated to {!recordId.StageName} successfully</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_QuickChoice_Record_Type_Options</name>
        <label>Add QuickChoice Record Type Options</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>v_QuickChoice_RecordType_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Lite Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_RecordType_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>A simple transactional sale with no formal tender processes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_RecordType_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:quotes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_RecordType_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Full Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_RecordType_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>A sale involving a formal tender process (eg: RFI and/or RFP)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_RecordType_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:asset_relationship</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Record_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process_Start_Date</name>
        <label>Assign Process Start Date</label>
        <locationX>732</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>recordId.Bid_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Forecast_Fields_Not_Required</name>
        <label>Set Forecast Fields (Not Required)</label>
        <locationX>534</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>recordId.Forecast_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forecast_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Forecast_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forecast_Comments_Not_Required</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Process_Start_Date_Need_Populating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Forecast_Fields_Required</name>
        <label>Set Forecast Fields (Required)</label>
        <locationX>798</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>recordId.Forecast_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forecast_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Forecast_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forecast_Comments_Required</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Process_Start_Date_Need_Populating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Initial_Record_Type_Complete</name>
        <label>Set Initial Record Type Complete</label>
        <locationX>534</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>recordId.System_Initial_Record_Type_Confirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_2_Prospect</name>
        <label>Set Stage = 2. Prospect</label>
        <locationX>468</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2. Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2.2 Needs Analysis</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lite_Opportunity_Data_Fix_Subflow_After_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_3_Solution</name>
        <label>Set Stage = 3. Solution</label>
        <locationX>732</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3. Solution</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3.3 Develop Solution</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lite_Opportunity_Data_Fix_Subflow_After_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_4_Post_Submission</name>
        <label>Set Stage = 4. Post-Submission + Submitted Date</label>
        <locationX>996</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4. Post-Submission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.RFP_Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4.2 Negotiation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lite_Opportunity_Data_Fix_Subflow_After_Stage_Change</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_Stage_Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Stage_Postpone</name>
        <choiceText>Postpone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Postpone</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Stage_PostSubmission</name>
        <choiceText>4. Post-Submission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4. Post-Submission</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Stage_Prospect</name>
        <choiceText>2. Prospect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2. Prospect</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Stage_Solution</name>
        <choiceText>3. Solution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3. Solution</stringValue>
        </value>
    </choices>
    <decisions>
        <description>If Record Type was changed to Full Opportunity then end here to allow the page to reload since Full Opps have different Progress Functionality</description>
        <name>Continue_or_End_Decision</name>
        <label>Continue or End</label>
        <locationX>534</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Lite_Opportunity_Data_Fix_Subflow_Before_Stage_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Full_Opp_Stop_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Full_Opportunity_Selected_Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Full Opp - Stop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Stage</name>
        <label>Selected Stage</label>
        <locationX>864</locationX>
        <locationY>2714</locationY>
        <defaultConnectorLabel>Other - Skip</defaultConnectorLabel>
        <rules>
            <name>Postpone_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Stage_Postpone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Postpone_Opportunity</targetReference>
            </connector>
            <label>Postpone</label>
        </rules>
        <rules>
            <name>X2_Prospect_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Stage_Prospect</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_2_Prospect</targetReference>
            </connector>
            <label>2. Prospect</label>
        </rules>
        <rules>
            <name>X3_Solution_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Stage_Solution</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_3_Solution</targetReference>
            </connector>
            <label>3. Solution</label>
        </rules>
        <rules>
            <name>X4_Post_Submission_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Stage_PostSubmission</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_4_Post_Submission</targetReference>
            </connector>
            <label>4. Post-Submission</label>
        </rules>
        <rules>
            <name>Closed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Stage_Closed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Opportunity_Subflow</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If moved from 2. Prospect into 3. Solution then populate Process Start Date if it is not already populated</description>
        <name>Does_Process_Start_Date_Need_Populating</name>
        <label>Does Process Start Date Need Populating?</label>
        <locationX>864</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Current_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Populate_Process_Start_Date_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2. Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Bid_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>c_Stage_Postpone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Process_Start_Date</targetReference>
            </connector>
            <label>Yes - Populate Process Start Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Based on the Opportunity Country is the record eligible for Full Opportunity or not?

If so then prompt user to confirm Record Type.

If not eligible then skip.</description>
        <name>Eligible_for_Full_Opportunity_Functionality</name>
        <label>Eligible for Full Opportunity Functionality?</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Initial_Record_Type_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Eligible_Check_Record_Type_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Enable_Full_Opportunity_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_QuickChoice_Record_Type_Options</targetReference>
            </connector>
            <label>Yes - Check Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>Which is the correct set of Forecast fields to use? The required Comments field or the not required comments field?</description>
        <name>Forecast_Comments_Fields_Decision</name>
        <label>Forecast Comments Fields?</label>
        <locationX>666</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Set_Forecast_Fields_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Best Case/Commit</defaultConnectorLabel>
        <rules>
            <name>Pipeline_Category_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Forecast_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Forecast_Fields_Not_Required</targetReference>
            </connector>
            <label>Pipeline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Forecast_Fields_Populated_Decision</name>
        <label>Forecast Fields Populated?</label>
        <locationX>864</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Does_Process_Start_Date_Need_Populating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Forecast_Fields_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Forecast_Category</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Forecast_Comments_Fields_Decision</targetReference>
            </connector>
            <label>Yes - Set Forecast Fields</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has the initial Record Type Check been completed? If so then skip.</description>
        <name>Initial_Record_Type_Confirmation_Complete</name>
        <label>Initial Record Type Confirmation Complete?</label>
        <locationX>864</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Lite_Opportunity_Data_Fix_Subflow_Before_Stage_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - Skip</defaultConnectorLabel>
        <rules>
            <name>No_Check_Record_Type_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.System_Initial_Record_Type_Confirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eligible_for_Full_Opportunity_Functionality</targetReference>
            </connector>
            <label>No - Check Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Record_Type</name>
        <label>Selected Record Type</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_Initial_Record_Type_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lite Opportunity</defaultConnectorLabel>
        <rules>
            <name>Full_Opportunity_Selected_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType_Quick_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Full_Opp_Record_Type</targetReference>
            </connector>
            <label>Full Opportunity</label>
        </rules>
    </decisions>
    <description>Progress Opportunity functionality for Lite Opportunity.</description>
    <dynamicChoiceSets>
        <name>c_Forecast_Categories</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Forecast_Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Formula to extract the custom validation message from any errors that were caused by Validation Rules to display a more user friendly message to the user. If the error was not caused by VR then show the Flow Fault Message in its entirety.</description>
        <name>f_Error_Message</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Flow.FaultMessage},&apos;CUSTOM_VALIDATION_EXCEPTION&apos;),
MID({!$Flow.FaultMessage}, FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage}) + LEN(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;), FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage}) - FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage}) - LEN(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;)),
{!$Flow.FaultMessage})</expression>
    </formulas>
    <formulas>
        <description>Formula to Return the next stage</description>
        <name>f_Next_Stage</name>
        <dataType>String</dataType>
        <expression>CASE({!recordId.StageName},
&quot;1. Future Opportunity&quot;, &quot;2. Prospect&quot;,
&quot;2. Prospect&quot;, &quot;3. Solution&quot;,
&quot;3. Solution&quot;, &quot;4. Post-Submission&quot;,
&quot;4. Post-Submission&quot;, &quot;Closed&quot;,
NULL
)</expression>
    </formulas>
    <interviewLabel>Opportunity: Progress Lite Opportunity Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Progress Lite Opportunity Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Record Type ID for Full Opportunity record type and update the recordId.RecordTypeID field with the value.</description>
        <name>Get_Full_Opp_Record_Type</name>
        <label>Get Full Opp Record Type</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Initial_Record_Type_Complete</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full_Bid_Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordId.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>864</locationX>
        <locationY>3230</locationY>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Record_Type</name>
        <label>Update Opp Record Type</label>
        <locationX>534</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Continue_or_End_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Record_Type_Screen</name>
        <label>Confirm Record Type Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Selected_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Confirm_Record_Type_DT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Choose Opportunity Record Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Before updating the Stage you must choose the correct Record Type for this Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RecordType_Quick_Choice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>v_QuickChoice_RecordType_Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>v_QuickChoice_RecordType_Labels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>v_QuickChoice_RecordType_Descriptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stage_Selection_Screen</name>
        <label>Stage Selection Screen</label>
        <locationX>864</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Forecast_Fields_Populated_Decision</targetReference>
        </connector>
        <fields>
            <name>Current_Stage_DT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Current Stage:﻿&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!recordId.StageName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stage_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stage</name>
                    <choiceReferences>c_Stage_Prospect</choiceReferences>
                    <choiceReferences>c_Stage_Solution</choiceReferences>
                    <choiceReferences>c_Stage_PostSubmission</choiceReferences>
                    <choiceReferences>c_Stage_Closed</choiceReferences>
                    <choiceReferences>c_Stage_Postpone</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>f_Next_Stage</elementReference>
                    </defaultValue>
                    <fieldText>New Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>New_Stage_Prospect_DT</name>
                    <fieldText>&lt;p&gt;Description: Analysing the Opportunity&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>c_Stage_Prospect</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_Stage_Solution_DT</name>
                    <fieldText>&lt;p&gt;Description: Quote/Solution being worked on&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>c_Stage_Solution</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_Stage_Post_Submission_DT</name>
                    <fieldText>&lt;p&gt;Description: Quote/Solution submitted&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>c_Stage_PostSubmission</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_Stage_Closed_DT</name>
                    <fieldText>&lt;p&gt;Description: Close the Opportunity&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>c_Stage_Closed</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_Stage_Postpone_DT</name>
                    <fieldText>&lt;p&gt;Description: Put the Opportunity on hold until a later date&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>c_Stage_Postpone</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stage_Selection_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage_Selection_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stage_Selection_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_Category</name>
                    <choiceReferences>c_Forecast_Categories</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Forecast_Category__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stage_Selection_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_Comments_Required</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Forecast_Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Forecast_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Best Case</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forecast_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Commit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Forecast_Comments_Not_Required</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Forecast_Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Forecast_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Pipeline</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Owner_Region__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UK&amp;I</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Annual_Contractual_Revenue__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_Stage_PostSubmission</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Opp_Lines_Warning</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;NOTE: To move Opportunity to {!Stage} you must first add at least one Opportunity Service.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Count_of_Opp_Lines__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>3. Solution</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>4. Post-Submission</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Record_Access</name>
        <label>Check Record Access</label>
        <locationX>864</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Initial_Record_Type_Confirmation_Complete</targetReference>
        </connector>
        <flowName>Utility_Check_Record_Access_Subflow</flowName>
        <inputAssignments>
            <name>vIn_Record_ID</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_Stop_If_No_Edit_Access</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_User_ID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Close_Opportunity_Subflow</name>
        <label>Close Opportunity Subflow</label>
        <locationX>1260</locationX>
        <locationY>2822</locationY>
        <flowName>Opportunity_Close_Opportunity_Screenflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Lite_Opportunity_Data_Fix_Subflow_After_Stage_Change</name>
        <label>Lite Opportunity Data Fix Subflow - After Stage Change</label>
        <locationX>864</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <flowName>Opportunity_Lite_Opportunity_Data_Fix_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Run Data Fix before any changes are made to make sure record meets criteria for the current stage.

Also run data fix AFTER stage changes are  made to make sure it still meets all required criteria for the new stage.</description>
        <name>Lite_Opportunity_Data_Fix_Subflow_Before_Stage_Change</name>
        <label>Lite Opportunity Data Fix Subflow - Before Stage Change</label>
        <locationX>864</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Stage_Selection_Screen</targetReference>
        </connector>
        <flowName>Opportunity_Lite_Opportunity_Data_Fix_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>1788</locationX>
        <locationY>3338</locationY>
        <connector>
            <targetReference>Error_Toast</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Opportunity: Progress Lite Opportunity Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Postpone_Opportunity</name>
        <label>Postpone Opportunity</label>
        <locationX>204</locationX>
        <locationY>2822</locationY>
        <flowName>Opportunity_Postpone_Opportunity_Screen_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>v_QuickChoice_RecordType_Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_QuickChoice_RecordType_Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_QuickChoice_RecordType_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_QuickChoice_Stage_Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_QuickChoice_Stage_Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_QuickChoice_Stage_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
