Agentforce/force-app/main/default/flows/Opportunity_View_Edit_Bid_Phases_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <description>Formula to extract the custom validation message from any errors that were caused by Validation Rules to display a more user friendly message to the user. If the error was not caused by VR then show the Flow Fault Message in its entirety.</description>
        <name>f_Error_Message</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Flow.FaultMessage},&apos;CUSTOM_VALIDATION_EXCEPTION&apos;),
MID({!$Flow.FaultMessage}, FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage}) + LEN(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;), FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage}) - FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage}) - LEN(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;)),
{!$Flow.FaultMessage})</expression>
    </formulas>
    <interviewLabel>Opportunity: View &amp; Edit Bid Phases Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: View &amp; Edit Bid Phases Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Bid_Phases</name>
        <label>Get Bid Phases</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bid_Phase_View_Edit_Bid_Phases_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bid_Phase__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Bid_Phase_View_Edit_Bid_Phases_Subflow</name>
        <label>Bid Phase: View &amp; Edit Bid Phases Subflow</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Bid_Phases</targetReference>
        </connector>
        <flowName>Bid_Phase_View_Edit_Bid_Phases_Subflow</flowName>
        <inputAssignments>
            <name>vInput_Opportunity</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vInputCol_BidPhases</name>
            <value>
                <elementReference>Get_Bid_Phases</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Check_Record_Access</name>
        <label>Check Record Access</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Full_Opp_Data_Fix_Subflow</targetReference>
        </connector>
        <flowName>Utility_Check_Record_Access_Subflow</flowName>
        <inputAssignments>
            <name>vIn_Record_ID</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_Stop_If_No_Edit_Access</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_User_ID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Full_Opp_Data_Fix_Subflow</name>
        <label>Full Opp Data Fix Subflow</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Bid_Phases</targetReference>
        </connector>
        <flowName>Opportunity_Data_Fix_Subflow</flowName>
        <inputAssignments>
            <name>vInOut_Opportunity</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>vInOut_Opportunity</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>v_Count_Retrieved_Phase_Records</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
