Agentforce/force-app/main/default/flows/Opportunity_Closure_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Cleaning_Lost_Contractual_Only</name>
        <label>Send Cleaning Lost - Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Cleaning_Lost_Contractual_Only_500k</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Cleaning_Lost_Contractual_Only_500k</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Cleaning_Lost_Not_Only_Contractual</name>
        <label>Send Cleaning Lost - Not Only Contractual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Cleaning_Lost_Contractual_500k_with_Other</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Cleaning_Lost_Contractual_500k_with_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Cleaning_Not_only_Contractual</name>
        <label>Send Cleaning - Not only Contractual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Cleaning_Won_Contractual_With_Other</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Cleaning_Won_Contractual_With_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Cleaning_Withdrawn_Contractual</name>
        <label>Send Cleaning Withdrawn Contractual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Cleaning_Withdrawn_Contractual_Only_500k</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Cleaning_Withdrawn_Contractual_Only_500k</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Cleaning_Withdrawn_Not_Only_Contractual</name>
        <label>Send Cleaning Withdrawn - Not Only Contractual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Cleaning_Withdrawn_Contractual_500k_with_Other</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Cleaning_Withdrawn_Contractual_500k_with_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Cleaning_Won_Contractual_Only</name>
        <label>Send Cleaning Won - Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Cleaning_Won_Contractual_Only</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Cleaning_Won_Contractual_Only</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send IE Lost Notification - Contractual Only</description>
        <name>Send_IE_Lost_Contractual_Only</name>
        <label>Send IE Lost - Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_IE_Lost_Contractual_Only</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_IE_Lost_Contractual_Only</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send IE Lost Notification - Contractual With Other</description>
        <name>Send_IE_Lost_Contractual_with_Other</name>
        <label>Send IE Lost - Contractual with Other</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_IE_Lost_Contractual_with_Other</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_IE_Lost_Contractual_with_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send IE Withdrawn Notification - Contractual Only</description>
        <name>Send_IE_Withdrawn_Contractual_Only</name>
        <label>Send IE Withdrawn - Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_IE_Withdrawn_Contractual_Only</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_IE_Withdrawn_Contractual_Only</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send IE Withdrawn Notification - Contractual With Other</description>
        <name>Send_IE_Withdrawn_Contractual_with_Other</name>
        <label>Send IE Withdrawn - Contractual with Other</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_IE_Withdrawn_Contractual_with_Other</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_IE_Withdrawn_Contractual_with_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send IE Won Notification - Contractual Only</description>
        <name>Send_IE_Won_Contractual_Only</name>
        <label>Send IE Won - Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_IE_Won_Contractual_Only</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_IE_Won_Contractual_Only</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send IE Won Notification - Contractual With Other</description>
        <name>Send_IE_Won_Contractual_With_Other</name>
        <label>Send IE Won - Contractual With Other</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_IE_Won_Contractual_With_Other</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_IE_Won_Contractual_With_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Opportunity_APAC_Lost_Contractual_Only_Notification</name>
        <label>Send Opportunity - APAC Lost - Contractual Only Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_APAC_Lost_Contractual_Only</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>APAC_Owner_Country</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_APAC_Lost_Contractual_Only</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Opportunity_APAC_Lost_Contractual_with_Other_Notification</name>
        <label>Send Opportunity - APAC Lost - Contractual with Other Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_APAC_Lost_Contractual_with_Other</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>APAC_Owner_Country</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_APAC_Lost_Contractual_with_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Opportunity_APAC_Withdrawn_Contractual_Only_Notification</name>
        <label>Send Opportunity - APAC Withdrawn - Contractual Only Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_APAC_Withdrawn_Contractual_Only</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>APAC_Owner_Country</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_APAC_Withdrawn_Contractual_Only</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Opportunity_APAC_Withdrawn_Contractual_with_Other_Notification</name>
        <label>Send Opportunity - APAC Withdrawn - Contractual with Other Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_APAC_Withdrawn_Contractual_with_Other</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>APAC_Owner_Country</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_APAC_Withdrawn_Contractual_with_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Opportunity_APAC_Won_Contractual_Only_Notification</name>
        <label>Send Opportunity - APAC Won - Contractual Only Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_APAC_Won_Contractual_Only</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>APAC_Owner_Country</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_APAC_Won_Contractual_Only</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Opportunity_APAC_Won_Contractual_With_Other_Notification</name>
        <label>Send Opportunity - APAC Won - Contractual With Other Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_APAC_Won_Contractual_With_Other</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>APAC_Owner_Country</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_APAC_Won_Contractual_With_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send email to Marketing on specific BUs</description>
        <name>Send_Opportunity_UK_IRE_Marketing_Won_Contractual_Only</name>
        <label>Send Opportunity - UK&amp;IRE Marketing Won - Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Marketing_Won_Contractual_Only</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Won_Contains_Cleaning_Contractual_Only</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Marketing_Won_Contractual_Only</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send email RE specific BUs to Marketing Contact</description>
        <name>Send_Opportunity_UK_IRE_Marketing_Won_Contractual_With_Other</name>
        <label>Send Opportunity - UK&amp;IRE Marketing Won - Contractual With Other</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Marketing_Won_Contractual_With_Other</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Won_Contains_Cleaning_Contractual_With_Other</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Marketing_Won_Contractual_With_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>UK_IRE_Lost_Contractual_Only_Alert</name>
        <label>UK&amp;IRE Lost - Contractual Only Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Lost_Contractual_Only_500k</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Lost_Contains_Cleaning_Contractual_Only</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Lost_Contractual_Only_500k</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>UK_IRE_Lost_Contractual_with_Other_Alert</name>
        <label>UK&amp;IRE Lost - Contractual with Other Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Lost_Contractual_500k_with_Other</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Lost_Contains_Cleaning_Not_Only_Contractual</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Lost_Contractual_500k_with_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>UK_IRE_Withdrawn_Contractual_Only_Alert</name>
        <label>UK&amp;IRE Withdrawn - Contractual Only Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Withdrawn_Contractual_Only_500k</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Withdrawn_Contains_Cleaning_Contractual_Only</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Withdrawn_Contractual_Only_500k</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>UK_IRE_Withdrawn_Contractual_with_Other_Alert</name>
        <label>UK&amp;IRE Withdrawn - Contractual with Other Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Withdrawn_Contractual_500k_with_Other</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Withdrawn_Contains_Cleaning_Not_Only_Contractual</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Withdrawn_Contractual_500k_with_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>UK_IRE_Won_Contractual_Only_Alert</name>
        <label>UK&amp;IRE Won - Contractual Only Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Won_Contractual_Only</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Marketing_AL_Contractual_Only</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Won_Contractual_Only</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>UK_IRE_Won_Contractual_with_Other_Alert</name>
        <label>UK&amp;IRE Won - Contractual with Other Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_UK_IRE_Won_Contractual_With_Other</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Marketing_AL_Contractual_With_Other</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_UK_IRE_Won_Contractual_With_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set as True where the Contractual Annual Revenue is greater than 0 and does not contain Ad-Hoc or Project Revenue</description>
        <name>Set_Contractual_Only_Type</name>
        <label>Set Contractual Only Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_ContractualOnly</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Corporate_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set as True where the Contractual Annual Revenue is greater than 0 and contains either Ad-Hoc or Project Revenue</description>
        <name>Set_Contractual_With_Other</name>
        <label>Set Contractual With Other</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_ContractualWithOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Corporate_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set GBP Value of Opportunity using Conversion Rates</description>
        <name>Set_Opp_Values</name>
        <label>Set Opp GBP Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_Contractual_Revenue_GBP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Contractual_Annual_Revenue_GBP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Ad_Hoc_Annual_Revenue_GBP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Ad_Hoc_Annual_Revenue_GBP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_Project_Annual_Revenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Project_Annual_Revenue_GBP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Value_Type</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>c_ocsLogo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;https://ocsltd052023--dev2.sandbox.file.force.com/servlet/servlet.ImageServer?id=0153L000000Nlbz&amp;oid=00D3L0000008pp7&amp;lastMod=1693489451000&apos; /&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>APAC_Closed_Stage</name>
        <label>Closed Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Criteria Not Met</defaultConnectorLabel>
        <rules>
            <name>APAC_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_APAC_Won_Contractual_Only</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>APAC_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_APAC_Lost_Contractual_Only</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
        <rules>
            <name>APAC_Closed_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Closed Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_APAC_Withdrawn_Contractual_Only</targetReference>
            </connector>
            <label>Closed Withdrawn</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identifies the Opportunity Owner Country in APAC</description>
        <name>APAC_Owner_Country</name>
        <label>APAC Owner Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>APAC_KH_OCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KH_Closed_Stage</targetReference>
            </connector>
            <label>KH - OCS</label>
        </rules>
        <rules>
            <name>APAC_SG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SG_Closed_Stage</targetReference>
            </connector>
            <label>SG</label>
        </rules>
        <rules>
            <name>APAC_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ID_Closed_Criteria</targetReference>
            </connector>
            <label>ID</label>
        </rules>
        <rules>
            <name>APAC_PH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PH_Closed_Stage</targetReference>
            </connector>
            <label>PH</label>
        </rules>
        <rules>
            <name>APAC_MY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MY_Closed_Stage</targetReference>
            </connector>
            <label>MY</label>
        </rules>
        <rules>
            <name>APAC_IN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IN_Closed_Stage</targetReference>
            </connector>
            <label>IN</label>
        </rules>
        <rules>
            <name>APAC_TH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TH_Closed_Criteria</targetReference>
            </connector>
            <label>TH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Automation_Enabled_Decision</name>
        <label>Automation Enabled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - Stop</defaultConnectorLabel>
        <rules>
            <name>Automation_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emails_Enabled_Decision</targetReference>
            </connector>
            <label>Automation Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Corporate_Type</name>
        <label>Corporate Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Corporate_Type_Facilities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Corporate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facilities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Owner_Region</targetReference>
            </connector>
            <label>Facilities</label>
        </rules>
        <rules>
            <name>Corporate_Type_Automotive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Corporate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automotive</stringValue>
                </rightValue>
            </conditions>
            <label>Automotive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Enabled_Decision</name>
        <label>Emails Enabled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - Stop</defaultConnectorLabel>
        <rules>
            <name>Emails_Enabled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Emails_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conversion_Rates</targetReference>
            </connector>
            <label>Emails Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>ID_Closed_Criteria</name>
        <label>ID Closed Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>&lt; 18M</defaultConnectorLabel>
        <rules>
            <name>ID_Won_18M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.8E7</numberValue>
                </rightValue>
            </conditions>
            <label>ID Won =&gt; 18M</label>
        </rules>
        <rules>
            <name>ID_Lost_18M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.8E7</numberValue>
                </rightValue>
            </conditions>
            <label>ID Lost =&gt; 18M</label>
        </rules>
        <rules>
            <name>ID_Withdrawn_18M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Closed Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.8E7</numberValue>
                </rightValue>
            </conditions>
            <label>ID Withdrawn =&gt; 18M</label>
        </rules>
    </decisions>
    <decisions>
        <description>Closed Stage for IE Owned Opportunities</description>
        <name>IE_Closed_Stage</name>
        <label>IE Closed Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>IE_Closed_Stage_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_IE_Won_Contractual_Value_Met</targetReference>
            </connector>
            <label>Won</label>
        </rules>
        <rules>
            <name>IE_Closed_Stage_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_IE_Lost_Contractual_Value_Met</targetReference>
            </connector>
            <label>Lost</label>
        </rules>
        <rules>
            <name>IE_Closed_Stage_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Closed Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_IE_Withdrawn_Contractual_Value_Met</targetReference>
            </connector>
            <label>Withdrawn</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identify the Revenue Types within the Lost Opportunity</description>
        <name>IE_Lost_Revenue_Type</name>
        <label>Revenue Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Non Contractual</defaultConnectorLabel>
        <rules>
            <name>IE_Lost_Contractual_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_ContractualOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_IE_Lost_Contractual_Only</targetReference>
            </connector>
            <label>Contractual Only</label>
        </rules>
        <rules>
            <name>IE_Lost_Contractual_With_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_ContractualWithOther</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_IE_Lost_Contractual_with_Other</targetReference>
            </connector>
            <label>Contractual With Other</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identify the Revenue Types within the Opportunity</description>
        <name>IE_Withdrawn_Opp_Revenue_Type</name>
        <label>Revenue Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Non Contractual</defaultConnectorLabel>
        <rules>
            <name>IE_Withdrawn_Contractual_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_ContractualOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_IE_Withdrawn_Contractual_Only</targetReference>
            </connector>
            <label>Contractual Only</label>
        </rules>
        <rules>
            <name>IE_Withdrawn_Contractual_With_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_ContractualWithOther</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_IE_Withdrawn_Contractual_with_Other</targetReference>
            </connector>
            <label>Contractual With Other</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identify the Revenue Types within the Won Opportunity</description>
        <name>IE_Won_Revenue_Type</name>
        <label>Revenue Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Non Contractual</defaultConnectorLabel>
        <rules>
            <name>IE_Won_Contractual_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_ContractualOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_IE_Won_Contractual_Only</targetReference>
            </connector>
            <label>Contractual Only</label>
        </rules>
        <rules>
            <name>IE_Won_Contractual_With_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_ContractualWithOther</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_IE_Won_Contractual_With_Other</targetReference>
            </connector>
            <label>Contractual With Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>IN_Closed_Stage</name>
        <label>IN Closed Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>IN_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IN_Win_Notification</targetReference>
            </connector>
            <label>IN Won</label>
        </rules>
        <rules>
            <name>IN_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <label>IN Lost</label>
        </rules>
        <rules>
            <name>IN_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Closed Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <label>IN Withdrawn</label>
        </rules>
    </decisions>
    <decisions>
        <name>IN_Win_Notification</name>
        <label>IN Win Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Met</defaultConnectorLabel>
        <rules>
            <name>IN_Contractual_Only_6M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Ad_hoc_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>IN Contractual Only 6M</label>
        </rules>
        <rules>
            <name>IN_Ad_Hoc_Only_500k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Ad_hoc_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <label>IN Ad-Hoc Only 500k</label>
        </rules>
        <rules>
            <name>IN_Combined</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Ad_hoc_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Ad_hoc_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <label>IN Combined</label>
        </rules>
    </decisions>
    <decisions>
        <description>APAC Criteria requires Contractual Revenue &gt;= 500k GBP</description>
        <name>Is_APAC_Contractual_Value_Met</name>
        <label>Is Contractual Value Met?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APAC_Contractual_Value_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Contractual_Revenue_GBP</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_Closed_Stage</targetReference>
            </connector>
            <label>APAC Contractual Value Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_APAC_Lost_Contractual_Only</name>
        <label>Is Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Opportunity_APAC_Lost_Contractual_with_Other_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contractual With Other</defaultConnectorLabel>
        <rules>
            <name>Lost_Contractual_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contractual_Only</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Opportunity_APAC_Lost_Contractual_Only_Notification</targetReference>
            </connector>
            <label>Contractual Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_APAC_Withdrawn_Contractual_Only</name>
        <label>Is Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Opportunity_APAC_Withdrawn_Contractual_with_Other_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contractual With Other</defaultConnectorLabel>
        <rules>
            <name>APAC_Withdrawn_Contractual_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contractual_Only</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Opportunity_APAC_Withdrawn_Contractual_Only_Notification</targetReference>
            </connector>
            <label>Contractual Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_APAC_Won_Contractual_Only</name>
        <label>Is Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Opportunity_APAC_Won_Contractual_With_Other_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contractual With Other</defaultConnectorLabel>
        <rules>
            <name>APAC_Won_Contractual_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contractual_Only</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Opportunity_APAC_Won_Contractual_Only_Notification</targetReference>
            </connector>
            <label>Contractual Only</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the Lost Opportunity Contain the value to send an alert</description>
        <name>Is_IE_Lost_Contractual_Value_Met</name>
        <label>Is Contractual Value Met?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Met</defaultConnectorLabel>
        <rules>
            <name>IE_Lost_Contractual_Value_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Contractual_Revenue_GBP</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IE_Lost_Revenue_Type</targetReference>
            </connector>
            <label>Contractual Value Met</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the Withdrawn Opportunity Contain the value to send an alert</description>
        <name>Is_IE_Withdrawn_Contractual_Value_Met</name>
        <label>Is Contractual Value Met?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Met</defaultConnectorLabel>
        <rules>
            <name>IE_Withdrawn_Contractual_Value_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Contractual_Revenue_GBP</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IE_Withdrawn_Opp_Revenue_Type</targetReference>
            </connector>
            <label>Contractual Value Met</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the Won Opportunity Contain the value to send an alert</description>
        <name>Is_IE_Won_Contractual_Value_Met</name>
        <label>Is Contractual Value Met</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Met</defaultConnectorLabel>
        <rules>
            <name>IE_Won_Contractual_Value_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Contractual_Revenue_GBP</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IE_Won_Revenue_Type</targetReference>
            </connector>
            <label>Contractual Value Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>KH_Closed_Stage</name>
        <label>KH Closed Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>KH_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <label>KH Won</label>
        </rules>
        <rules>
            <name>KH_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <label>KH Lost</label>
        </rules>
        <rules>
            <name>KH_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Closed Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <label>KH Withdrawn</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lost_Contains_Cleaning_Contractual_Only</name>
        <label>Lost - Contains Cleaning - Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Cleaning</defaultConnectorLabel>
        <rules>
            <name>Cleaning_Lost_Contractual_Only</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Summary_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Business_Unit_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cleaning_Lost_Contractual_Only</targetReference>
            </connector>
            <label>Cleaning - Lost - Contractual Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lost_Contains_Cleaning_Not_Only_Contractual</name>
        <label>Lost - Contains Cleaning - Not Only Contractual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Cleaning</defaultConnectorLabel>
        <rules>
            <name>Cleaning_Lost_Not_Only_Contractual</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Summary_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Business_Unit_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cleaning_Lost_Not_Only_Contractual</targetReference>
            </connector>
            <label>Cleaning - Lost - Not Only Contractual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketing_AL_Contractual_Only</name>
        <label>Marketing - AL - Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Won_Contains_Cleaning_Contractual_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other BU</defaultConnectorLabel>
        <rules>
            <name>AL_Selected_BUs_Contractual_Only</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private FM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Opportunity_UK_IRE_Marketing_Won_Contractual_Only</targetReference>
            </connector>
            <label>AL - Selected BUs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketing_AL_Contractual_With_Other</name>
        <label>Marketing - AL - Contractual With Other</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Won_Contains_Cleaning_Contractual_With_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other BU</defaultConnectorLabel>
        <rules>
            <name>AL_Selected_BUs_Contractual_With_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private FM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Opportunity_UK_IRE_Marketing_Won_Contractual_With_Other</targetReference>
            </connector>
            <label>AL - Selected BUs</label>
        </rules>
    </decisions>
    <decisions>
        <name>MY_Closed_Stage</name>
        <label>MY Closed Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>MY_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <label>MY Won</label>
        </rules>
        <rules>
            <name>MY_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <label>MY Lost</label>
        </rules>
        <rules>
            <name>MY_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Closed Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <label>MY Withdrawn</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Value_Type</name>
        <label>Opp Value Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Contractual</defaultConnectorLabel>
        <rules>
            <name>Contractual_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.In_Year_Ad_hoc_Annual_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.In_Year_Project_Annual_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contractual_Only_Type</targetReference>
            </connector>
            <label>Contractual Only</label>
        </rules>
        <rules>
            <name>Contractual_With_Other</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Ad_hoc_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Project_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contractual_With_Other</targetReference>
            </connector>
            <label>Contractual With Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>PH_Closed_Stage</name>
        <label>PH Closed Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>PH_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <label>PH Won</label>
        </rules>
        <rules>
            <name>PH_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <label>PH Lost</label>
        </rules>
        <rules>
            <name>PH_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Closed Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <label>PH Withdrawn</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine the Record Owner Region</description>
        <name>Record_Owner_Region</name>
        <label>Record Owner Region</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>UK_IRE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK&amp;I</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_IRE_Owner_Country</targetReference>
            </connector>
            <label>UK&amp;IRE</label>
        </rules>
        <rules>
            <name>APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_APAC_Contractual_Value_Met</targetReference>
            </connector>
            <label>APAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>SG_110K</name>
        <label>SG =&gt; 110K</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Met</defaultConnectorLabel>
        <rules>
            <name>SG_Contractual_Won_Criteria_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>110000.0</numberValue>
                </rightValue>
            </conditions>
            <label>SG Contractual Won Criteria Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>SG_Closed_Stage</name>
        <label>SG Closed Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>SG_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SG_110K</targetReference>
            </connector>
            <label>SG Won</label>
        </rules>
        <rules>
            <name>SG_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <label>SG Lost</label>
        </rules>
        <rules>
            <name>SG_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Closed Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SG_Withdrawn_Criteria</targetReference>
            </connector>
            <label>SG Withdrawn</label>
        </rules>
    </decisions>
    <decisions>
        <name>SG_Withdrawn_Criteria</name>
        <label>SG Withdrawn Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Met</defaultConnectorLabel>
        <rules>
            <name>SG_Contractual_Withdrawn_Criteria_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>SG Contractual Withdrawn Criteria Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>TH_Closed_Criteria</name>
        <label>TH Closed Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>&lt; 1M</defaultConnectorLabel>
        <rules>
            <name>TH_Won_1M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <label>TH Won  =&gt; 1M</label>
        </rules>
        <rules>
            <name>TH_Lost_1M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <label>TH Lost =&gt; 1M</label>
        </rules>
        <rules>
            <name>TH_Withdrawn_1M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Closed Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <label>TH Withdrawn =&gt; 1M</label>
        </rules>
    </decisions>
    <decisions>
        <description>Closed Stage for UK Owned Opportunities</description>
        <name>UK_Closed_Stage</name>
        <label>UK Closed Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>UK_Closed_Stage_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_Won_Contractual_Value</targetReference>
            </connector>
            <label>UK Won</label>
        </rules>
        <rules>
            <name>UK_Closed_Stage_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_Lost_Contractual_Value</targetReference>
            </connector>
            <label>UK Lost</label>
        </rules>
        <rules>
            <name>UK_Closed_Stage_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Closed Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_Withdrawn_Contractual_Value</targetReference>
            </connector>
            <label>UK Withdrawn</label>
        </rules>
    </decisions>
    <decisions>
        <description>Record Owner Country within UK&amp;IRE</description>
        <name>UK_IRE_Owner_Country</name>
        <label>UK&amp;IRE Owner Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UK_Closed_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>United Kingom</defaultConnectorLabel>
        <rules>
            <name>Ireland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IE_Closed_Stage</targetReference>
            </connector>
            <label>Ireland</label>
        </rules>
    </decisions>
    <decisions>
        <name>UK_Lost_Contractual_Value</name>
        <label>Lost Contractual Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Criteria Not Met</defaultConnectorLabel>
        <rules>
            <name>UK_Lost_Contractual_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Ad_hoc_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Project_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_IRE_Lost_Contractual_Only_Alert</targetReference>
            </connector>
            <label>Lost Contractual Only</label>
        </rules>
        <rules>
            <name>UK_Lost_Contractual_Value_500k_plus_other</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Ad_hoc_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Project_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_IRE_Lost_Contractual_with_Other_Alert</targetReference>
            </connector>
            <label>Lost Contractual Value =&gt; 500k plus other</label>
        </rules>
    </decisions>
    <decisions>
        <name>UK_Withdrawn_Contractual_Value</name>
        <label>Withdrawn Contractual Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Criteria Not Met</defaultConnectorLabel>
        <rules>
            <name>UK_Withdrawn_Contractual_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Ad_hoc_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Project_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_IRE_Withdrawn_Contractual_Only_Alert</targetReference>
            </connector>
            <label>Withdrawn Contractual Only</label>
        </rules>
        <rules>
            <name>UK_Withdrawn_Contractual_plus_other</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Ad_hoc_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Project_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_IRE_Withdrawn_Contractual_with_Other_Alert</targetReference>
            </connector>
            <label>Withdrawn Contractual plus other</label>
        </rules>
    </decisions>
    <decisions>
        <name>UK_Won_Contractual_Value</name>
        <label>Won Contractual Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Criteria Not Met</defaultConnectorLabel>
        <rules>
            <name>UK_Won_Contractual_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Ad_hoc_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Project_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_IRE_Won_Contractual_Only_Alert</targetReference>
            </connector>
            <label>UK Won Contractual Only</label>
        </rules>
        <rules>
            <name>UK_Won_Contractual_With_Other</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Contractual_Revenue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Ad_hoc_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Project_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_IRE_Won_Contractual_with_Other_Alert</targetReference>
            </connector>
            <label>UK Won Contractual plus other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Withdrawn_Contains_Cleaning_Contractual_Only</name>
        <label>Withdrawn - Contains Cleaning - Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Cleaning</defaultConnectorLabel>
        <rules>
            <name>Cleaning_Withdrawn_Contractual_Only</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Summary_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Business_Unit_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cleaning_Withdrawn_Contractual</targetReference>
            </connector>
            <label>Cleaning - Withdrawn - Contractual Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Withdrawn_Contains_Cleaning_Not_Only_Contractual</name>
        <label>Withdrawn - Contains Cleaning - Not Only Contractual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Cleaning</defaultConnectorLabel>
        <rules>
            <name>Cleaning_Withdrawn_Not_Only_Contractual</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Summary_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Business_Unit_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cleaning_Withdrawn_Not_Only_Contractual</targetReference>
            </connector>
            <label>Cleaning - Withdrawn - Not Only Contractual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Won_Contains_Cleaning_Contractual_Only</name>
        <label>Won - Contains Cleaning - Contractual Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Cleaning</defaultConnectorLabel>
        <rules>
            <name>Cleaning_Won_Contractual_Only</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Summary_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Business_Unit_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cleaning_Won_Contractual_Only</targetReference>
            </connector>
            <label>Cleaning - Won - Contractual Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Won_Contains_Cleaning_Contractual_With_Other</name>
        <label>Won - Contains Cleaning - Not Only Contractual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Cleaning</defaultConnectorLabel>
        <rules>
            <name>Cleaning_Won_Contractual_With_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Summary_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Business_Unit_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cleaning_Not_only_Contractual</targetReference>
            </connector>
            <label>Cleaning - Won - Not Only Contractual</label>
        </rules>
    </decisions>
    <description>Separation of IE &amp; UK</description>
    <environments>Default</environments>
    <formulas>
        <name>contractEndDateRebid</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contract_Start_Date__c}+{!$Record.Contract_Term__c}*365</expression>
    </formulas>
    <formulas>
        <name>ContractualAddAdHoc</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Annual_Contractual_Revenue__c} + {!$Record.Annual_Ad_hoc_Revenue__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_Ad_Hoc_Annual_Revenue_GBP</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.In_Year_Ad_hoc_Annual_Revenue__c}/{!v_ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_bidType</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Bid_Type__c}, 
&apos;RFI &amp; RFP&apos;, &apos;Full Bid&apos;, 
&apos;RFP&apos;, &apos;Lite Bid&apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>f_Contractual_Annual_Revenue_GBP</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Annual_Contractual_Revenue__c}/{!v_ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_debriefName</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;Debrief - &quot; + {!$Record.Name}, 80)</expression>
    </formulas>
    <formulas>
        <name>f_isNew</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c}, {!$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c}, ISNEW())</expression>
    </formulas>
    <formulas>
        <name>f_Project_Annual_Revenue_GBP</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Annual_Project_Revenue__c}/{!v_ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Set Contract Line Item Status Active or Pending depending on Contract Start Date</description>
        <name>Formula_CLI_Status</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Contract_Start_Date__c} &gt; {!$Flow.CurrentDate}, &quot;Pending&quot;, &quot;Active&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity: Closure Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Closure Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Dated Conversion Rates</description>
        <name>Get_Conversion_Rates</name>
        <label>Get Conversion Rates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opp_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DatedConversionRate</object>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automation_Enabled_Decision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Duplicated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>OCS Merger</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>t_HighDealAlertAPAC</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!c_ocsLogo}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Hi Team,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This high value Opportunity has recently closed in {!$Record.Owner.Country}, please see below for further details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Opportunity Name:&amp;nbsp;{!$Record.Name}&lt;/li&gt;&lt;li&gt;Closed Stage:&amp;nbsp;{!$Record.StageName}&lt;/li&gt;&lt;li&gt;Sub-Stage:&amp;nbsp;{!$Record.Sub_Stage__c}&lt;/li&gt;&lt;li&gt;Close Date: {!$Record.CloseDate}&lt;/li&gt;&lt;li&gt;Opportunity Owner:&amp;nbsp;{!$Record.Owner.FirstName} {!$Record.Owner.LastName}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Annual Contractual Revenue is {!$Record.Annual_Contractual_Revenue__c}, with an Annual Ad-Hoc Revenue of {!$Record.Annual_Ad_hoc_Revenue__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;OCS&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>t_HighDealAlertUKI1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!c_ocsLogo}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Hi Team,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This high value Opportunity has recently closed in {!$Record.Owner.Region__c}, please see below for further details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Opportunity Name:&amp;nbsp;{!$Record.Name}&lt;/li&gt;&lt;li&gt;Closed Stage:&amp;nbsp;{!$Record.StageName}&lt;/li&gt;&lt;li&gt;Sub-Stage:&amp;nbsp;{!$Record.Sub_Stage__c}&lt;/li&gt;&lt;li&gt;Close Date: {!$Record.CloseDate}&lt;/li&gt;&lt;li&gt;Opportunity Owner:&amp;nbsp;{!$Record.Owner.FirstName} {!$Record.Owner.LastName}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Annual Contractual Revenue is {!$Record.Annual_Contractual_Revenue__c}, with an Annual Ad-Hoc Revenue of {!$Record.Annual_Ad_hoc_Revenue__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;OCS&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>3</triggerOrder>
    <variables>
        <name>ApacGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cAPACsltEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionContractOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>contractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ContractualOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractualWithOther</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cUKIEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cUKIsltEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_on_UKI_Users</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_on_Users</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Desired_Price_Book</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>oppLIRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>v_accountRoleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Role__c</objectType>
    </variables>
    <variables>
        <name>v_Ad_Hoc_Annual_Revenue_GBP</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>f_Ad_Hoc_Annual_Revenue_GBP</elementReference>
        </value>
    </variables>
    <variables>
        <name>v_Contractual_Revenue_GBP</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>f_Contractual_Annual_Revenue_GBP</elementReference>
        </value>
    </variables>
    <variables>
        <name>v_ContractualOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ContractualWithOther</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ConversionRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <elementReference>Get_Conversion_Rates.ConversionRate</elementReference>
        </value>
    </variables>
    <variables>
        <name>v_enquiriesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enquiry__c</objectType>
    </variables>
    <variables>
        <name>v_isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_managerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_oppOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name to use to filter Price Book (either FM or Automotive)</description>
        <name>v_pricebook_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Project_Annual_Revenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>f_Project_Annual_Revenue_GBP</elementReference>
        </value>
    </variables>
    <variables>
        <name>v_recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_UKIUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_userIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_UserUKIId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
