Agentforce/force-app/main/default/flows/Opportunity_Creation_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Object_Name_From_ID</name>
        <label>Get Object Name From ID</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <actionName>FlowUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Object_Type</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>get-object-from-id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowUtilities</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>v_objectName</assignToReference>
            <name>actionMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Open_Existing_Renewal_Opp</name>
        <label>Open Existing Renewal Opp</label>
        <locationX>666</locationX>
        <locationY>2570</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Contracts_Table.firstSelectedRow.Rebid_Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Opportunity</name>
        <label>Redirect to Opportunity</label>
        <locationX>1282</locationX>
        <locationY>5678</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Toast_Notification</name>
        <label>Show Toast Notification</label>
        <locationX>1282</locationX>
        <locationY>5570</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Redirect_to_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Your Opportunity was created.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Link_Comp_Service_to_Opp</name>
        <label>Link Comp Service to Opp</label>
        <locationX>314</locationX>
        <locationY>4178</locationY>
        <assignmentItems>
            <assignToReference>Select_Competitor_Service_Table.firstSelectedRow.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_Competitor_Service_to_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Type_Account</name>
        <label>Set Customer Type Account</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>accountId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eligible_Record_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Type_Competitor_Services</name>
        <label>Set Customer Type Competitor Services</label>
        <locationX>2426</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>accountId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Competitor_Services_Record.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eligible_Record_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Type_Var</name>
        <label>Set Opportunity Type</label>
        <locationX>1282</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>v_opportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extension_or_Rebid_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Type_Options</name>
        <label>Set Record Type Options</label>
        <locationX>1282</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Lite Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>A simple transactional sale with no formal tender processes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:quotes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Full Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>A sale involving a formal tender process (eg: RFI and/or RFP)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_QuickChoice_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:asset_relationship</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Record_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>RefBU_Catering</name>
        <choiceText>Catering</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Catering</stringValue>
        </value>
    </choices>
    <choices>
        <name>RefBU_Cleaning</name>
        <choiceText>Cleaning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cleaning</stringValue>
        </value>
    </choices>
    <choices>
        <name>RefBU_HardServices</name>
        <choiceText>Hard Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hard Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>RefBU_Ireland</name>
        <choiceText>Ireland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ireland</stringValue>
        </value>
    </choices>
    <choices>
        <name>RefBU_PrivateFM</name>
        <choiceText>Private FM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private FM</stringValue>
        </value>
    </choices>
    <choices>
        <name>RefBU_PublicFM</name>
        <choiceText>Public FM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public FM</stringValue>
        </value>
    </choices>
    <choices>
        <name>RefBU_Security</name>
        <choiceText>Security</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Security</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Contracts_Found</name>
        <label>Check Contracts Found</label>
        <locationX>1106</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Get_Competitor_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found - Continue</defaultConnectorLabel>
        <rules>
            <name>Contracts_Found_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_s_Active_Contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Selection_Screen</targetReference>
            </connector>
            <label>Existing Contracts Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was a Competitor Service selected by the user? If so, continue. If not then skip.</description>
        <name>Competitor_Service_Selected_Decision</name>
        <label>Competitor Service Selected?</label>
        <locationX>710</locationX>
        <locationY>4070</locationY>
        <defaultConnector>
            <targetReference>Contact_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Competitor_Service_Selected_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Competitor_Service_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_Comp_Service_to_Opp</targetReference>
            </connector>
            <label>Yes - Competitor Service Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Provided</name>
        <label>Contact Provided?</label>
        <locationX>1282</locationX>
        <locationY>4862</locationY>
        <defaultConnector>
            <targetReference>SCOTSMAN_Required_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vKeyContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Primary_Contact_Role</targetReference>
            </connector>
            <label>Contact Entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Allocated</name>
        <label>Contract Allocated</label>
        <locationX>930</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Get_Competitor_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contracts_Found_Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contracts_Table.selectedRows</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Contract_Already_have_Renewal_Decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the selected Contract already has an Open Renewal (Extension/Rebid). If it does then show the user a message to say that a renewal opp already exists for the Contract and redirect them to the open Opp.</description>
        <name>Contract_Already_have_Renewal_Decision</name>
        <label>Contract Already have Renewal?</label>
        <locationX>754</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Get_Competitor_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Renewal_Exists_Show_Warning_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contracts_Table.firstSelectedRow.Rebid_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Exists_Warning_Screen</targetReference>
            </connector>
            <label>Yes - Show Warning</label>
        </rules>
    </decisions>
    <decisions>
        <description>Which Action did the user select on the warning screen?</description>
        <name>Duplicate_Continue_Action_Decision</name>
        <label>Duplicate Continue Action</label>
        <locationX>578</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Open_Existing_Renewal_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Opp</defaultConnectorLabel>
        <rules>
            <name>Create_Opp_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duplicate_Buttons_Override.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Override_Duplicate_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Competitor_Record_Type</targetReference>
            </connector>
            <label>Create Opp</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate the running user&apos;s permissions to determine whether they should be given a choice, or automatically set as Full or Lite Opportunity.</description>
        <name>Eligible_Record_Type_Decision</name>
        <label>Eligible Record Type Decision</label>
        <locationX>2162</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Full_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Full Opportunity Record Type</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Choice_Required_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Enable_Full_Opportunity_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Enable_Lite_Opportunity_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Type_Options</targetReference>
            </connector>
            <label>Record Type Choice Required</label>
        </rules>
        <rules>
            <name>Lite_Opportunity_Record_Type_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Enable_Lite_Opportunity_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Enable_Full_Opportunity_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Lite_Record_Type</targetReference>
            </connector>
            <label>Lite Opportunity Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Object_Type</name>
        <label>Evaluate Object Type</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Eligible_Record_Type_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Framework2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Framework_Agreement__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFrameworkid1</targetReference>
            </connector>
            <label>Framework</label>
        </rules>
        <rules>
            <name>Account2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Enquiry2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enquiry__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Enquiry_from_Record_ID</targetReference>
            </connector>
            <label>Enquiry</label>
        </rules>
        <rules>
            <name>Competitor_Services2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Competitor_Services__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Competitor_Services_Record</targetReference>
            </connector>
            <label>Competitor Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Object_Type_2</name>
        <label>Evaluate Object Type (2)</label>
        <locationX>1282</locationX>
        <locationY>3422</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Framework_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Framework_Agreement__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_From_Frameworks</targetReference>
            </connector>
            <label>Framework</label>
        </rules>
        <rules>
            <name>Account_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>primarySecondarySource</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Enquiry_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enquiry__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_From_Enquiry</targetReference>
            </connector>
            <label>Enquiry</label>
        </rules>
        <rules>
            <name>Competitor_Services_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Competitor_Services__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_From_Competitor_Services</targetReference>
            </connector>
            <label>Competitor Services</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the new Opp for Extension or Rebid?</description>
        <name>Extension_or_Rebid_Decision</name>
        <label>Extension or Rebid?</label>
        <locationX>1282</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Get_Competitor_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_ExtensionorRebid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>v_opportunityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_opportunityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rebid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_s_Active_Contracts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCOTSMAN_Required_Decision</name>
        <label>SCOTSMAN Required?</label>
        <locationX>1282</locationX>
        <locationY>5162</locationY>
        <defaultConnector>
            <targetReference>Show_Toast_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_SCOTSMAN_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCOTSMAN_Creation_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Opp</targetReference>
            </connector>
            <label>Yes - Create SCOTSMAN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Source_Competitor_Service</name>
        <label>Secondary Source = Competitor Service?</label>
        <locationX>1128</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>Contact_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_Source_Competitor_Service_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SecondarySource.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Competitor Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Competitor_Services</targetReference>
            </connector>
            <label>Yes - Competitor Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Record_Type_Decision</name>
        <label>Selected Record Type</label>
        <locationX>1282</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Get_Lite_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lite Opportunity</defaultConnectorLabel>
        <rules>
            <name>Full_Opportunity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Type_Quick_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Full_Record_Type</targetReference>
            </connector>
            <label>Full Opportunity</label>
        </rules>
    </decisions>
    <description>Add Aktrion Solution as Mandatory</description>
    <dynamicChoiceSets>
        <name>c_Aktrion_Solution</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Aktrion_Solution__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_PrimaryService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Service__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This Record Choice Set is for the Primary Contact choice lookup component on the Opportunity Details screen. Get the filtered collection of Contacts related to the Account. Filter condition: Contact.AccountId={!recordId}.</description>
        <name>Contact_choiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vKeyContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contract_Choice_Collection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending Termination</stringValue>
            </value>
        </filters>
        <object>Contract__c</object>
        <sortField>Contract_End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Multi_selectEnvironment</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Environment__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>priSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Source__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AwardDateAfterStartDate</name>
        <dataType>Boolean</dataType>
        <expression>{!Expected_Contract_Start_Date}&gt;{!AwardDate}</expression>
    </formulas>
    <formulas>
        <name>Contract_End_Before_Contract_Start</name>
        <dataType>Boolean</dataType>
        <expression>{!Expected_Contract_End_Date}&gt;={!Expected_Contract_Start_Date}</expression>
    </formulas>
    <formulas>
        <description>Return TRUE or FALSE whether running user has Create SCOTSMAN custom permission.</description>
        <name>f_Create_SCOTSMAN_Permission</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Create_SCOTSMAN}</expression>
    </formulas>
    <formulas>
        <name>f_Opp_Name</name>
        <dataType>String</dataType>
        <expression>LEFT(
    IF(
        ISBLANK({!getAccount.Known_As__c}),
        {!getAccount.Name},
        {!getAccount.Known_As__c}) &amp; &quot; - &quot; &amp; 
    {!Primary_Service} &amp; &quot; - &quot; &amp; 
    TEXT({!$User.Business_Unit__c}) &amp; &quot; - &quot; &amp;
    {!Reference},
    120
)</expression>
    </formulas>
    <formulas>
        <name>f_recordIdPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId}, 3)</expression>
    </formulas>
    <formulas>
        <name>f_RunningUser_Corporate_Type</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.Corporate_Type__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_RunningUser_Region</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.Region__c})</expression>
    </formulas>
    <interviewLabel>Opportunity Creation : Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Creation : Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Competitor_Account_Role</name>
        <label>Create Competitor Account Role</label>
        <locationX>2250</locationX>
        <locationY>3638</locationY>
        <connector>
            <targetReference>Create_Incumbent</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Competitor_Services_Record.Competitor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Competitor_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Competitor</stringValue>
            </value>
        </inputAssignments>
        <object>Account_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>For the newly created Opportunity add the Competitor Account Role record.</description>
        <name>Create_Competitor_Record_Account</name>
        <label>Create Competitor Account Role (Account)</label>
        <locationX>314</locationX>
        <locationY>4394</locationY>
        <connector>
            <targetReference>Create_Incumbent_Account_Role_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Select_Competitor_Service_Table.firstSelectedRow.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Select_Competitor_Service_Table.firstSelectedRow.Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Competitor_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Competitor</stringValue>
            </value>
        </inputAssignments>
        <object>Account_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Incumbent</name>
        <label>Create Incumbent</label>
        <locationX>2250</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>Link_Competitor_Services_to_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Competitor_Services_Record.Competitor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Competitor_Services_Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Provided_Service__c</field>
            <value>
                <elementReference>Get_Competitor_Services_Record.Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Annual_Value__c</field>
            <value>
                <elementReference>Get_Competitor_Services_Record.Estimated_Annual_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Competitor_Services_Record.Competitor__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Incumbent_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Incumbent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_End_Date__c</field>
            <value>
                <elementReference>Get_Competitor_Services_Record.Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>For the newly created Opportunity add the Competitor as the Incumbent.</description>
        <name>Create_Incumbent_Account_Role_Account</name>
        <label>Create Incumbent Account Role (Account)</label>
        <locationX>314</locationX>
        <locationY>4502</locationY>
        <connector>
            <targetReference>Contact_Provided</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Select_Competitor_Service_Table.firstSelectedRow.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Select_Competitor_Service_Table.firstSelectedRow.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Provided_Service__c</field>
            <value>
                <elementReference>Select_Competitor_Service_Table.firstSelectedRow.Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Annual_Value__c</field>
            <value>
                <elementReference>Select_Competitor_Service_Table.firstSelectedRow.Estimated_Annual_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Select_Competitor_Service_Table.firstSelectedRow.Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Incumbent_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Incumbent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_End_Date__c</field>
            <value>
                <elementReference>Select_Competitor_Service_Table.firstSelectedRow.Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Contact_Role</name>
        <label>Create Opportunity Contact Role</label>
        <locationX>1986</locationX>
        <locationY>3638</locationY>
        <connector>
            <targetReference>Update_Enquiry</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Enquiry_from_Record_ID.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_From_Account</name>
        <label>Create Opportunity From Account</label>
        <locationX>1128</locationX>
        <locationY>3638</locationY>
        <assignRecordIdToReference>OpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Secondary_Source_Competitor_Service</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aktrion_Solution__c</field>
            <value>
                <elementReference>Aktrion_Solution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_Start_Date__c</field>
            <value>
                <elementReference>Process_Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>AwardDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colleague_Referral_Email__c</field>
            <value>
                <elementReference>Colleague_Referral_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>Expected_Contract_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>Expected_Contract_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Contracts_Table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Contract_Value__c</field>
            <value>
                <elementReference>Current_Contract_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Environment__c</field>
            <value>
                <elementReference>multi_Environment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_Opp_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Service__c</field>
            <value>
                <elementReference>Primary_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Source__c</field>
            <value>
                <elementReference>SecondarySource.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>v_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference__c</field>
            <value>
                <elementReference>Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Business_Unit__c</field>
            <value>
                <elementReference>Referrer_Business_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Name__c</field>
            <value>
                <elementReference>Referrer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Source__c</field>
            <value>
                <elementReference>SecondarySource.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>2. Prospect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>2.2 Needs Analysis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Initial_Record_Type_Confirmed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>v_opportunityType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_From_Competitor_Services</name>
        <label>Create Opportunity From Competitor Services</label>
        <locationX>2250</locationX>
        <locationY>3530</locationY>
        <assignRecordIdToReference>OpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Competitor_Account_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Competitor_Services_Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aktrion_Solution__c</field>
            <value>
                <elementReference>Aktrion_Solution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_Start_Date__c</field>
            <value>
                <elementReference>Process_Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>AwardDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>Expected_Contract_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>Expected_Contract_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Contracts_Table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Contract_Value__c</field>
            <value>
                <elementReference>Current_Contract_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Environment__c</field>
            <value>
                <elementReference>multi_Environment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_Opp_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Service__c</field>
            <value>
                <elementReference>Primary_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Source__c</field>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>v_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference__c</field>
            <value>
                <elementReference>Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Source__c</field>
            <value>
                <stringValue>Competitor Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>2. Prospect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>2.2 Needs Analysis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Initial_Record_Type_Confirmed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>v_opportunityType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_From_Enquiry</name>
        <label>Create Opportunity From Enquiry</label>
        <locationX>1986</locationX>
        <locationY>3530</locationY>
        <assignRecordIdToReference>OpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Enquiry_from_Record_ID.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aktrion_Solution__c</field>
            <value>
                <elementReference>Aktrion_Solution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_Start_Date__c</field>
            <value>
                <elementReference>Process_Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>AwardDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>Expected_Contract_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>Expected_Contract_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Contracts_Table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Contract_Value__c</field>
            <value>
                <elementReference>Current_Contract_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enquiry__c</field>
            <value>
                <elementReference>Get_Enquiry_from_Record_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Environment__c</field>
            <value>
                <elementReference>multi_Environment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_Opp_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Service__c</field>
            <value>
                <elementReference>Primary_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Source__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>v_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference__c</field>
            <value>
                <elementReference>Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Source__c</field>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>2. Prospect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>2.2 Needs Analysis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Initial_Record_Type_Confirmed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>v_opportunityType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_From_Frameworks</name>
        <label>Create Opportunity From Frameworks</label>
        <locationX>50</locationX>
        <locationY>3530</locationY>
        <assignRecordIdToReference>OpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_Provided</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getFrameworkid1.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aktrion_Solution__c</field>
            <value>
                <elementReference>Aktrion_Solution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_Start_Date__c</field>
            <value>
                <elementReference>Process_Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>AwardDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>Expected_Contract_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>Expected_Contract_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Contracts_Table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Contract_Value__c</field>
            <value>
                <elementReference>Current_Contract_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Environment__c</field>
            <value>
                <elementReference>multi_Environment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Framework_Agreement__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_Opp_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Service__c</field>
            <value>
                <elementReference>Primary_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Source__c</field>
            <value>
                <elementReference>getFrameworkid1.Account__r.Primary_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>v_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference__c</field>
            <value>
                <elementReference>Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Source__c</field>
            <value>
                <elementReference>getFrameworkid1.Account__r.Secondary_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>2. Prospect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>2.2 Needs Analysis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Initial_Record_Type_Confirmed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>v_opportunityType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Primary_Contact_Role</name>
        <label>Create Primary Contact Role</label>
        <locationX>1150</locationX>
        <locationY>4970</locationY>
        <connector>
            <targetReference>SCOTSMAN_Required_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vKeyContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Framework</name>
        <label>Get Account Framework</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eligible_Record_Type_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFrameworkid1.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Active Contracts for this Account.</description>
        <name>Get_Account_s_Active_Contracts</name>
        <label>Get Account&apos;s Active Contracts</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contracts_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending Termination</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract__c</object>
        <sortField>Contract_End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competitor_Record_Type</name>
        <label>Get Competitor Record Type</label>
        <locationX>1282</locationX>
        <locationY>3206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Incumbent_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Role__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Competitor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Account&apos;s Competitor Services that do not already link to an Opportunity to allow the user to select them in the following screen.</description>
        <name>Get_Competitor_Services</name>
        <label>Get Competitor Services</label>
        <locationX>710</locationX>
        <locationY>3854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Competitor_Service</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Competitor_Services__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competitor_Services_Record</name>
        <label>Get Competitor Services Record</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Customer_Type_Competitor_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Competitor_Services__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enquiry_from_Record_ID</name>
        <label>Get Enquiry from Record ID</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eligible_Record_Type_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Full_Record_Type</name>
        <label>Get Full Record Type</label>
        <locationX>1150</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full_Bid_Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>v_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Incumbent_Record_Type</name>
        <label>Get Incumbent Record Type</label>
        <locationX>1282</locationX>
        <locationY>3314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Object_Type_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Role__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incumbent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lite_Record_Type</name>
        <label>Get Lite Record Type</label>
        <locationX>1414</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lite_Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>v_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get created Opportunity from the Opportunity ID so that the Opp Record Var can be used as input into the SCOTSMAN Generation Subflow</description>
        <name>Get_New_Opp</name>
        <label>Get New Opp</label>
        <locationX>1150</locationX>
        <locationY>5270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_SCOTSMAN_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Data_Fix_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFrameworkid1</name>
        <label>getFrameworkid</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Framework</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Framework_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_Competitor_Service_to_Opportunity</name>
        <label>Link Competitor Service to Opportunity</label>
        <locationX>314</locationX>
        <locationY>4286</locationY>
        <connector>
            <targetReference>Create_Competitor_Record_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <inputReference>Select_Competitor_Service_Table.firstSelectedRow</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Link the triggering Competitor Service and any other Competitor Services that related to the same Source Opportunity to the newly created Opportunity.</description>
        <name>Link_Competitor_Services_to_Opportunity</name>
        <label>Link Competitor Services to Opportunity</label>
        <locationX>2250</locationX>
        <locationY>3854</locationY>
        <connector>
            <targetReference>Contact_Provided</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Competitor_Services_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Competitor_Services_Record.Source_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>Competitor_Services__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enquiry</name>
        <label>Update Enquiry</label>
        <locationX>1986</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>Contact_Provided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_from_Record_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Enquiry__c</object>
    </recordUpdates>
    <screens>
        <name>Choose_Record_Type</name>
        <label>Choose Record Type</label>
        <locationX>1282</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Selected_Record_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Record_Type_Quick_Choice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>v_QuickChoice_Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>v_QuickChoice_Labels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>v_QuickChoice_Descriptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contract_Selection_Screen</name>
        <label>Contract Selection Screen</label>
        <locationX>930</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contract_Allocated</targetReference>
        </connector>
        <fields>
            <name>ContractSelection_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Contract Selection&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contract_Selection_Message</name>
            <fieldText>&lt;p&gt;Please select the Contract this &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Type1} &lt;/span&gt;Opportunity relates to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Contract_Found_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contract_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contract_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contracts_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contract__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Current Contracts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Account_s_Active_Contracts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ec3a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contract No&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Contract_Name__c&quot;,&quot;guid&quot;:&quot;column-b8c7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Contract Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Contract_Start_Date__c&quot;,&quot;guid&quot;:&quot;column-4543&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Contract Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Contract_End_Date__c&quot;,&quot;guid&quot;:&quot;column-30d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Contract End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Actual_Annual_Revenue__c&quot;,&quot;guid&quot;:&quot;column-6616&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Actual Annual Revenue&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Contract_Found_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Contract_Found_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Is the relevant Contract listed above?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Contract_Not_Available_Message</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Any {!Type1} Opportunity that does not link to a Contract will cause a new Contract to be created when it is Closed Won. It is strongly recommended that all Renewal Opportunities are linked to Contracts.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To continue without linking a Contract please continue.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Contract_Found_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Details</name>
        <label>Opportunity Details</label>
        <locationX>1282</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Opportunity_Type_Var</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Reference</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Reference must be no more than 122 characters. Please reduce the length of the Reference and try again.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Reference}) &lt;= 122</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type1</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Current_Contract_Value</name>
                    <dataType>Currency</dataType>
                    <fieldText>Current Contract Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Rebid</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Extension</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Opportunity_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Aktrion_Solution</name>
                    <choiceReferences>c_Aktrion_Solution</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Aktrion Solution</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>f_RunningUser_Corporate_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Automotive</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Opportunity_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Service</name>
                    <choiceReferences>c_PrimaryService</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Primary Service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>multi_Environment</name>
                    <choiceReferences>Multi_selectEnvironment</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Environment</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Details_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Contact</name>
                    <choiceReferences>Contact_choiceSet</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Primary Contact</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>v_objectName</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Enquiry__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Opportunity_Details_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Details_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Process_Start</name>
                    <dataType>Date</dataType>
                    <fieldText>Process Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Process_Start_Date_Message</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;Note: The date you actively started pursuing this Opportunity&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AwardDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Expected Award Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Expected Award Date must be before Expected Contract Start Date&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!AwardDateAfterStartDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Details_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expected_Contract_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expected Contract Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Expected_Contract_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expected Contract End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be on or after {!Expected_Contract_Start_Date}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Contract_End_Before_Contract_Start}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SCOTSMAN_Creation_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Will you need a SCOTSMAN for this Opportunity?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>Formula_RunningUser_Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UK&amp;I</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Formula_RunningUser_Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Group</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>f_Create_SCOTSMAN_Permission</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Record_Type_Quick_Choice.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Full Opportunity</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>primarySecondarySource</name>
        <label>primarySecondarySource</label>
        <locationX>1128</locationX>
        <locationY>3530</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Opportunity_From_Account</targetReference>
        </connector>
        <fields>
            <name>SecondarySource</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Primary_Source__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Secondary_Source__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Primary Source</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Secondary Source</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Primary Source value of Internal Target is not allowed. Please select a different Primary Source.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!SecondarySource.topValue} != &apos;Internal Target&apos;</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Referrer_Name</name>
            <dataType>String</dataType>
            <fieldText>Referrer Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SecondarySource.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Referral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Formula_RunningUser_Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UK&amp;I</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referrer_Business_Unit</name>
            <choiceReferences>RefBU_Catering</choiceReferences>
            <choiceReferences>RefBU_Cleaning</choiceReferences>
            <choiceReferences>RefBU_HardServices</choiceReferences>
            <choiceReferences>RefBU_Ireland</choiceReferences>
            <choiceReferences>RefBU_PrivateFM</choiceReferences>
            <choiceReferences>RefBU_PublicFM</choiceReferences>
            <choiceReferences>RefBU_Security</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Referrer Business Unit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SecondarySource.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Referral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Formula_RunningUser_Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UK&amp;I</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Colleague_Referral_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>referrer@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Colleague Referral Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SecondarySource.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Referral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Formula_RunningUser_Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UK&amp;I</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Renewal_Exists_Warning_Screen</name>
        <label>Renewal Exists Warning Screen</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Duplicate_Continue_Action_Decision</targetReference>
        </connector>
        <fields>
            <name>Renewal_Exists_Warning_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Renewal Opportunity Warning&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An open {!Contracts_Table.firstSelectedRow.Rebid_Opportunity__r.Type} Opportunity for this Contract already exists and so it is suggested to use that Opportunity instead of creating another.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Existing Opportunity: &lt;a href=&quot;/{!Contracts_Table.firstSelectedRow.Rebid_Opportunity__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Contracts_Table.firstSelectedRow.Rebid_Opportunity__r.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A Contract should normally only have one open Renewal Opportunity (either Extension/Rebid) at a time unless in very specific circumstances.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Override_Duplicate_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I understand an open Renewal Opportunity already exists but I still want to create a new Renewal Opportunity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Duplicate_Buttons_Override</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Create&quot;,&quot;value&quot;:&quot;Create&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Open Opportunity&quot;,&quot;value&quot;:&quot;Open_Opportunity&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Override_Duplicate_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Duplicate_Buttons_No_Override</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Open Opportunity&quot;,&quot;value&quot;:&quot;Open_Opportunity&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Override_Duplicate_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Competitor_Service</name>
        <label>Select Competitor Service</label>
        <locationX>710</locationX>
        <locationY>3962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Competitor_Service_Selected_Decision</targetReference>
        </connector>
        <fields>
            <name>Select_Competitor_Service_Screen_DT</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select Competitor Service&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Because you selected Competitor Service as the source of this Opportunity please select the Competitor Service that this Opportunity relates to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Competitor_Service_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Competitor Service Found?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Competitor_Service_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Competitor_Services__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Competitor Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Competitor_Services</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Competitor_Name__c&quot;,&quot;guid&quot;:&quot;column-2ad7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Competitor&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Competitor Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Service__c&quot;,&quot;guid&quot;:&quot;column-6fe4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Service&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Estimated_Annual_Value__c&quot;,&quot;guid&quot;:&quot;column-3d51&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Estimated Annual Value&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Renewal_Date__c&quot;,&quot;guid&quot;:&quot;column-f855&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Renewal Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Competitor_Service_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Competitor_Service_Not_Available_Toggle_True_DT</name>
            <fieldText>&lt;p&gt;If the related Competitor Service is not shown then change the Competitor Service Found toggle to No and click Continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Competitor_Service_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Competitor_Service_Toggle_Disabled_DT</name>
            <fieldText>&lt;p&gt;You have chosen not to relate this Opportunity to a Competitor Service.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Competitor_Service_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sError</name>
        <label>sError</label>
        <locationX>1722</locationX>
        <locationY>3854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>hErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error has occurred whilst creating an Opportunity. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error log has been created. Please give your System Admin these details:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Account_Data_Fix_Subflow</name>
        <label>Account Data Fix Subflow</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Set_Customer_Type_Account</targetReference>
        </connector>
        <flowName>Account_Data_Fix_Subflow</flowName>
        <inputAssignments>
            <name>vInOut_Account</name>
            <value>
                <elementReference>getAccount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>getAccount</assignToReference>
            <name>vInOut_Account</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Check access to the originating record to ensure the user has Edit access to it before proceeding towards Opportunity creation.</description>
        <name>Check_Record_Access</name>
        <label>Check Record Access</label>
        <locationX>2162</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Object_Name_From_ID</targetReference>
        </connector>
        <flowName>Utility_Check_Record_Access_Subflow</flowName>
        <inputAssignments>
            <name>vIn_Record_ID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_Stop_If_No_Edit_Access</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_User_ID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Generate_SCOTSMAN_Subflow</name>
        <label>Generate SCOTSMAN Subflow</label>
        <locationX>1150</locationX>
        <locationY>5378</locationY>
        <connector>
            <targetReference>Show_Toast_Notification</targetReference>
        </connector>
        <flowName>Opportunity_SCOTSMAN_Generation_Subflow</flowName>
        <inputAssignments>
            <name>v_Opportunity</name>
            <value>
                <elementReference>Get_New_Opp</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>LogError</name>
        <label>Log Error</label>
        <locationX>1722</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>sError</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Create Opportunity: Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Frameworkid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Framework_Agreement__c</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_IdPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_opportunityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_QuickChoice_Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_QuickChoice_Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_QuickChoice_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the Record Type to be used when creating the Opportunity.</description>
        <name>v_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vKeyContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
