Agentforce/force-app/main/default/flows/Opportunity_Create_Missing_Contract_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Confirmation_Toast</name>
        <label>Confirmation Toast</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Open_Contract</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Contract_Created_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Contract</name>
        <label>Open Contract</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Created_Contract.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks if Contract exits against the Opportunity</description>
        <name>Does_Contract_Exist</name>
        <label>Does Contract Exist?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>sContract_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contract Exists</defaultConnectorLabel>
        <rules>
            <name>No_Contract_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Missing_Contract</targetReference>
            </connector>
            <label>No Contract Assigned</label>
        </rules>
    </decisions>
    <description>With navigate to new contract</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Create Missing Contract Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Create Missing Contract Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Created_Contract</name>
        <label>Get Created Contract</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Toast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Contract already exists screen</description>
        <name>sContract_Exists</name>
        <label>Contract Exists</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>h_Contract_Already_Exist</name>
            <fieldText>&lt;p&gt;The Contract &lt;em&gt;{!recordId.Contract.Name}&lt;/em&gt; is assigned to this Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Record_Access</name>
        <label>Check Record Access</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Does_Contract_Exist</targetReference>
        </connector>
        <flowName>Utility_Check_Record_Access_Subflow</flowName>
        <inputAssignments>
            <name>vIn_Record_ID</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_Stop_If_No_Edit_Access</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_User_ID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Missing_Contract</name>
        <label>Create Missing Contract</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Created_Contract</targetReference>
        </connector>
        <flowName>Contract_Contract_Generation_Subflow</flowName>
        <inputAssignments>
            <name>vInOut_Opportunity_Record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Contract_Created_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Contract {!Get_Created_Contract.Name} was created successfully.</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
