Agentforce/force-app/main/default/flows/Opportunity_Create_IT_Requirements_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IT_Requirements_Record_Created</name>
        <label>IT Requirements Record Created</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Open_New_IT_Requirement_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>A new IT Requirements record has been created</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>navigateToRecord_Action_1</name>
        <label>navigateToRecord Action 1</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>{!recordId.IT_Requirements__r.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_New_IT_Requirement_Record</name>
        <label>Open New IT Requirement Record</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>v_New_IT_Requirements.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_IT_Requirement_Fields</name>
        <label>Assign IT Requirement Fields</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>v_New_IT_Requirements.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_New_IT_Requirements.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_IT_Requirements</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_IT_Requirement_Exist</name>
        <label>Does IT Requirement Exist</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_IT_Requirement_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>IT_Requirement_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.IT_Requirements__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>sExisting_Record_Exists</targetReference>
            </connector>
            <label>IT Requirement Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Create IT Requirements Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Create IT Requirements Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_IT_Requirements</name>
        <label>Create IT Requirements</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>v_New_IT_Requirements</inputReference>
    </recordCreates>
    <recordUpdates>
        <description>Update Originating Opp with the IT Requirements created</description>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>IT_Requirements_Record_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IT_Requirements__c</field>
            <value>
                <elementReference>v_New_IT_Requirements.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>s_Error_Message</name>
        <label>Error Message</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>h_Error_Message</name>
            <fieldText>&lt;p&gt;An error has occured.&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sExisting_Record_Exists</name>
        <label>Existing Record Exists</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>navigateToRecord_Action_1</targetReference>
        </connector>
        <fields>
            <name>h_Existing_Record_Exists</name>
            <fieldText>&lt;p&gt;An existing IT Requirements record exists against {!recordId.Name}.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.IT_Requirements__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Open Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Record_Access</name>
        <label>Check Record Access</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Does_IT_Requirement_Exist</targetReference>
        </connector>
        <flowName>Utility_Check_Record_Access_Subflow</flowName>
        <inputAssignments>
            <name>vIn_Record_ID</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_Stop_If_No_Edit_Access</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_User_ID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>s_Error_Message</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Opportunity - Create IT Requirements Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <stringValue>{!recordId.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Opportunity</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>New IT Requirements Record</description>
        <name>v_New_IT_Requirements</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Requirements__c</objectType>
    </variables>
</Flow>
