Agentforce/force-app/main/default/flows/Opportunity_Progress_Future_Opportunity_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Success_Toast_Needs_Analysis</name>
        <label>Success Toast (Needs Analysis)</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Sub Stage updated to 2.2 Needs Analysis successfully</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Toast_Withdrawn</name>
        <label>Success Toast (Withdrawn)</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity updated to Closed Withdrawn successfully</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_2_2_Needs_Analysis</name>
        <label>Assign 2.2 Needs Analysis</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2. Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2.2 Needs Analysis</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_To_2_2_Needs_Analysis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sub_Stage</name>
        <label>Assign Sub Stage</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId.Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5. Closed Withdrawn</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sFurther_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Customer_Reason</name>
        <label>Customer Reason</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recordId.Closed_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Withdrew_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Closed_Further_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Withdrawn_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OCS_Reason</name>
        <label>OCS Reason</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recordId.Closed_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCS_Withdrew_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Closed_Further_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Withdrawn_Opp</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Benchmarjing</name>
        <choiceText>Benchmarking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benchmarking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Capability</name>
        <choiceText>Capability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Capability</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client_Withdrawn</name>
        <choiceText>Client Withdrawn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Withdrawn</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosedWithdrawn</name>
        <choiceText>5. Closed Withdrawn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5. Closed Withdrawn</stringValue>
        </value>
    </choices>
    <choices>
        <name>Covid_19</name>
        <choiceText>Covid-19</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Covid-19</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerWithdrawn</name>
        <choiceText>{!recordId.Account.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5.2 Customer Withdrawn</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duplicated</name>
        <choiceText>Duplicated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicated</stringValue>
        </value>
    </choices>
    <choices>
        <name>Financial_Risk</name>
        <choiceText>Financial Risk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial Risk</stringValue>
        </value>
    </choices>
    <choices>
        <name>Long_Timeline</name>
        <choiceText>Long Timeline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Long Timeline</stringValue>
        </value>
    </choices>
    <choices>
        <name>NeedsAnalysis</name>
        <choiceText>2.2 Needs Analysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2.2 Needs Analysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Relationship</name>
        <choiceText>No Relationship</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Relationship</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_in_Strategy</name>
        <choiceText>Not in Strategy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not in Strategy</stringValue>
        </value>
    </choices>
    <choices>
        <name>OCS_Merger</name>
        <choiceText>OCS Merger</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OCS Merger</stringValue>
        </value>
    </choices>
    <choices>
        <name>OCSWithdrawn</name>
        <choiceText>OCS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5.1 OCS Withdrawn</stringValue>
        </value>
    </choices>
    <choices>
        <name>Postponed</name>
        <choiceText>Postponed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Postponed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resource</name>
        <choiceText>Resource</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resource</stringValue>
        </value>
    </choices>
    <choices>
        <name>Short_Timeline</name>
        <choiceText>Short Timeline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Short Timeline</stringValue>
        </value>
    </choices>
    <choices>
        <name>Site_Closure</name>
        <choiceText>Site Closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Site Closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Size</name>
        <choiceText>Size</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Size</stringValue>
        </value>
    </choices>
    <choices>
        <name>Terms_Conditions</name>
        <choiceText>Terms &amp; Conditions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Terms &amp; Conditions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trade_Unions</name>
        <choiceText>Trade Unions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trade Unions</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Update_Stage_To</name>
        <label>Update Stage To</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Sub_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed Withdrawn</defaultConnectorLabel>
        <rules>
            <name>Needs_Analysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NeedsAnalysis</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_2_2_Needs_Analysis</targetReference>
            </connector>
            <label>Needs Analysis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_Withdrew</name>
        <label>Who Withdrew</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Customer_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer</defaultConnectorLabel>
        <rules>
            <name>OCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5.1 OCS Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OCS_Reason</targetReference>
            </connector>
            <label>OCS</label>
        </rules>
    </decisions>
    <description>AD-337 - Action to process future opportunities.
Re-created with correct naming convention and additional information - 20/2/24</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Progress Future Opportunity Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Progress Future Opportunity Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Opp_To_2_2_Needs_Analysis</name>
        <label>Update Opp To 2.2 Needs Analysis</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Success_Toast_Needs_Analysis</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Withdrawn_Opp</name>
        <label>Update Withdrawn Opp</label>
        <locationX>710</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Success_Toast_Withdrawn</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Progress_Future_Opportunity</name>
        <label>Progress Future Opportunity</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Update_Stage_To</targetReference>
        </connector>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Progress Opportunity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To progress this Future Opportunity please select the relevant stage:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Progress_Future_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Progress_Future_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stage</name>
                    <choiceReferences>NeedsAnalysis</choiceReferences>
                    <choiceReferences>ClosedWithdrawn</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Progress_Future_Opportunity_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_Stage</name>
                    <choiceReferences>OCSWithdrawn</choiceReferences>
                    <choiceReferences>CustomerWithdrawn</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Who withdrew?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ClosedWithdrawn</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sError_Message</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>h_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error has occurred when attempting to update the Progress the Future Opportunity.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error log has been created with the following error message for the Salesforce Support Team to review:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sFurther_Details</name>
        <label>Further Details</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Who_Withdrew</targetReference>
        </connector>
        <fields>
            <name>hFurther_Details</name>
            <fieldText>&lt;p&gt;Please provide further details below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sFurther_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sFurther_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OCS_Withdrew_Reason</name>
                    <choiceReferences>Benchmarjing</choiceReferences>
                    <choiceReferences>Capability</choiceReferences>
                    <choiceReferences>Client_Withdrawn</choiceReferences>
                    <choiceReferences>Covid_19</choiceReferences>
                    <choiceReferences>Duplicated</choiceReferences>
                    <choiceReferences>Financial_Risk</choiceReferences>
                    <choiceReferences>Long_Timeline</choiceReferences>
                    <choiceReferences>No_Relationship</choiceReferences>
                    <choiceReferences>Not_in_Strategy</choiceReferences>
                    <choiceReferences>OCS_Merger</choiceReferences>
                    <choiceReferences>Resource</choiceReferences>
                    <choiceReferences>Short_Timeline</choiceReferences>
                    <choiceReferences>Size</choiceReferences>
                    <choiceReferences>Terms_Conditions</choiceReferences>
                    <choiceReferences>Trade_Unions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sub_Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>OCSWithdrawn</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Customer_Withdrew_Reason</name>
                    <choiceReferences>Client_Withdrawn</choiceReferences>
                    <choiceReferences>Covid_19</choiceReferences>
                    <choiceReferences>Postponed</choiceReferences>
                    <choiceReferences>Site_Closure</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sub_Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CustomerWithdrawn</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sFurther_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sFurther_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sFurther_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>h_OCS_Further_Details</name>
                    <fieldText>&lt;p&gt;Provide further details on why OCS withdrew due to {!OCS_Withdrew_Reason}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OCS_Withdrew_Reason</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>h_Customer_Further_Details</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Provide further details on why {!recordId.Account.Name} withdrew due to {!Customer_Withdrew_Reason}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Customer_Withdrew_Reason</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Further_Details</name>
                    <fieldText>Further Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Customer_Withdrew_Reason</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>OCS_Withdrew_Reason</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Record_Access</name>
        <label>Check Record Access</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Opportunity_Account_Data_Fix</targetReference>
        </connector>
        <flowName>Utility_Check_Record_Access_Subflow</flowName>
        <inputAssignments>
            <name>vIn_Record_ID</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_Stop_If_No_Edit_Access</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIn_User_ID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>sError_Message</targetReference>
        </connector>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Progress Future Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Opportunity_Account_Data_Fix</name>
        <label>Opportunity &amp; Account Data Fix</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Progress_Future_Opportunity</targetReference>
        </connector>
        <flowName>Opportunity_Data_Fix_Subflow</flowName>
        <inputAssignments>
            <name>vInOut_Opportunity</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>vInOut_Opportunity</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
