Agentforce/force-app/main/default/flows/Risk_Assessment_View_Responses_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Fields_to_Record</name>
        <label>Assign Fields to Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>RiskAssessmentRecord.Q01_Estimated_Annual_Contract_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Assessment_Records.Q01_Estimated_Annual_Contract_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RA_Screen</targetReference>
        </connector>
    </assignments>
    <description>View Responses to Risk Assessment Questions</description>
    <environments>Default</environments>
    <formulas>
        <name>Q01_Answer</name>
        <dataType>String</dataType>
        <expression>IF (TEXT({!Get_Risk_Assessment_Records.Q01_Estimated_Annual_Contract_Value__c}) = &quot;&lt;£1.5m&quot;, 
&quot;Less than £1.5m&quot;,TEXT({!Get_Risk_Assessment_Records.Q01_Estimated_Annual_Contract_Value__c}))</expression>
    </formulas>
    <interviewLabel>Risk Assessment: View Responses Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risk Assessment: View Responses Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Risk_Assessment_Records</name>
        <label>Get Risk Assessment Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Fields_to_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Risk_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>RA_Screen</name>
        <label>RA Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RA_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RA_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RA_Display</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Risk Assessment&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;1 - What is the estimated annual contract value or the total project value (if a Projects contract)? &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;{!Get_Risk_Assessment_Records.System_Q01_RAG__c} &lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_Risk_Assessment_Records.Q01_Estimated_Annual_Contract_Value__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;2 - Is the contract either a Framework or a Master Services Agreement under which multiple orders or call-offs could be placed?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Risk_Assessment_Records.System_Q02_RAG__c} {!Get_Risk_Assessment_Records.Q02_Framework_Master_Service_Agreement__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;3 - Is the contract being procured under the Public Contract Regulations 2015 or the Utilities Contract Regulations 2016?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Risk_Assessment_Records.System_Q03_RAG__c}   {!Get_Risk_Assessment_Records.Q03_Public_Contract_Utilities_Contract__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;4 - &lt;/strong&gt;&lt;strong&gt;Is the contract related to construction works or projects?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Risk_Assessment_Records.System_Q04_RAG__c} {!Get_Risk_Assessment_Records.Q04_Construction_or_Project__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;5 - &lt;/strong&gt;&lt;strong&gt;Is the contract for the provision of services in connection with a PFI or LIFT arrangement?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Risk_Assessment_Records.System_Q05_RAG__c} {!Get_Risk_Assessment_Records.Q05_PFI_or_LIFT__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;6 - &lt;/strong&gt;&lt;strong&gt;Are the services to be provided under the contract in any respect new business activities for OCS, or is the sector one in which OCS is not already operating?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Risk_Assessment_Records.System_Q06_RAG__c} {!Get_Risk_Assessment_Records.Q06_New_Business_Activity_or_New_Sector__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;7 - What are the services to be delivered?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Risk_Assessment_Records.System_Q07_RAG__c} {!Get_Risk_Assessment_Records.Q07_Services_Delivered__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;8 - How many staff will transfer under TUPE?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Risk_Assessment_Records.System_Q08_RAG__c} {!Get_Risk_Assessment_Records.Q06_New_Business_Activity_or_New_Sector__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;9 - Is it likely that individuals TUPE&apos;ing in will participate in an Local Government Pension Scheme (or similar scheme)?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Risk_Assessment_Records.System_Q09_RAG__c} {!Get_Risk_Assessment_Records.Q08_TUPE_Employees__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;10 - Does the contract explicitly state that our liability is capped at no more than (a) £20m or (b) the level of the required insurances?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Risk_Assessment_Records.System_Q10_RAG__c} {!Get_Risk_Assessment_Records.Q10_Liability_Capped_20m_level_required__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;11 - Are the payment terms 30 days from invoice date/receipt or less?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Risk_Assessment_Records.System_Q11_RAG__c} {!Get_Risk_Assessment_Records.Q11_Payment_Terms_Under_30_Days__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;12 - Does the contract or our solution involve capex spend of £200,000 or more?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Risk_Assessment_Records.System_Q12_RAG__c} {!Get_Risk_Assessment_Records.Q12_CAPEX_200k__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;13 - Does the contract or our solution require/involve the provision of a bond and/or payment of an upfront prebate (or similar) and/or payment of liquidated damages?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Risk_Assessment_Records.System_Q13_RAG__c} {!Get_Risk_Assessment_Records.Q13_Bond_Prebate_or_Liquidated_Damages__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;14 - Does the contract include a service credit / KPI mechanism which could put at risk 5% or more of the annual contract value?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Risk_Assessment_Records.System_Q14_RAG__c} {!Get_Risk_Assessment_Records.Q14_Service_Credit_or_KPI_Risk_5_ACV__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;15 - Is there an inclusive repair threshold that exceeds £1,000?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Risk_Assessment_Records.System_Q15_RAG__c} {!Get_Risk_Assessment_Records.Q15_Repair_Threshold_1k__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;16 - Is the contract formed on NEC, JCT or similar standard template terms?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Risk_Assessment_Records.System_Q16_RAG__c} {!Get_Risk_Assessment_Records.Q16_Contract_Standard_Template_Terms__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Risk_Assessment_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RiskAssessmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Risk_Assessment__c</objectType>
    </variables>
</Flow>
