Agentforce/force-app/main/default/flows/SCOTSMAN_After_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Clear_Total_Score_Assignment</name>
        <label>Clear Total Score</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Score__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_SCOTSMAN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_is_New</name>
        <label>Set is New</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>v_isNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_isNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Score</name>
        <label>Set Total Score</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Calculated_Total_Score</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SCOTSMAN</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Score_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Score_Decision</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>If all scores are populated and Total Score does not align with calculated total score then populate the calculated total score.
If total score is populated but not all the scores are populated then clear total score.</description>
        <name>Score_Decision</name>
        <label>Score Decision</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Other - Skip</defaultConnectorLabel>
        <rules>
            <name>Set_Total_Score_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Authority_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Competition_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Money_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Need_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Size_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Solution_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timescales_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Score__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>f_Calculated_Total_Score</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Total_Score</targetReference>
            </connector>
            <label>Set Total Score</label>
        </rules>
        <rules>
            <name>Clear_Total_Score</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Authority_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Competition_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Money_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Need_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Size_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Solution_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timescales_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Total_Score_Assignment</targetReference>
            </connector>
            <label>Clear Total Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Config_Switch</name>
        <label>Validate Config Switch</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Disabled  - Stop</defaultConnectorLabel>
        <rules>
            <name>Enabled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_is_New</targetReference>
            </connector>
            <label>Enabled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>If all the Section Scores are populated (because all Scores have been completed) then add the section scores together to calculate the total score.</description>
        <name>f_Calculated_Total_Score</name>
        <dataType>Number</dataType>
        <expression>IF(
AND(
				NOT(ISBLANK({!$Record.Solution_Score__c})),
				NOT(ISBLANK({!$Record.Competition_Score__c})),
				NOT(ISBLANK({!$Record.Opportunity_Score__c})),
				NOT(ISBLANK({!$Record.Timescales_Score__c})),
				NOT(ISBLANK({!$Record.Size_Score__c})),
				NOT(ISBLANK({!$Record.Money_Score__c})),
				NOT(ISBLANK({!$Record.Authority_Score__c})),
				NOT(ISBLANK({!$Record.Need_Score__c}))
				),
				{!$Record.Solution_Score__c} + {!$Record.Competition_Score__c} + {!$Record.Opportunity_Score__c} + {!$Record.Timescales_Score__c} + {!$Record.Size_Score__c} + {!$Record.Money_Score__c} + {!$Record.Authority_Score__c} + {!$Record.Need_Score__c},
				NULL
				)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_isNew</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c}, {!$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c}, ISNEW())</expression>
    </formulas>
    <interviewLabel>SCOTSMAN: After Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCOTSMAN: After Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_SCOTSMAN</name>
        <label>Update SCOTSMAN</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Config_Switch</targetReference>
        </connector>
        <object>SCOTSMAN__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
