Agentforce/force-app/main/default/flows/Site_Before_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Billing_Address_to_Site_Address_value</name>
        <label>Set Billing Address to Site Address value</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Site_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Site_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Site_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Site_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Site_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Site_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Site_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Billing_Contact_to_Site_Key_Contact_Value</name>
        <label>Set Billing Contact to Site Key Contact Value</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Site_Key_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Address_Same_as_Site_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_is_New</name>
        <label>Set is New</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>v_isNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_isNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Site_Name</name>
        <label>Set Site Name</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Site_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Contact_Same_as_Site_Key_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Does the Billing Address need to be updated to the value of the Site Address field?</description>
        <name>Billing_Address_Same_as_Site_Address</name>
        <label>Billing Address Same as Site Address?</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>No Update Needed</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Billing_Address</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Address_same_as_Site_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Address__Street__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Site_Address__Street__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Address__City__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Site_Address__City__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Address__StateCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Site_Address__StateCode__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Address__PostalCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Site_Address__PostalCode__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Address__CountryCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Site_Address__CountryCode__s</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Address_to_Site_Address_value</targetReference>
            </connector>
            <label>Yes - Update Billing Address</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the Site Key Contact value need to be copied to the Billing Contact field?</description>
        <name>Billing_Contact_Same_as_Site_Key_Contact</name>
        <label>Billing Contact Same as Site Key Contact?</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Billing_Address_Same_as_Site_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update Needed</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Billing_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Contact_same_as_Key_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Site_Key_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Contact_to_Site_Key_Contact_Value</targetReference>
            </connector>
            <label>Yes - Update Billing Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Site_Name_Update_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Name_Update_Needed</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Name_Update_Needed</name>
        <label>Site Name Update Needed?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Billing_Contact_Same_as_Site_Key_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>f_Site_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Site_Name</targetReference>
            </connector>
            <label>Yes - Update Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Config_Switch</name>
        <label>Validate Config Switch</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Disabled</defaultConnectorLabel>
        <rules>
            <name>Automation_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_is_New</targetReference>
            </connector>
            <label>Automation Enabled</label>
        </rules>
    </decisions>
    <description>update account.owner_region new field</description>
    <environments>Default</environments>
    <formulas>
        <name>f_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Known As name (if populated), if not populated use Account Name. Append Site Address Street.</description>
        <name>f_Site_Name</name>
        <dataType>String</dataType>
        <expression>LEFT(
/* Use Known As Account Name if available, otherwise use full Account Name*/
IF(ISBLANK({!$Record.Account__r.Known_As__c}),{!$Record.Account__r.Name},{!$Record.Account__r.Known_As__c}) &amp;
/* Append Street Address to end of formula if populated*/
IF(ISBLANK({!$Record.Site_Address__Street__s}),NULL,&quot; - &quot; &amp; {!$Record.Site_Address__Street__s})
,80)
/* Limit Name to 80 Chars */</expression>
    </formulas>
    <interviewLabel>Site: Before Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site: Before Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Config_Switch</targetReference>
        </connector>
        <object>Site__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>vNew_Site_Name</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Account__r.Name} - {!$Record.Site_Address__Street__s}</text>
    </textTemplates>
    <variables>
        <name>v_isNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
