Agentforce/force-app/main/default/flows/Suspension_After_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_IsNew</name>
        <label>Set IsNew</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>v_IsNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_IsNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_To_Case</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Config_Switch</name>
        <label>Validate Config Switch</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Automation Disabled</defaultConnectorLabel>
        <rules>
            <name>Automation_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IsNew</targetReference>
            </connector>
            <label>Automation Enabled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Suspension: After Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Suspension: After Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_Record_To_Case</name>
        <label>Assign Record To Case</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Suspension__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Suspension_Exists__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suspension__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Config_Switch</targetReference>
        </connector>
        <object>Suspension__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>Suspension: After Create and Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>v_IsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
