Agentforce/force-app/main/default/flows/User_Provisioning_Set_User_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Salesforce_CoE_Mailbox</name>
        <label>Notify Salesforce CoE Mailbox</label>
        <locationX>7068</locationX>
        <locationY>2558</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Log_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesforce@ocs.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>User Provisioning Error: {!InputVar_UserId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Error encountered provisioning User {!InputVar_UserId} for Role {!InputVar_ProvisionedRoleName}. Error: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Account_Manager_Level_1</name>
        <label>Set Account Manager Level 1</label>
        <locationX>1920</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Manager Level 1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Manager_Level_2</name>
        <label>Set Account Manager Level 2</label>
        <locationX>2184</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Manager Level 2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AED</name>
        <label>Set AED</label>
        <locationX>1106</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_APAC_ME</name>
        <label>Set APAC &amp; ME</label>
        <locationX>1700</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APAC &amp; ME</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_APAC_ME_Region</name>
        <label>Set APAC &amp; ME</label>
        <locationX>3504</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Var_Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Corporate_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AUD</name>
        <label>Set AUD</label>
        <locationX>578</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Australia</name>
        <label>Set Australia</label>
        <locationX>2228</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Australia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Automotive_CorpType</name>
        <label>Set Automotive</label>
        <locationX>3636</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>Var_Corporate_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marketing_User_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set EURO Currency for Automotive User</description>
        <name>Set_Automotive_EURO_Currency</name>
        <label>Set Automotive EURO Currency</label>
        <locationX>4978</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Automotive_GBP_Currency</name>
        <label>Set Automotive GBP Currency</label>
        <locationX>4714</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bid_Manager</name>
        <label>Set Bid Manager</label>
        <locationX>2976</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bid Manager</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cambodia</name>
        <label>Set Cambodia</label>
        <locationX>5044</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cambodia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Catering</name>
        <label>Set Catering</label>
        <locationX>5836</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Catering</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cleaning</name>
        <label>Set Cleaning</label>
        <locationX>6100</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cleaning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Country_Delegated_Admin</name>
        <label>Set Country Delegated Admin</label>
        <locationX>4824</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Country Delegated Admin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CZK</name>
        <label>Set CZK</label>
        <locationX>4010</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CZK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_EMEA_Group</name>
        <label>Set EMEA</label>
        <locationX>4032</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Var_Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMEA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Corporate_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Estimator</name>
        <label>Set Estimator</label>
        <locationX>2712</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Estimator</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_EUR</name>
        <label>Set EUR</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Facilities_CorpType</name>
        <label>Set Facilities</label>
        <locationX>3372</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>Var_Corporate_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facilities</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marketing_User_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FM</name>
        <label>Set FM</label>
        <locationX>1964</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GBP</name>
        <label>Set GBP</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Global_Delegated_Admin</name>
        <label>Set Global Delegated Admin</label>
        <locationX>5352</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Global Delegated Admin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group</name>
        <label>Set Group</label>
        <locationX>644</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_CorpType</name>
        <label>Set Group</label>
        <locationX>3900</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>Var_Corporate_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marketing_User_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_Region</name>
        <label>Set Group</label>
        <locationX>3768</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Var_Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Corporate_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hard_Services</name>
        <label>Set Hard Services</label>
        <locationX>6364</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hard Services</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HUF</name>
        <label>Set HUF</label>
        <locationX>3482</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HUF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IDR</name>
        <label>Set IDR</label>
        <locationX>2162</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IDR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_India</name>
        <label>Set India</label>
        <locationX>2756</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>India</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Indonesia</name>
        <label>Set Indonesia</label>
        <locationX>3020</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Indonesia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_INR</name>
        <label>Set INR</label>
        <locationX>1634</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Ireland</name>
        <label>Set Ireland</label>
        <locationX>5572</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ireland</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_KHR</name>
        <label>Set KHR</label>
        <locationX>2426</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KHR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Legal</name>
        <label>Set Legal</label>
        <locationX>3504</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Malaysia</name>
        <label>Set Malaysia</label>
        <locationX>3284</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Malaysia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Marketing_User</name>
        <label>Set Marketing User</label>
        <locationX>4296</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Marketing_User_Var</name>
        <label>Set Marketing User Var</label>
        <locationX>3636</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>Var_Marketing_User</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Currency_Update_Required_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MYR</name>
        <label>Set MYR</label>
        <locationX>2690</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MYR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Zealand</name>
        <label>Set New Zealand</label>
        <locationX>2492</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Zealand</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NPS_Scheduler</name>
        <label>Set NPS Scheduler</label>
        <locationX>3768</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NPS Scheduler</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NPS_Surveyor</name>
        <label>Set NPS Surveyor</label>
        <locationX>4032</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NPS Surveyor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NZD</name>
        <label>Set NZD</label>
        <locationX>842</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NZD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Philippines</name>
        <label>Set Philippines</label>
        <locationX>3724</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Philippines</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PHP</name>
        <label>Set PHP</label>
        <locationX>3218</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PHP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PLN</name>
        <label>Set PLN</label>
        <locationX>3746</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PLN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Principal_Bid_Manager</name>
        <label>Set Principal Bid Manager</label>
        <locationX>3240</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Principal Bid Manager</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Private_FM</name>
        <label>Set Private FM</label>
        <locationX>908</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Private FM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Public_FM</name>
        <label>Set Public FM</label>
        <locationX>1172</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Public FM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Qatar</name>
        <label>Set Qatar</label>
        <locationX>3988</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qatar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Region_UK_I</name>
        <label>Set UK&amp;I</label>
        <locationX>3240</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Var_Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UK&amp;I</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Corporate_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Regional_Delegated_Admin</name>
        <label>Set Regional Delegated Admin</label>
        <locationX>5088</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regional Delegated Admin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RON</name>
        <label>Set RON</label>
        <locationX>4274</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RON</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sales_User</name>
        <label>Set Sales User</label>
        <locationX>1656</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SAR</name>
        <label>Set SAR</label>
        <locationX>1370</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Saudi_Arabia</name>
        <label>Set Saudi Arabia</label>
        <locationX>4252</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Saudi Arabia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Security</name>
        <label>Set Security</label>
        <locationX>6628</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Security</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Senior_Chair</name>
        <label>Set Senior Chair</label>
        <locationX>2448</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Senior Chair</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SGD</name>
        <label>Set SGD</label>
        <locationX>2954</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SGD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Singapore</name>
        <label>Set Singapore</label>
        <locationX>4516</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Singapore</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_System_Administrator</name>
        <label>Set System Administrator</label>
        <locationX>5616</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Telemarketing</name>
        <label>Set Telemarketing</label>
        <locationX>4560</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_ProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Telemarketing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Unit_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Thailand</name>
        <label>Set Thailand</label>
        <locationX>5308</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thailand</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_THB</name>
        <label>Set THB</label>
        <locationX>1898</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Var_Output_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>THB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UAE</name>
        <label>Set UAE</label>
        <locationX>4780</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UK_IRE</name>
        <label>Set UK &amp; IRE</label>
        <locationX>1436</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UK &amp; IRE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Set Automotive User Currency based on Country</description>
        <name>Automotive_Currency_Decision</name>
        <label>Automotive Currency</label>
        <locationX>4846</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Set_Automotive_EURO_Currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not UK</defaultConnectorLabel>
        <rules>
            <name>UK_Automotive_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Automotive_GBP_Currency</targetReference>
            </connector>
            <label>UK Automotive User?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_Unit_Decision</name>
        <label>Business Unit Decision</label>
        <locationX>3768</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Region_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCS_Group_System_Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCS_Group_Senior_Chair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCS_Group_Global_Delegated_Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group</targetReference>
            </connector>
            <label>Group</label>
        </rules>
        <rules>
            <name>Private_FM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>_FM_Private_Sector_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Private_FM</targetReference>
            </connector>
            <label>Private FM</label>
        </rules>
        <rules>
            <name>Public_FM_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>_FM_Public_Sector_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Public_FM</targetReference>
            </connector>
            <label>Public FM</label>
        </rules>
        <rules>
            <name>UK_IRE_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK_I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_NPS_Surveyor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_NPS_Scheduler</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK_I_Client_Solutions_Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK_I_Client_Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_Principal_Bid_Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK_I_Bid_Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_Estimator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK_I_Senior_Team_Chairs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_Telemarketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UK_IRE</targetReference>
            </connector>
            <label>UK &amp; IRE</label>
        </rules>
        <rules>
            <name>APAC_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC &amp; ME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_APAC_ME</targetReference>
            </connector>
            <label>APAC</label>
        </rules>
        <rules>
            <name>Facilities_Management_FM_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facilities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FM</targetReference>
            </connector>
            <label>Facilities Management (FM)</label>
        </rules>
        <rules>
            <name>Australia_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ANZ_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Australia</targetReference>
            </connector>
            <label>Australia</label>
        </rules>
        <rules>
            <name>New_Zealand_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ANZ_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Zealand</targetReference>
            </connector>
            <label>New Zealand</label>
        </rules>
        <rules>
            <name>India_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>India_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_India</targetReference>
            </connector>
            <label>India</label>
        </rules>
        <rules>
            <name>Indonesia_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Indonesia_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Indonesia</targetReference>
            </connector>
            <label>Indonesia</label>
        </rules>
        <rules>
            <name>Malaysia_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Malaysia_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Malaysia</targetReference>
            </connector>
            <label>Malaysia</label>
        </rules>
        <rules>
            <name>Mid_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>MidCity_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region_Decision</targetReference>
            </connector>
            <label>Mid City</label>
        </rules>
        <rules>
            <name>Philippines_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Philippines_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Philippines</targetReference>
            </connector>
            <label>Philippines</label>
        </rules>
        <rules>
            <name>Qatar_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Qatar_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Qatar</targetReference>
            </connector>
            <label>Qatar</label>
        </rules>
        <rules>
            <name>Saudi_Arabia_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Saudi_Arabia_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Saudi_Arabia</targetReference>
            </connector>
            <label>Saudi Arabia</label>
        </rules>
        <rules>
            <name>Singapore_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Singapore_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Singapore</targetReference>
            </connector>
            <label>Singapore</label>
        </rules>
        <rules>
            <name>UAE_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>UAE_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UAE</targetReference>
            </connector>
            <label>UAE</label>
        </rules>
        <rules>
            <name>Cambodia_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Cambodia_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cambodia</targetReference>
            </connector>
            <label>Cambodia</label>
        </rules>
        <rules>
            <name>Thailand_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Thailand_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Thailand</targetReference>
            </connector>
            <label>Thailand</label>
        </rules>
        <rules>
            <name>Ireland_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>_Ireland_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Ireland</targetReference>
            </connector>
            <label>Ireland</label>
        </rules>
        <rules>
            <name>Catering_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>_Catering_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Catering</targetReference>
            </connector>
            <label>Catering</label>
        </rules>
        <rules>
            <name>Cleaning_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>_Cleaning_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cleaning</targetReference>
            </connector>
            <label>Cleaning</label>
        </rules>
        <rules>
            <name>Hard_Services_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>_Hard_Services_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hard_Services</targetReference>
            </connector>
            <label>Hard Services</label>
        </rules>
        <rules>
            <name>Security_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>_Security_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Security</targetReference>
            </connector>
            <label>Security</label>
        </rules>
    </decisions>
    <decisions>
        <name>Corporate_Type_Decision</name>
        <label>Corporate Type Decision</label>
        <locationX>3768</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Marketing_User_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facilities_CorpType_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK&amp;I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Facilities_CorpType</targetReference>
            </connector>
            <label>Facilities</label>
        </rules>
        <rules>
            <name>Automotive_CorpType_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Automotive_CorpType</targetReference>
            </connector>
            <label>Automotive</label>
        </rules>
        <rules>
            <name>Group_CorpType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_CorpType</targetReference>
            </connector>
            <label>Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Currency_Decision</name>
        <label>Facilities Currency</label>
        <locationX>2294</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Get_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue - No Action Required</defaultConnectorLabel>
        <rules>
            <name>GBP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GBP</targetReference>
            </connector>
            <label>GBP</label>
        </rules>
        <rules>
            <name>EUR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Luxembourg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovakia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_EUR</targetReference>
            </connector>
            <label>EUR</label>
        </rules>
        <rules>
            <name>AUD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AUD</targetReference>
            </connector>
            <label>AUD</label>
        </rules>
        <rules>
            <name>NZD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NZD</targetReference>
            </connector>
            <label>NZD</label>
        </rules>
        <rules>
            <name>AED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Arab Emirates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AED</targetReference>
            </connector>
            <label>AED</label>
        </rules>
        <rules>
            <name>SER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SAR</targetReference>
            </connector>
            <label>SAR</label>
        </rules>
        <rules>
            <name>INR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INR</targetReference>
            </connector>
            <label>INR</label>
        </rules>
        <rules>
            <name>THB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thailand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_THB</targetReference>
            </connector>
            <label>THB</label>
        </rules>
        <rules>
            <name>IDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indonesia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IDR</targetReference>
            </connector>
            <label>IDR</label>
        </rules>
        <rules>
            <name>KHR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambodia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_KHR</targetReference>
            </connector>
            <label>KHR</label>
        </rules>
        <rules>
            <name>MYR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malaysia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MYR</targetReference>
            </connector>
            <label>MYR</label>
        </rules>
        <rules>
            <name>SGD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SGD</targetReference>
            </connector>
            <label>SGD</label>
        </rules>
        <rules>
            <name>PHP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Philippines</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PHP</targetReference>
            </connector>
            <label>PHP</label>
        </rules>
        <rules>
            <name>HUF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hungary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HUF</targetReference>
            </connector>
            <label>HUF</label>
        </rules>
        <rules>
            <name>PLN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PLN</targetReference>
            </connector>
            <label>PLN</label>
        </rules>
        <rules>
            <name>CZK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Czech Republic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CZK</targetReference>
            </connector>
            <label>CZK</label>
        </rules>
        <rules>
            <name>RON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Romania</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RON</targetReference>
            </connector>
            <label>RON</label>
        </rules>
    </decisions>
    <decisions>
        <description>Currency Update For Facilities &amp; Group</description>
        <name>Currency_Update_Required_Decision</name>
        <label>Currency Update Required?</label>
        <locationX>3768</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Get_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Facilities_Currency_Outcome</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_User_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_Corporate_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facilities</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_Corporate_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_Decision</targetReference>
            </connector>
            <label>Yes - Update Facilities Currency</label>
        </rules>
        <rules>
            <name>Yes_Update_Automotive_Currency_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_User_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_UserCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_Corporate_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automotive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automotive_Currency_Decision</targetReference>
            </connector>
            <label>Yes - Update Automotive Currency</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the User need Marketing User tickbox ticked</description>
        <name>Marketing_User_Decision</name>
        <label>Marketing User?</label>
        <locationX>3768</locationX>
        <locationY>1442</locationY>
        <defaultConnector>
            <targetReference>Currency_Update_Required_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_ProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marketing_User_Var</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profile_Decision</name>
        <label>Profile Decision</label>
        <locationX>3768</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>None - Stop</defaultConnectorLabel>
        <rules>
            <name>Sales_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>_Sales_Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>_Director_Head_Of</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_User</targetReference>
            </connector>
            <label>Sales User</label>
        </rules>
        <rules>
            <name>Account_Mgr_Level1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>_Account_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Manager_Level_1</targetReference>
            </connector>
            <label>Account Mgr - 1</label>
        </rules>
        <rules>
            <name>Account_Mgr_Level2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>_Contract_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Manager_Level_2</targetReference>
            </connector>
            <label>Account Mgr - 2</label>
        </rules>
        <rules>
            <name>Senior_Chair_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCS_Group_Senior_Chair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facilities</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC_OCS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC_ANZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MidCity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC_PCS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK_I_Client_Solutions_Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK_I_Client_Solutions_Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK_I_Senior_Team_Chairs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Senior_Chair</targetReference>
            </connector>
            <label>Senior Chair</label>
        </rules>
        <rules>
            <name>Estimator_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_Estimator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Estimator</targetReference>
            </connector>
            <label>Estimator</label>
        </rules>
        <rules>
            <name>Bid_Manager_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK_I_Bid_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bid_Manager</targetReference>
            </connector>
            <label>Bid Manager</label>
        </rules>
        <rules>
            <name>Principal_Bid_Manager_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_Principal_Bid_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Principal_Bid_Manager</targetReference>
            </connector>
            <label>Principal Bid Manager</label>
        </rules>
        <rules>
            <name>Legal_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Legal</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
        <rules>
            <name>NPS_Scheduler_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_NPS_Scheduler</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NPS_Scheduler</targetReference>
            </connector>
            <label>NPS Scheduler</label>
        </rules>
        <rules>
            <name>NPS_Surveyor_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_NPS_Surveyor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NPS_Surveyor</targetReference>
            </connector>
            <label>NPS Surveyor</label>
        </rules>
        <rules>
            <name>Marketing_User_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>_Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marketing_User</targetReference>
            </connector>
            <label>Marketing User</label>
        </rules>
        <rules>
            <name>Telemarketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI_Telemarketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Telemarketing</targetReference>
            </connector>
            <label>Telemarketing</label>
        </rules>
        <rules>
            <name>Country_Delegated_Admin_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>_Country_Delegated_Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK_I</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Country_Delegated_Admin</targetReference>
            </connector>
            <label>Country Delegated Admin</label>
        </rules>
        <rules>
            <name>Regional_Delegated_Admin_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>_Regional_Delegated_Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Regional_Delegated_Admin</targetReference>
            </connector>
            <label>Regional Delegated Admin</label>
        </rules>
        <rules>
            <name>Global_Delegated_Admin_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCS_Group_Global_Delegated_Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Global_Delegated_Admin</targetReference>
            </connector>
            <label>Global Delegated Admin</label>
        </rules>
        <rules>
            <name>System_Administrator_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputVar_ProvisionedRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCS_Group_System_Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_System_Administrator</targetReference>
            </connector>
            <label>System Administrator</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set Region based on Business Unit Value</description>
        <name>Region_Decision</name>
        <label>Region Decision</label>
        <locationX>3768</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Corporate_Type_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UK_IRE_Region_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleaning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hard Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private FM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public FM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK &amp; IRE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Region_UK_I</targetReference>
            </connector>
            <label>UK &amp; IRE</label>
        </rules>
        <rules>
            <name>APAC_ME_Region_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC &amp; ME</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bangladesh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambodia AS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambodia OCS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central Engineering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Education</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Foodhouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Healthcare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indonesia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malaysia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manufacturing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Philippines</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thailand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_APAC_ME_Region</targetReference>
            </connector>
            <label>APAC &amp; ME</label>
        </rules>
        <rules>
            <name>Group_Region_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_Region</targetReference>
            </connector>
            <label>Group</label>
        </rules>
        <rules>
            <name>EMEA_Region_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aktrion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benelux</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Czech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hungary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Romania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovakia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_BusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_EMEA_Group</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Config_Switch</name>
        <label>Validate Config Switch</label>
        <locationX>5814</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Automation Disabled</defaultConnectorLabel>
        <rules>
            <name>Automation_Enabled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Migration_Flows_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Profile_Decision</targetReference>
            </connector>
            <label>Automation Enabled</label>
        </rules>
    </decisions>
    <description>Autolaunched Flow called by User After Save Flow to set Profile + Role from String Role API Name value provided and then set all other accompanying information (Region, Corporate Type, Currency, Marketing User etc)</description>
    <environments>Default</environments>
    <interviewLabel>User: Provisioning: Set User Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: Provisioning: Set User Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>3768</locationX>
        <locationY>2342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Notify_Salesforce_CoE_Mailbox</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ProfileName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Role</name>
        <label>Get Role</label>
        <locationX>3768</locationX>
        <locationY>2234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Profile</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Notify_Salesforce_CoE_Mailbox</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputVar_ProvisionedRoleName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>3768</locationX>
        <locationY>2450</locationY>
        <faultConnector>
            <targetReference>Notify_Salesforce_CoE_Mailbox</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputVar_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>Var_BusinessUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corporate_Type__c</field>
            <value>
                <elementReference>Var_Corporate_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Var_Output_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DefaultCurrencyIsoCode</field>
            <value>
                <elementReference>Var_Output_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Var_Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsMarketingUser</field>
            <value>
                <elementReference>Var_Marketing_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <elementReference>Get_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>5688</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Config_Switch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>7068</locationX>
        <locationY>2666</locationY>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>User: Provisioning: Set Role + Profile + Business Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>InputVar_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>InputVar_Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputVar_ProvisionedRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputVar_User_IsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InputVar_UserCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputVar_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_BusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Corporate_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Marketing_User</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_Output_Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>InputVar_Currency</elementReference>
        </value>
    </variables>
    <variables>
        <name>Var_ProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
