Agentforce/force-app/main/default/flows/User_Provision_Permission_Set_Groups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Count filtered PSG assignment records to be used in Decision to determine if PSG Changes are Required</description>
        <name>Count_Filtered_Records</name>
        <label>Count Filtered Records</label>
        <locationX>798</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>Var_Count_Filtered_PSGs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Existing_PSGs_Correct_PSG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Profile_PSG_Changes_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count filtered PSG assignment records to be used in Decision to determine if Ad-Hoc NPS PSG Changes are required or not</description>
        <name>Count_Filtered_Records_2</name>
        <label>Count Filtered Records</label>
        <locationX>798</locationX>
        <locationY>2591</locationY>
        <assignmentItems>
            <assignToReference>Var_Count_Filtered_PSGs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Existing_PSGs_Ad_Hoc_NPS_Surveyor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NPS_Surveyor_User_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_New</name>
        <label>Set Is New</label>
        <locationX>1458</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>v_isNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_isNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filter the collection of user assigned PSGs with criteria PSG Id = Id of Ad-Hoc NPS Surveyor PSG.
Used in Decision element since if it is NULL the Ad-Hoc NPS PSG is NOT currently assigned. If it is not NULL then Ad-Hoc NPS PSG is already assigned.</description>
        <name>Filter_Existing_PSGs_Ad_Hoc_NPS_Surveyor</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Existing PSGs - Ad-Hoc NPS Surveyor</label>
        <locationX>798</locationX>
        <locationY>2483</locationY>
        <assignNextValueToReference>currentItem_Filter_Existing_PSGs_Ad_Hoc_NPS_Surveyor</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_User_Assigned_PSGs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_PSGs_Ad_Hoc_NPS_Surveyor.PermissionSetGroupId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Ad_Hoc_NPS_Surveyor_PSG.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Filtered_Records_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filter Collection of currently Assigned PSGs using criteria PSG Id = Correct PSG Id (the one that needs to be assigned based on the User Profile). This will return 1 record if the correct PSG is already assigned and 0 records if correct PSG is not already assigned.
The returned records are counted in the following step.</description>
        <name>Filter_Existing_PSGs_Correct_PSG</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Existing PSGs - Correct PSG</label>
        <locationX>798</locationX>
        <locationY>1463</locationY>
        <assignNextValueToReference>currentItem_Filter_Existing_PSGs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_User_Assigned_PSGs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_PSGs.PermissionSetGroupId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>v_Correct_PSG_Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Filtered_Records</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>1458</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>User_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Active</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Required</name>
        <label>Delete Required?</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Assign_Correct_Permission_Set_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing to Delete</defaultConnectorLabel>
        <rules>
            <name>Delete_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_PSG_Assignments_for_Deletion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Incorrect_Permission_Set_Assignments</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Licence_Type</name>
        <label>Licence Type</label>
        <locationX>798</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Unlimited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Licence_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ad_Hoc_NPS_Surveyor_PSG</targetReference>
            </connector>
            <label>Unlimited</label>
        </rules>
        <rules>
            <name>Platform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Licence_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Platform</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ad_Hoc_NPS_Surveyor_PSG</targetReference>
            </connector>
            <label>Platform</label>
        </rules>
        <rules>
            <name>Identity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Licence_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identity</stringValue>
                </rightValue>
            </conditions>
            <label>Identity</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the User being updated needs to have the Ad-Hoc NPS Surveyor Perm Set Group Assigned/Unassigned or No Action Required and Continue.</description>
        <name>NPS_Surveyor_User_Check</name>
        <label>NPS Surveyor User Check</label>
        <locationX>798</locationX>
        <locationY>2699</locationY>
        <defaultConnectorLabel>Continue - No Action Required</defaultConnectorLabel>
        <rules>
            <name>Assign_NPS_Surveyor</name>
            <conditionLogic>((1 OR 2) AND 3) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>v_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NPS_Surveyor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NPS_Surveyor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_Count_Filtered_PSGs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ad_Hoc_NPS_Surveyor_Perm_Set_Group</targetReference>
            </connector>
            <label>Assign NPS Surveyor</label>
        </rules>
        <rules>
            <name>Unassign_NPS_Surveyor_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NPS_Surveyor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NPS_Surveyor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_Count_Filtered_PSGs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unassign_Ad_Hoc_NPS_Surveyor_Perm_Set_Group</targetReference>
            </connector>
            <label>Unassign NPS Surveyor</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Count of PSGs = 0 then therefore correct PSG is NOT currently assigned and changes are required. Otherwise correct PSG is already assigned.</description>
        <name>Profile_PSG_Changes_Required</name>
        <label>Profile PSG Changes Required?</label>
        <locationX>798</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Filter_Existing_PSGs_Ad_Hoc_NPS_Surveyor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip to NPS Surveyor User Check</defaultConnectorLabel>
        <rules>
            <name>Yes_Change_Profile_PSG_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Count_Filtered_PSGs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_Correct_PSG_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_PSG_Assignments_for_Deletion</targetReference>
            </connector>
            <label>Yes - Change Profile PSG</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only Continue if User is Active</description>
        <name>User_Active</name>
        <label>User Active?</label>
        <locationX>1458</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>No - Stop</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Licence_Type</targetReference>
            </connector>
            <label>Yes - Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Config_Switch</name>
        <label>Validate Config Switch</label>
        <locationX>1920</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automation_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.OCS_Config_Settings_CSH__c.Flows_Disabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_New</targetReference>
            </connector>
            <label>Automation Enabled</label>
        </rules>
    </decisions>
    <description>Flow to Assign/Unassign Permission Set Groups to/from Users as appropriate based on Profile and Ad-Hoc NPS Surveyor.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>User: Provision Permission Set Groups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: Provision Permission Set Groups</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Ad_Hoc_NPS_Surveyor_Perm_Set_Group</name>
        <label>Assign Ad-Hoc NPS Surveyor Perm Set Group</label>
        <locationX>270</locationX>
        <locationY>2807</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>Get_Ad_Hoc_NPS_Surveyor_PSG.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Correct_Permission_Set_Group</name>
        <label>Assign Correct Permission Set Group</label>
        <locationX>314</locationX>
        <locationY>2243</locationY>
        <connector>
            <targetReference>Filter_Existing_PSGs_Ad_Hoc_NPS_Surveyor</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>v_Correct_PSG_Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>Remove all PSG Assignments for the User where the PSG is not Ad-Hoc NPS Surveyor and is not the correct PSG as per the User&apos;s Profile.</description>
        <name>Remove_Incorrect_Permission_Set_Assignments</name>
        <label>Remove Incorrect Permission Set Assignments</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Assign_Correct_Permission_Set_Group</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>Get_Current_PSG_Assignments_for_Deletion</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Unassign_Ad_Hoc_NPS_Surveyor_Perm_Set_Group</name>
        <label>Unassign Ad-Hoc NPS Surveyor Perm Set Group</label>
        <locationX>798</locationX>
        <locationY>2807</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Ad_Hoc_NPS_Surveyor_PSG.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordLookups>
        <description>Get Ad-Hoc NPS Surveyor Perm Set Group and store the ID to be used later in the Flow</description>
        <name>Get_Ad_Hoc_NPS_Surveyor_PSG</name>
        <label>Get Ad-Hoc NPS Surveyor PSG</label>
        <locationX>798</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Assigned_PSGs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AdHoc_NPS_Surveyor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Incorrect PSG Assignments for the User to be deleted in the Next step. Built this way to avoid 0 Record deletion error.

Incorrect PSG Assignments are those where the PSG is not Ad-Hoc NPS Surveyor and is not the correct PSG as per the User&apos;s Profile.</description>
        <name>Get_Current_PSG_Assignments_for_Deletion</name>
        <label>Get Current PSG Assignments for Deletion</label>
        <locationX>314</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Required</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Ad_Hoc_NPS_Surveyor_PSG.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>v_Correct_PSG_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Assigned_PSGs</name>
        <label>Get User&apos;s Assigned PSGs</label>
        <locationX>798</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Permission_Set_Group</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1794</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Config_Switch</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_User_Permission_Set_Group</name>
        <label>Get User Permission Set Group</label>
        <locationX>798</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Filter_Existing_PSGs_Correct_PSG</targetReference>
        </connector>
        <flowName>User_Get_Permission_Set_Groups</flowName>
        <inputAssignments>
            <name>v_recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUserProfile</name>
            <value>
                <elementReference>$Record.Profile.Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>v_Correct_PSG_Id</assignToReference>
            <name>v_Correct_PSG_Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Permission_Set_Group_Dev_Name</assignToReference>
            <name>v_Permission_Set_Group_Dev_Name</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUserProfile</assignToReference>
            <name>vUserProfile</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>1062</locationX>
        <locationY>2915</locationY>
        <flowName>Utility_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Messages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OriginName</name>
            <value>
                <stringValue>User: Provision User Configuration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_Existing_PSGs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Existing_PSGs_Ad_Hoc_NPS_Surveyor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>v_Correct_PSG_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Permission_Set_Group_Dev_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Count_Filtered_PSGs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vExistingPSGAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>vUserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
